*.class

# Package Files #
*.ear

# IntelliJ Files
*.iml
*.ipr
*.iws
**/.idea
atlassian-ide-plugin.xml

# NetBeans
nbproject

# Eclipse
.classpath
.project
.settings
**/.springBeans

# VSCode
**/.vscode/*
!**/.vscode/extensions.json

# Buildtools
build.properties
mvn.properties
.checkstyle
maven-ant-tasks-*.jar

#protege
**/catalog-v001.xml

# General
logs
output
target
work
*.tmp
thumbs.db
Thumbs.db
bin/setenv.*
.DS_Store

#application specific
/webofneeds/won-cryptography/keys.jks
/webofneeds/won-node/src/main/resources.lan/*
/webofneeds/won-owner/src/main/resources.lan/*
/webofneeds/won-matcher-solr/overlays/*
/webofneeds/won-matcher-webapp/overlays
/webofneeds/won-owner-webapp/src/main/webapp/node
/webofneeds/won-owner-webapp/src/main/webapp/node_modules
/webofneeds/won-owner-webapp/src/main/webapp/yarn.lock
/webofneeds/won-owner-webapp/src/main/webapp/yarn-error.log
/webofneeds/won-owner-webapp/src/main/webapp/.tern-project
/webofneeds/won-owner-webapp/app/config.js
webofneeds/won-docker/image/bots/bots.jar
webofneeds/won-docker/image/bots/conf/
webofneeds/won-docker/image/matcher-rescal/conf/
webofneeds/won-docker/image/matcher-rescal/python/
webofneeds/won-docker/image/matcher-rescal/won-matcher-rescal.jar
webofneeds/won-docker/image/matcher-service/conf/
webofneeds/won-docker/image/matcher-service/won-matcher-service.jar
webofneeds/won-docker/image/matcher-solr/conf/
webofneeds/won-docker/image/matcher-solr/won-matcher-solr.jar
webofneeds/won-docker/image/matcher-sparql/conf/
webofneeds/won-docker/image/matcher-sparql/won-matcher-sparql.jar
webofneeds/won-docker/image/owner/conf/
webofneeds/won-docker/image/owner/owner.war
webofneeds/won-docker/image/owner/required-libs/
webofneeds/won-docker/image/wonnode/conf/
webofneeds/won-docker/image/wonnode/required-libs/
webofneeds/won-docker/image/wonnode/won.war
webofneeds/won-docker/deploy/local_build/mongodb
webofneeds/won-docker/deploy/local_build/postgres
webofneeds/won-docker/deploy/local_build/bigdata
webofneeds/won-docker/deploy/local_build/won-client-certs
webofneeds/won-docker/deploy/local_build/won-server-certs
webofneeds/won-utils/won-utils-import/sample_atoms/

#local config and data
webofneeds/conf.*
/webofneeds/data.local
webofneeds/state.config.properties
webofneeds/won.log
certs

#local package caches
bower_components/
node_modules/
jspm_packages/

#generated files (e.g. styles)
**/generated/
