*.class

# Package Files #
*.ear

# IntelliJ Files
*.iml
*.ipr
*.iws
/*/.idea
*/.idea

# NetBeans
nbproject

# Eclipse
.classpath
.project
.settings

# Buildtools
build.properties
mvn.properties
.checkstyle
maven-ant-tasks-*.jar

# General
logs
output
target
work
*.tmp
thumbs.db
Thumbs.db
bin/setenv.*

#application specific
/needserver/repository
/webofneeds/won-node/src/main/resources.lan/*
/webofneeds/won-owner/src/main/resources.lan/*

#local config
webofneeds/conf.local
