{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-object-rest-spread",
    "transform-custom-element-classes"
  ]
}
