<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>WON Node Webapp</display-name>

    <!-- SPRING config -->

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/spring-ws-servlet.xml
            classpath:services.xml
            classpath:applicationContext.xml
        </param-value>
    </context-param>


    <!-- WEB SERVICES -->


    <listener>
        <listener-class>
            com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>wonProtocolJaxWSServlet</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>wonProtocolJaxWSServlet</servlet-name>
        <url-pattern>/won/*</url-pattern>
    </servlet-mapping>


    <!-- JAX-RS (REST) config -->

    <servlet>
        <servlet-name>jerseySpringWebapp</servlet-name>
        <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>won.node.rest</param-value>
        </init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jerseySpringWebapp</servlet-name>
        <url-pattern>/won/*</url-pattern>
    </servlet-mapping>

    <!-- SPRING WEB MVC config -->
    <servlet>
        <servlet-name>linkedDataPageServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>linkedDataPageServlet</servlet-name>
        <url-pattern>/won/page/*</url-pattern>
    </servlet-mapping>

    <!-- GENERAL -->

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
