<won-modal-dialog ng-if="self.showModalDialog"></won-modal-dialog>
<div class="won-modal-atomview" ng-if="self.showAtomOverlay">
    <won-post-info include-header="true" atom-uri="self.viewAtomUri"></won-post-info>
</div>
<div class="won-modal-connectionview" ng-if="self.showConnectionOverlay">
    <won-post-messages connection-uri="self.viewConnUri"></won-post-messages>
</div>
<header>
    <won-topnav></won-topnav>
</header>
<won-toasts></won-toasts>
<won-slide-in ng-if="self.showSlideIns"></won-slide-in>
<main class="ownermap">
    <div class="ownermap__deniedlocation" ng-if="self.isLocationAccessDenied">
        <svg class="ownermap__deniedlocation__icon">
            <use xlink:href="#ico16_indicator_error" href="#ico16_indicator_error"></use>
        </svg>
        <div class="ownermap__deniedlocation__label">You prohibit us from retrieving your location, so we won't be able to show you what's around. If you want to change that, grant access to the location in your browser and reload the page.</div>
    </div>
    <div class="ownermap__nolocation" ng-if="!self.currentLocation && !self.isLocationAccessDenied">
        <svg class="ownermap__nolocation__icon">
            <use xlink:href="#ico36_detail_location" href="#ico36_detail_location"></use>
        </svg>
        <div class="ownermap__nolocation__label">You did not grant location access yet. <span class="show-in-responsive">Tap</span><span class="hide-in-responsive">Click</span> the button below and accept the location access to see what is going on around you.</div>
        <div class="ownermap__nolocation__button won-button--filled red" ng-click="self.reload()">See What's Around</div>
    </div>
    <div class="ownermap__header" ng-if="self.currentLocation && !self.isLocationAccessDenied">
        <div class="ownermap__header__title">
            <span class="ownermap__header__title__label">What's around:</span>
            <span class="ownermap__header__title__location">
                <svg class="ownermap__header__title__location__icon">
                    <use xlink:href="#ico36_detail_location" href="#ico36_detail_location"></use>
                </svg>
                <span class="ownermap__header__title__location__label">{{self.currentLocationName}}</span>
            </span>
        </div>
        <div class="ownermap__header__loading" ng-if="self.isOwnerAtomUrisLoading">
            Loading...
        </div>
        <div class="ownermap__header__updated" ng-if="!self.isOwnerAtomUrisLoading">
            <div class="ownermap__header__updated__time">
                Updated: {{ self.friendlyLastAtomUrisUpdateTimestamp }}
            </div>
            <div class="ownermap__header__updated__reload won-button--filled red" ng-click="self.reload()">
                Reload
            </div>
        </div>
    </div>
    <won-atom-map class="ownermap__map hide-in-responsive" locations="self.locations" add-current-location ng-if="!self.isOwnerAtomUrisToLoad && self.currentLocation && !self.isLocationAccessDenied">
    </won-atom-map>
    <div class="ownermap__content" ng-if="self.currentLocation && !self.isLocationAccessDenied && self.hasVisibleAtomUris">
        <won-atom-card class="ownermap__content__atom" atom-uri="atomUri" ng-repeat="atomUri in self.sortedVisibleAtomUriArray track by atomUri" ng-if="self.hasVisibleAtomUris"></won-atom-card>
    </div>
    <div class="ownermap__noresults" ng-if="self.currentLocation && !self.isLocationAccessDenied && !self.hasVisibleAtomUris">
        Nothing around this location, you can try another location by clicking on the location in the header.
    </div>
</main>
<won-footer></won-footer>