:root {
  --skinning-test-var:  rgb(165, 14, 185);
  --won-primary-color: #326191;
  --won-secondary-color: #012f2d;
  --won-secondary-color-light: #35BCB2;
  --won-secondary-color-lighter: #76C1AC;
  --won-disabled-color: #CCD2D2;

  --won-light-gray: #F0F2F4; /*used for headings*/
  --won-lighter-gray: #F8F9F9; /*used for background*/
  --won-line-gray: #CBD2D1; /*use for lines*/
  --won-subtitle-gray: #808080;
  --won-helpbox-yellow: #FFFCE5;
  --won-dark-purple: #673A68;
  --won-dark-gray: #303A43;
}