:root {
  --skinning-test-var:  rgb(165, 14, 185);
  --won-primary-color: #326191;
  --won-secondary-color: #012f2d;
  --won-secondary-color-light: #35BCB2;
  --won-secondary-color-lighter: #76C1AC;
}