:root {
  --won-primary-color: #0073ce;
  --won-primary-color-light: #66ade6;
  --won-secondary-color: #7a1616;
  --won-secondary-color-light: #ad3a3a;
  --won-secondary-color-lighter: #e37b7b;
  --won-disabled-color: #ccd2d2;

  --won-light-gray: #f0f2f4; /*used for headings*/
  --won-lighter-gray: #f8f9f9; /*used for background*/
  --won-line-gray: #cbd2d1; /*use for lines*/
  --won-subtitle-gray: #808080;
  --won-helpbox-yellow: #fffce5;
  --won-dark-purple: #673a68;
  --won-dark-gray: #303a43;
}
