:root {
  --won-primary-color: #56db9b;
  --won-primary-color-light: #b6dbc4;
  --won-secondary-color: #5696db;
  --won-secondary-color-light: #7ea7db;
  --won-secondary-color-lighter: #a1b6db;
  --won-disabled-color: #ccd2d2;

  --won-light-gray: #f0f2f4; /*used for headings*/
  --won-lighter-gray: #f8f9f9; /*used for background*/
  --won-line-gray: #cbd2d1; /*use for lines*/
  --won-subtitle-gray: #808080;
  --won-helpbox-yellow: #fffce5;

  --won-unread: #ccdff5; /*If you want to indicate the unread status with a background (maybe in addition to a marker), use this slightly less in your face color*/
  --won-unread-attention: #5696db; /*Bold color used for markers that indicate an unread status of an element*/

  --won-dark-purple: #005cdb;
  --won-dark-gray: #303a43;
  --won-primary-text-color: #000000;
  --won-secondary-text-color: #ffffff;
  --won-skeleton-color: #ccd2d2;
}
