<div>
	<style type="text/css">
		.conversation-panel {
			width: 265px;
			height: 100px;
			position: absolute;
			right: -290px;
			top: 0;
		}
	</style>

	<div class="row" style="padding-top: 1em; padding-bottom: 1em">
		<div class="col-lg-2">
			<div class="btn-group" style="width: 100%;">
				<button type="button" class="btn btn-default" style="width:80%;">All need types</button>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
				        style="width:20%;" ng-model="model.selectedNeedType"><span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#" ng-click="">Demand</a></li>
					<li><a href="#">Supply</a></li>
					<li><a href="#">Do together</a></li>
					<li><a href="#">Critique</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="row">
				<div class="col-lg-4">
					<button type="button" class="btn btn-default" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"
					        ng-model="model.btnSuggestions"
					        style="width: 100%">
						Suggestions
					</button>
				</div>
				<div class="col-lg-4">
					<div class="btn-group" style="width: 100%">
						<button type="button" class="btn btn-default" style="width: 80%" btn-checkbox ng-model="model.btnRequests"
						        btn-checkbox-true="1" btn-checkbox-false="0">{{ model.requestType }}</button>
						<button type="button" class="btn btn-default dropdown-toggle" style="width: 20%"
						        data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li ng-show="model.requestType != 'All Requests'"><a href="#">All Requests</a></li>
							<li ng-show="model.requestType != 'Incoming Requests'"><a href="#">Incoming Requests</a></li>
							<li ng-show="model.requestType != 'Outgoing Requests'"><a href="#">Outgoing Requests</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<button type="button" style="width: 100%" class="btn btn-default" btn-checkbox btn-checkbox-true="1"
					        btn-checkbox-false="0"
					        ng-model="model.btnConversations">
						Conversations
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<!--div class="row" style="padding-bottom: 1em">
				<div class="col-lg-12">
					<button style="width:100%" type="button" class="btn btn-default" btn-checkbox btn-checkbox-true="1"
					        btn-checkbox-false="0"
					        ng-model="buttons.suggestions">
						All Owned needs
					</button>
				</div>
			</div-->
			<div class="row">
				<div class="col-lg-12" style="padding-bottom: 1em">
					<button style="width:100%" class="btn btn-default" btn-checkbox btn-checkbox-true="1"
					        btn-checkbox-false="0" ng-click="isCollapsed = !isCollapsed" ng-model="buttons.suggestions">One-Time Needs </button>
					<div class="well">
						<div ng-repeat="need in model.myNeeds">
							<button style="width:100%" type="button" class="btn btn-default" btn-checkbox
							        btn-checkbox-true="1"
							        btn-checkbox-false="0"
							        ng-model="model">
							{{ need.title }}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-7" id="need-list">
			<div ng-cloak class="row panel-need" ng-repeat="need in model.categorizedNeeds.suggestions" ng-show="model.btnSuggestions == 1">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="col-md-8">{{ need.title }}</div>
						<div class="col-md-4 text-right">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="panel-body need-panel-body" ng-click="$parent.goToDetail(need.needId)">
						<img src="/owner/images/need.jpg" style="float:left;height:100px;" />
						{{ need.textDescription }}
					</div>
				</div>
				<div class="conversation-panel">
					<div class="panel panel-primary">
						<div class="panel-heading" style="padding: 5px 15px">
							<h3 class="panel-title">Conversation</h3>
						</div>
						<div class="panel-body">
							<textarea class="form-control" rows="2" style="margin-bottom: 5px;">I like your need
							</textarea>
							<button class="btn btn-primary">Send Request</button>
						</div>
					</div>
				</div>
			</div>

			<div ng-cloak class="row panel-need" ng-repeat="need in model.categorizedNeeds.conversations" ng-show="model.btnConversations == 1">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="col-md-8">{{ need.title }}</div>
						<div class="col-md-4 text-right">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="panel-body need-panel-body" ng-click="$parent.goToDetail(need.needId)">
						<img src="/owner/images/need.jpg" style="float:left;height:100px;"/>
						{{ need.textDescription }}
					</div>
				</div>
			</div>

			<div ng-cloak class="row panel-need" ng-repeat="need in model.categorizedNeeds.requests.sent" ng-show="model.btnRequests == 1">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="col-md-8">{{ need.title }}</div>
						<div class="col-md-4 text-right">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="panel-body need-panel-body" ng-click="$parent.goToDetail(need.needId)">
						<img src="/owner/images/need.jpg" style="float:left;height:100px;"/>
						{{ need.textDescription }}
					</div>
				</div>
			</div>

		</div>

		<div id="panel-matches" class="col-md-offset-2 col-lg-7" ng-show="inMatchesMode">
			<h3>Matched needs</h3>
			<div id="panel-matches-list">
				<div ng-repeat="match in matches" style="position: relative">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="col-md-8">{{ match.title }}</div>
							<div class="col-md-4 text-right">
								<button type="button" class="btn btn-primary btn-xs" ng-show="!match.hasConnection" ng-click="connect()">Connect</button>
								<button type="button" class="btn btn-primary btn-xs"
								        ng-show="match.connectionState && match.connectionState.state == 'listMessages'" ng-click="showChat()">Chat
								</button>
								<button type="button" class="btn btn-danger btn-xs"
								        ng-show="match.connectionState && match.connectionState.state == 'manageConnection'"
								        ng-click="approve()">Reject
								</button>
								<button type="button" class="btn btn-success btn-xs"
								        ng-show="match.connectionState && match.connectionState.state == 'manageConnection'" ng-click="approve()">Approve
								</button>
								<strong ng-show="match.connectionState.message">{{ match.connectionState.message }}</strong>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-body need-panel-body" ng-click="$parent.goToDetail(need.needId)">
							<img src="/ownergui/images/need.jpg" style="float:left;height:100px;"/>
							{{ match.textDescription }}
						</div>
					</div>
					<div class="conversation-panel" ng-show="match.areMessages">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Conversation</h3>
							</div>
							<div class="panel-body">
								{{ match.messages }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<strong ng-show="noMatches">There are no matches</strong>
		</div>
	</div>
</div>
