<!--
  ~ Copyright 2012  Research Studios Austria Forschungsges.m.b.H.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<configuration debug="true" scan="true" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{d.M.yy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="won.bot" level="INFO"/>
    <logger name="won.bot.framework.bot" level="INFO"/>
    <logger name="won.bot.framework.component.needconsumer" level="INFO"/>
    <logger name="org.springframework.aop" level="INFO"/>
    <logger name="won.bot.framework.events.listener" level="INFO"/>
    <!-- set to DEBUG to get monitoring stats in the log file -->
    <logger name="won.monitoring" level="INFO"/>

    <!-- START MSGTRACE: set the following to DEBUG to trace messages through the system (high level) -->
    <logger name="won.node.protocol.impl.NeedProtocolNeedClient" level="INFO"/>
    <logger name="won.node.protocol.impl.NeedProtocolNeedServiceImpl" level="INFO"/>
    <logger name="won.node.protocol.impl.OwnerProtocolOwnerClient" level="INFO"/>
    <logger name="won.owner.protocol.impl.OwnerProtocolNeedServiceClient" level="INFO"/>
    <logger name="won.owner.messaging.OwnerProtocolOwnerServiceImpl" level="INFO"/>
    <!-- END MSGTRACE -->

    <!-- SET to DEBUG to see bot events -->
    <logger name="won.bot.framework.events.bus.impl.AsyncEventBusImpl" level="INFO"/>
    <!-- SET to DEBUG to see bot event listeners -->
    <logger name="won.bot.framework.events.listener" level="INFO"/>

    <!-- SET to DEBUG to see more info about need creation -->
    <logger name="won.bot.framework.component.needproducer" level="INFO"/>

    <!-- Temporal -->
    <logger name="won.bot.impl.BAAtomicCCAdditionalParticipants" level="DEBUG" />
    <logger name="won.bot.impl.BAAtomicCCActiveExitingBot" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>