<!-- TODO parametrize by selected tab -->
<header>
    <won-topnav></won-topnav>
    <won-owner-title-bar
            selection="self.selection"
            ng-if="self.isOwnPost"
            ng-class="{'hidden' : (self.connectionUri !== undefined) && self.showConnectionDetails}">
    </won-owner-title-bar>
    <!-- TODO: check if it's ok to use showConnectionDetails for visitors -->
    <won-visitor-title-bar
            selection="::1"
            item="self.post"
            ng-if="!self.isOwnPost"
            ng-class="{'hidden' : (self.connectionUri !== undefined) && self.showConnectionDetails}">
    </won-visitor-title-bar>
</header>
<main class="ownerpostcontent">


    <!-- Post info view when there's no connection-state/-type selected -->
    <won-post-info ng-if="self.post" ng-show="!self.connectionType || !self.isOwnPost"></won-post-info>

    <!-- Matches: -->
    <won-matches ng-if="self.showMatches && self.isOwnPost"></won-matches>

    <div class="opc__inner empty" ng-if="self.isOwnPost && self.connectionType === self.won.Suggested && !self.hasMatches">
        <div class="opc__empty">
            <div class="opc__empty__description">
                <svg class="opc__empty__description__icon"
                    style="--local-primary:#CCD2D2;">
                        <use href="#ico36_match"></use>
                </svg>
                <span class="opc__empty__description__text">
                    The matches to this need will be listed here.
                    You cannot influence the matching process. It might take some time, or maybe there is nothing to
                    be found for you, yet. Check back later!
                </span>
            </div>
        </div>
    </div>

    <!-- Chats and Requests: -->
    <div class="opc__inner empty" 
         ng-if="self.isOwnPost && self.connectionType && self.connectionType !== self.won.Suggested && !self.hasConversations
                            && !self.hasReceivedRequests && !self.hasSentRequests">
        <div class="opc__empty">
            <div class="opc__empty__description">
                <!-- TODO: decide which icon should be used here -->
                <svg class="opc__empty__description__icon"
                    style="--local-primary:#CCD2D2;">
                        <use href="#ico36_message"></use>
                </svg>
                <!-- <svg class="opc__empty__description__icon"
                    style="--local-primary:#CCD2D2;">
                        <use href="#ico36_incoming"></use>
                </svg> -->
                <span class="opc__empty__description__text">
                    TODO: Find a nice description text in case this is empty.
                    Chats, incoming requests and sent requests go here.
                </span>
            </div>
        </div>
    </div>

    <!-- left column for connection-typed tabs -->
    <div
        ng-if="self.isOwnPost && self.connectionType && self.connectionType !== self.won.Suggested"
        ng-class="{'hidden' : self.connectionUri !== undefined}"
    >
        <!-- Chats -->
        <won-connection-selection
                class="owner__messages"
                ng-show="self.hasConversations"
                connection-type="::self.WON.Connected"
                on-selected-connection="self.openConnection(connectionUri)"
                >
        </won-connection-selection>
        <!-- Matches -->
        <!-- <won-connection-selection
                class="owner__messages"
                ng-show="self.hasMatches"
                connection-type="::self.WON.Suggested"
                on-selected-connection="self.openConnection(connectionUri)"
                >
        </won-connection-selection> -->
        <!-- Incoming Requests -->
        <won-connection-selection
                class="owner__messages"
                ng-show="self.hasReceivedRequests"
                connection-type="::self.WON.RequestReceived"
                on-selected-connection="self.openConnection(connectionUri)"
                >
        </won-connection-selection>
        <!-- Sent Requests -->
        <won-connection-selection
                class="owner__messages"
                ng-show="self.hasSentRequests"
                connection-type="::self.WON.RequestSent"
                on-selected-connection="self.openConnection(connectionUri)"
                >
        </won-connection-selection>
    </div>
 
    <!-- /left column -->

    <!-- right column -->
    <div
        class="post-messages"
        ng-class="{'post-messages--connected': self.showConnectionDetails}"
        ng-if="self.post && self.connectionOpen && self.isOwnPost && self.connectionType !== self.won.Suggested">
            <div class="post-messages__inner">
                <won-post-messages ng-if="(self.connectionType === self.WON.Connected)"></won-post-messages>
                <won-open-request ng-if="(self.connectionType === self.WON.RequestReceived || self.connectionType === self.WON.RequestSent)"></won-open-request>
            </div>
    </div>
    
    <!-- /right column -->
    <a class="curtain" ng-if="!self.isOwnPost && self.sendAdHocRequest"></a>
    <div class="post__sendrequest" ng-if="!self.isOwnPost && self.sendAdHocRequest">
        <won-send-request></won-send-request>
    </div>
</main>
