<header>
    <won-topnav></won-topnav>
    <won-overview-title-bar selection="self.selection"></won-overview-title-bar>
</header>
<main class="feedcontent">
    <div class="fc__inner" ng-class="{'empty' : !self.showFeed}">
        <div class="fc__empty" ng-if="self.showPlaceholder">
            <div class="fc__empty__description">
                <svg class="fc__empty__description__icon"
                    style="--local-primary:#CCD2D2;">
                        <use href="#ico-filter_list"></use>
                </svg>
                <span class="fc__empty__description__text">
                    This is the news feed. It is currently empty because
                    there are no recent events for any of your needs. You will
                    find new matches, chat requests, and messages in one condensed list here.
                </span>
            </div>

            <a href="{{ self.resetParamsHRef(self.$state, 'createNeed') }}" class="fc__empty__link">
                <svg style="--local-primary:var(--won-primary-color);"
                    class="fc__empty__link__icon">
                        <use href="#ico36_plus"></use>
                </svg>
                <span class="fc__empty__link__caption">Create a Need</span>
            </a>
        </div>


        <h1 class="title" ng-if="self.showFeed">Recent activities</h1>
        <won-feed-item ng-repeat="uri in self.ownNeedUris"
                       need-uri="uri"
                       ng-if="self.showFeed">
        </won-feed-item>

        <div class="fc__loading" ng-show="self.showSpinner">
            <img src="images/spinner/on_white.gif"
                 alt="Loading&hellip;"
                 class="hspinner"/>
            <span class="fc__loading__text">Loading your posts&hellip;</span>
        </div>
    </div>
</main>
