@import "won-config";
@import "sizing-utils";
@import "fonts";

main.about {
  grid-column: 1 / -1;
  font-weight: 300;

  //General Section styling
  & > won-how-to,
  & > section {
    width: 100%;
    box-sizing: border-box;

    padding: 4rem $minContentPadding 7rem $minContentPadding;
    @media (max-width: $responsivenessBreakPoint) {
      padding: 2rem 0.5rem 4rem;
    }
  }

  & > .about__welcome {
    background-color: $won-secondary-color;
    color: white;
    font-family: $font-family-sans-serif;
    background-image: url("../assets/network_left-upper-corner.svg"),
      url("../assets/network_right-lower-corner.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    /* * @ background-size:
       * values have been determined via fiddling/experimenting and should provide
       * a smooth transition with a relative size for the background up to a
       * maximum size. */
    background-size: auto 70%, auto 100%;
    @media (max-width: 85rem) {
      background-size: auto 70%, 31.7% auto;
    }
    @media (max-width: 63rem) {
      background-size: 60% auto, 31.7% auto;
    }

    .about__welcome__title {
      text-align: center;
      font-size: $bigFontSize;
      padding-bottom: 2rem;
      color: white;
    }

    > .about__welcome__grid {
      margin-left: auto;
      margin-right: auto;
      $fourPortraitsWidth: 59rem;
      width: $fourPortraitsWidth;
      @media (max-width: $fourPortraitsWidth) {
        width: $fourPortraitsWidth / 2;
      }
      @media (max-width: $responsivenessBreakPoint) {
        width: $fourPortraitsWidth / 4;
      }
      @media (max-width: $fourPortraitsWidth / 2) {
        width: $fourPortraitsWidth / 4;
      }
    }

    .about__welcome__description {
      margin: 0 auto;
      max-width: 30rem;
      text-align: center;
      padding: 1rem;
      font-size: $smallFontSize;
      font-weight: 400;
      &__title {
        display: block;
        color: $won-primary-color;
        font-size: $normalFontSize;
        border-top: $thinBorderWidth solid $won-dark-purple;
        max-width: 22rem;
        margin: 0 auto;
      }
      &__text {
        text-align: left;
        display: block;
      }
      &__more {
        color: $won-primary-color;
      }
      &__arrow {
        display: block;
        margin: 0 auto;
        @include fixed-square(1rem);
        --local-primary: #{$won-primary-color};
      }
    }
  }

  & > .about__imprint {
    background-color: $won-primary-color;
    .about__imprint__title {
      color: white;
      text-align: center;
      font-size: $bigFontSize;
      padding-bottom: 2rem;
    }

    .about__imprint__text {
      font-size: $normalFontSize;
      color: white;
      text-align: center;

      a {
        text-decoration: none;
        color: white;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        margin-bottom: 1em;
      }
    }
  }

  & > .about__privacyPolicy {
    background-color: var(--won-secondary-color);
    color: #fff;

    .about__privacyPolicy__title {
      font-size: $bigFontSize;
      text-align: center;
      color: #fff;

      padding-bottom: 2rem;
      font-weight: normal;
    }

    .about__privacyPolicy__text {
      margin: 0 auto;
      max-width: 45rem;
      font-size: $smallFontSize;
      h2 {
        font-size: $normalFontSize;
        margin-top: 2em;
        margin-bottom: 1em;
      }
      a {
        text-decoration: none;
        //color: $won-primary-color;
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        margin-bottom: 1em;
      }
    }
  }

  & > .about__termsOfService {
    background-color: $won-lighter-gray;

    .about__termsOfService__title {
      font-size: $bigFontSize;
      text-align: center;

      padding-bottom: 2rem;
      font-weight: normal;
    }

    .about__termsOfService__text {
      margin: 0 auto;
      max-width: 45rem;
      font-size: $smallFontSize;
      h2 {
        font-size: $normalFontSize;
        margin-top: 2em;
        margin-bottom: 1em;
      }
      a {
        text-decoration: none;
        color: $won-primary-color;
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        margin-bottom: 1em;
      }
    }
  }

  & > .about__faq {
    background-color: $won-lighter-gray;

    .about__faq__title {
      text-align: center;
      font-size: $bigFontSize;
      padding-bottom: 2rem;
    }

    > won-accordion.about__faq__questions {
      display: block;
      max-width: 45rem;
      margin: 0 auto;
    }
  }
}
