@import 'won-config';
@import 'sizing-utils';
@import 'fonts';



.curtain {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $won-dark-purple;
  opacity: 0.5;
  z-index: 1001;
}

main.about {
  font-weight: 300;

  & > div,
  & > section {
    width: calc(100% - #{$minContentPadding} *2); //we do have to remove the 2rem padding for each subdiv otherwise we would have a horizontal scrollbar
    //box-sizing: border-box did not work (the height property was faulty then

    padding-left: $minContentPadding;
    padding-right: $minContentPadding;
    padding-top: 7rem;
    padding-bottom: 4rem;
    @media (max-width: $responsivenessBreakPoint) {
      padding-top: 4rem;
      padding-bottom: 2rem;
    }
  }

  .fourimgs {
    margin-left: auto;
    margin-right: auto;

    $fourPortraitsWidth: 59rem;
    width: $fourPortraitsWidth;
    @media(max-width: $fourPortraitsWidth) {
      width: $fourPortraitsWidth / 2;
    }
    @media(max-width: $responsivenessBreakPoint) {
      width: $fourPortraitsWidth / 4;
    }
    @media(max-width: $fourPortraitsWidth / 2) {
      width: $fourPortraitsWidth / 4;
    }
  }

  .welcome {
      background-color: $won-dark-blue;
      color: white;
      font-family: $font-family-sans-serif;

      background-image: url('../images/network_left-upper-corner.svg'), url('../images/network_right-lower-corner.svg');
      background-position: left top, right bottom;
      background-repeat: no-repeat;

      /*
       * @ background-size:
       * values have been determined via fiddling/experimenting and should provide
       * a smooth transition with a relative size for the background up to a
       * maximum size.
       */
      background-size: auto 70%, auto 100%;
      @media(max-width: 85rem) {
        background-size: auto 70%, 31.7% auto;
      }
      @media(max-width: 63rem) {
        background-size: 60% auto, 31.7% auto;
      }

      .title{ color: white; }

      .w__description {
          margin: 0 auto;
          max-width: 30rem;
          text-align: center;
          padding: 1rem;
          font-size: $smallFontSize;
          font-weight: 400;

          .wd__title {
            display: block;
            color: $won-red;
            font-size: $normalFontSize;
            border-top: $thinBorderWidth solid $won-dark-purple;
            padding-top: 0.5rem;
            max-width: 22rem;
            margin: 0 auto;
          }

          .wd__text {
            padding-top: 1rem;
            padding-bottom: 0.5rem;
            text-align: left;
            display: block;
          }

          .wd__more {
            color: $won-red;
          }

          .wd__arrow {
            display: block;
            margin: 0 auto;
            width: 1rem;
          }
      }
  }

  .howto {
  }

  .spitter-within-section {
      width:15%;
      margin-top:3rem;
      margin-bottom:3rem;
  }

  .faq {
      background-color: $won-lighter-gray;

      won-accordion {
        display: block;
        max-width: 30rem;
        margin: 0 auto;
      }
  }

  .title {
    text-align: center;
    font-size: $bigFontSize;
    padding-bottom: 2rem;
  }

  .imprint {
    background-color: $won-red;

    .title {
      position: relative;
      z-index: 101;
      color: white;
    }

    .sub {
      font-size: $normalFontSize;
    }
  }
}