@import "won-config";
@import "sizing-utils";
@import "fonts";

.curtain {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $won-dark-purple;
  opacity: 0.5;
  z-index: 1001;
}

main.about {
  font-weight: 300;

  & > .about__howto {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 2rem;
    @media (max-width: $responsivenessBreakPoint) {
      padding: 0.5rem;
    }

    .about__howto__title {
      text-align: center;
      color: $won-primary-color;
      padding-bottom: 0.25rem;
      font-weight: normal;
    }
    h1.about__howto__title {
      font-size: $bigFontSize;
    }
    h2.about__howto__title {
      font-size: $mediumFontSize;
    }

    h3.about__howto__subtitle {
      text-align: center;
      font-size: $normalFontSize;
      font-weight: 400;
      max-width: 16rem;
      margin: 0 auto;
    }

    .about__howto__content {
      display: grid;
      grid-gap: 1rem;

      &__icon {
        background: $won-subtitle-gray;
        --local-primary: #{$won-primary-color};
      }
      &__stepcount {
        background: $won-primary-color;
      }
    }

    .about__howto__createx {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 0.5rem;
      max-width: 30rem;
      padding-top: 1.5rem;
      margin: 0 auto;
      grid-row-gap: 1.5rem;

      &__button {
        white-space: nowrap;
      }
      &__button--pending {
        white-space: normal;
      }

      &__button--pending {
        grid-column: 1 / -1;
        align-self: center;
        justify-self: center;
      }

      &__spanbutton,
      &__labelledhr {
        grid-column: 1 / -1;
      }
    }
  }

  & > div,
  & > section {
    width: calc(
      100% - #{$minContentPadding} * 2
    ); //we do have to remove the 2rem padding for each subdiv otherwise we would have a horizontal scrollbar
    // box-sizing: border-box did not work (the height property was faulty then
    padding-left: $minContentPadding;
    padding-right: $minContentPadding;
    padding-top: 7rem;
    padding-bottom: 4rem;
    @media (max-width: $responsivenessBreakPoint) {
      padding-top: 4rem;
      padding-bottom: 2rem;
    }
  }
  .fourimgs {
    margin-left: auto;
    margin-right: auto;
    $fourPortraitsWidth: 59rem;
    width: $fourPortraitsWidth;
    @media (max-width: $fourPortraitsWidth) {
      width: $fourPortraitsWidth / 2;
    }
    @media (max-width: $responsivenessBreakPoint) {
      width: $fourPortraitsWidth / 4;
    }
    @media (max-width: $fourPortraitsWidth / 2) {
      width: $fourPortraitsWidth / 4;
    }
  }
  .welcome {
    background-color: $won-secondary-color;
    color: white;
    font-family: $font-family-sans-serif;
    background-image: url("../images/network_left-upper-corner.svg"),
      url("../images/network_right-lower-corner.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    /* * @ background-size:
       * values have been determined via fiddling/experimenting and should provide
       * a smooth transition with a relative size for the background up to a
       * maximum size. */
    background-size: auto 70%, auto 100%;
    @media (max-width: 85rem) {
      background-size: auto 70%, 31.7% auto;
    }
    @media (max-width: 63rem) {
      background-size: 60% auto, 31.7% auto;
    }
    .title {
      color: white;
    }
    .w__description {
      margin: 0 auto;
      max-width: 30rem;
      text-align: center;
      padding: 1rem;
      font-size: $smallFontSize;
      font-weight: 400;
      .wd__title {
        display: block;
        color: $won-primary-color;
        font-size: $normalFontSize;
        border-top: $thinBorderWidth solid $won-dark-purple;
        padding-top: 0.5rem;
        max-width: 22rem;
        margin: 0 auto;
      }
      .wd__text {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        text-align: left;
        display: block;
      }
      .wd__more {
        color: $won-primary-color;
      }
      .wd__arrow {
        display: block;
        margin: 0 auto;
        width: 1rem;
      }
    }
  }
  .spitter-within-section {
    width: 15%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .faq {
    background-color: $won-lighter-gray;
    won-accordion {
      display: block;
      max-width: 30rem;
      margin: 0 auto;
    }
  }
  .title {
    text-align: center;
    font-size: $bigFontSize;
    padding-bottom: 2rem;
  }
  .imprint {
    background-color: $won-primary-color;
    .title {
      color: white;
    }
    .sub {
      font-size: $normalFontSize;
    }
    a {
      text-decoration: none;
      color: white;
    }
    p {
      margin-bottom: 1em;
    }
  }
  .privacyPolicy {
    background-color: $won-lighter-gray;
    max-width: $maxContentWidth;
    margin: 0 auto;
    h2 {
      margin-top: 2em;
      margin-bottom: 1em;
    }
    a {
      text-decoration: none;
      color: $won-primary-color;
    }
    p {
      margin-bottom: 1em;
    }
  }
}
