@import "won-config";

won-accordion {
  display: block;

  .accordion__element:first-of-type {
    border: 0;
  }

  .accordion__element {
    display: table;
    border-spacing: 0.5rem;
    border-top: $thinGrayBorder;

    .header {
      display: table-cell;
      width: 100%;
    }

    .detail {
      display: table-row;
    }

    .arrow {
      display: table-cell;
      width: 1rem;
      height: 1rem;
    }
  }
}
