@import "sizing-utils";
@import "won-config";
@import "animate";

won-add-buddy {
  .topline {
    height: 2rem;
  }

  .add-buddy__addbuddymenu__header {
    white-space: nowrap;
    display: flex;
    --local-primary: #{$won-secondary-color};
    color: $won-secondary-color;
    padding-left: 0.25rem;

    &__icon {
      @include fixed-square($postIconSizeMobile);
      padding-right: 0.25rem;
    }
    &__text {
      padding-right: 0.25rem;
    }
  }

  .add-buddy__addbuddymenu {
    position: relative;
    height: 0;
    z-index: 1000;
    top: calc((#{$postIconSizeMobile} + #{$thinBorderWidth} + 0.5rem) * -1);
    right: $thinBorderWidth;

    .add-buddy__addbuddymenu__content {
      background: white;
      border: $thinGrayBorder;
      padding: 0.5rem;
      max-width: 15rem;
      position: absolute;
      right: -1px;
      min-width: 15rem;

      .add-buddy__addbuddymenu__header {
        position: relative;
        --local-primary: black;
        color: black;
        float: right;
        right: -0.3rem;

        &__icon {
          @media (max-width: $responsivenessBreakPoint) {
            padding-right: 0;
          }
        }

        &__text {
          padding-right: 0;
        }
      }
    }
  }
}
