@import "won-config";
@import "sizing-utils";

won-atom-content-holds {
  display: grid;
  grid-gap: 1rem;
  padding: 0.5rem;

  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

  & .ach__empty {
    color: $won-line-gray;
    text-align: center;
    grid-column: 1/-1;
  }

  & won-atom-card.ach__atom {
    border: $thinGrayBorder;
  }

  & .ach__createatom {
    border: $thinGrayBorder;
    background: $won-light-gray;
    padding: 0.5rem;
    cursor: pointer;
    display: grid;
    grid-gap: 0.5rem;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-rows: min-content min-content;
    box-sizing: border-box;

    &:hover {
      border-color: $won-primary-color;

      .ach__createatom__label {
        color: $won-primary-color;
      }

      .ach__createatom__icon {
        --local-primary: #{$won-primary-color};
      }
    }

    .ach__createatom__label {
      font-size: $mediumFontSize;
      text-align: center;
      color: $won-line-gray;
    }

    .ach__createatom__icon {
      @include fixed-square($hugeiconSize);
      --local-primary: #{$won-line-gray};
    }
  }
}
