@import "won-config";

won-atom-content-chats {
  .acc__item {
    padding-left: 0.5rem;

    &:first-of-type {
      border-top: $thinGrayBorder;
    }

    &:not(.won-unread) {
      background-color: $won-line-gray;
      border-left: $thinGrayBorder;
    }
    &.won-unread {
      background-color: $won-unread-attention;
      border-left: $thinBorderWidth solid $won-unread-attention;
    }

    won-connection-selection-item {
      border-right: $thinGrayBorder;
    }
  }

  & > .acc__empty {
    color: $won-line-gray;
    text-align: center;
    font-weight: 300;
  }
}
