@import "won-config";
@import "sizing-utils";
@import "animate";

won-atom-content-auth {
  display: grid;
  grid-gap: 1rem;
  font-size: $smallFontSize;
  padding: 0.5rem;

  .acauth__item {
    background: var(--won-lighter-gray);
    border: $thinGrayBorder;
    padding: 0.5rem;

    &__label {
      font-size: $normalFontSize;
      border-bottom: $thinGrayBorder;
      margin-bottom: 0.25rem;
    }

    &__grantlabel,
    &__granteelabel,
    &__bearerlabel,
    &__provideAuthInfolabel,
    &__requestedBylabel,
    &__label {
      font-weight: bold;
      padding-bottom: 0.25rem;
    }

    &__provideAuthInfo,
    &__bearer,
    &__requestedBy,
    &__grantee,
    &__grant {
      font-family: monospace;
      padding-bottom: 0.5rem;
      margin: 0;
    }
  }
}
