@import "won-config";
@import "sizing-utils";
@import "animate";
@import "elevation";

won-atom-content-auth {
  display: grid;
  grid-gap: 1rem;
  font-size: $smallFontSize;
  padding: 0.5rem;

  .acauth__item {
    @include defaultCardElevation();
    background: var(--won-lighter-gray);
    border: $thinGrayBorder;
    padding: 0.5rem;

    &__label {
      font-size: $normalFontSize;
      border-bottom: $thinGrayBorder;
      margin-bottom: 0.25rem;
    }

    &__grantlabel,
    &__granteelabel,
    &__bearerlabel,
    &__provideAuthInfolabel,
    &__requestedBylabel,
    &__label {
      font-weight: bold;
      padding-bottom: 0.25rem;
    }

    &__provideAuthInfo,
    &__bearer,
    &__requestedBy,
    pre.acauth__item__grantee,
    pre.acauth__item__grant {
      white-space: pre-wrap;
      overflow-x: auto;
      font-family: monospace;
      padding-bottom: 0.5rem;
      margin: 0;
    }

    span.acauth__item__grant,
    span.acauth__item__grantee {
      @include defaultItemActionElevation();
      display: inline-block;
      background: $won-secondary-color;
      color: $won-secondary-text-color;
      border-radius: 0.19rem;
      margin-bottom: 0.5rem;
      padding: 0.25rem 0.5rem;

      &.acauth__item__grant--op {
        background: $won-secondary-color-light;
        margin-right: 0.5rem;
      }
    }
  }
}
