@import "won-config";
@import "sizing-utils";
@import "animate";

won-atom-content-auth {
  display: grid;
  grid-gap: 1rem;
  font-size: $smallFontSize;
  padding: 0.5rem;

  .acauth__item {
    display: grid;
    background: var(--won-lighter-gray);
    border: $thinGrayBorder;
    padding: 0.5rem;
    grid-template-areas:
      "grid-item-label grid-item-label"
      "grid-item-granteelabel grid-item-grantlabel"
      "grid-item-grantee grid-item-grant";
    grid-template-columns: min-content 1fr;
    grid-gap: 0.25rem;

    &__grantlabel,
    &__granteelabel,
    &__label {
      font-weight: bold;
    }
    &__label {
      grid-area: grid-item-label;
      font-size: $normalFontSize;
    }

    &__grantlabel {
      grid-area: grid-item-grantlabel;
    }
    &__granteelabel {
      grid-area: grid-item-granteelabel;
    }

    &__grantee,
    &__grant {
      font-family: monospace;
    }

    &__grantee {
      grid-area: grid-item-grantee;
    }
    &__grant {
      grid-area: grid-item-grant;
    }
  }
}
