@import "won-config";
@import "sizing-utils";
@import "animate";

won-atom-card {
  display: grid;
  grid-template-areas: "card__icon" "card__main" "card__persona" "card__indicators";
  grid-template-rows: max-content 1fr min-content min-content;
  padding: 0.5rem;
  color: black;

  &.won-is-toload,
  &.won-is-loading {
    @include animateOpacityHeartBeat();
    pointer-events: none;

    .card__main {
      grid-row-gap: 0.15rem;
    }

    .card__main__subtitle__type {
      height: $smallFontSize - 0.1rem;
      width: 5rem;
      background-color: $won-skeleton-color;
    }

    .card__main__topline__title {
      height: $smallFontSize - 0.05rem;
      width: 7rem;
      background-color: $won-skeleton-color;
    }
  }
  .card__icon__skeleton {
    height: 10rem;
    background-color: $won-skeleton-color;
    margin-bottom: 0.5rem;
  }

  .card__icon {
    grid-area: card__icon;

    &:not(.card__icon--map) {
      display: grid;
      justify-content: center;
      align-items: center;
    }

    &.card__icon--map {
      display: block;
      width: 100%;
    }

    margin-bottom: 0.5rem;
    user-select: none;
    height: 10rem;

    &.won-is-persona .identicon {
      border-radius: 100%;
    }

    &.inactive {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    & .identicon {
      display: flex;
      align-items: center;
      justify-content: center;
      $cardIdenticonSize: 5rem;
      @include fixed-square(#{$cardIdenticonSize});

      &.usecaseimage {
        box-sizing: border-box;
        padding: 0.25rem;

        > svg {
          @include fixed-square(#{$cardIdenticonSize - 0.5rem});
          --local-primary: #{$won-secondary-text-color};
        }
      }
    }

    & .image,
    & won-atom-map.location {
      @media (max-width: $responsivenessBreakPoint) {
        width: 100%;
        height: 10rem;
      }

      @media (min-width: $responsivenessBreakPoint) {
        width: 15rem;
        height: 10rem;
      }
    }

    & .image {
      object-fit: cover;
    }

    & won-atom-map.location {
      display: block;

      .atom-map__mapmount {
        width: 100%;
        height: 10rem;
      }
    }
  }

  // Defines the height of the (no)persona-div, so that they no-persona is the same height as attached personas
  --persona-height: 2.5rem;

  .card__nopersona {
    grid-area: card__persona;
    margin-top: 0.5rem;
    display: grid;
    grid-column-gap: 0.5rem;
    padding-top: 0.5rem;
    border-top: $thinGrayBorder;
    justify-items: center;
    align-items: center;
    height: var(--persona-height);

    &__label {
      font-size: $smallFontSize;
      color: $won-line-gray;
    }
  }

  .card__indicators {
    grid-area: card__indicators;
  }

  .card__persona {
    grid-area: card__persona;
    margin-top: 0.5rem;

    display: grid;
    grid-template-areas:
      "card__persona__icon card__persona__name card__persona__name"
      "card__persona__icon card__persona__websitelabel card__persona__websitelink";
    grid-template-columns: var(--persona-height) max-content 1fr;
    grid-column-gap: 0.5rem;
    padding-top: 0.5rem;
    border-top: $thinGrayBorder;

    &__icon {
      grid-area: card__persona__icon;

      border-radius: 100%;
      @include fixed-square(var(--persona-height));
    }

    &__name {
      grid-area: card__persona__name;
      display: flex;
      align-items: center;

      &__label {
        font-size: $normalFontSize;
      }

      &__verification {
        font-size: $smallFontSize;
        margin-left: 0.25rem;

        &--verified {
          color: $won-line-gray;
        }
        &--unverified {
          color: $won-unread-attention;
        }
      }
    }

    .card__persona__websitelabel {
      font-size: $smallFontSize;
      grid-area: card__persona__websitelabel;
    }
    .card__persona__websitelink {
      font-size: $smallFontSize;
      grid-area: card__persona__websitelink;
    }
  }

  .card__main {
    grid-area: card__main;
    display: grid;
    grid-template-areas: "card__main__topline" "card__main__subtitle";
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;

    @media (min-width: $responsivenessBreakPoint) {
      width: 15rem;
      max-width: 15rem;
    }

    &--showIcon {
      grid-template-areas: "card__main__icon card__main__topline" "card__main__icon card__main__subtitle";
      grid-template-columns: min-content 1fr;
      grid-column-gap: 0.5rem;
    }

    &__icon {
      grid-area: card__main__icon;
      display: flex;
      justify-content: center;
      align-items: center;
      @include fixed-square($postIconSize);

      &__usecaseimage {
        display: grid;

        > svg {
          @include fixed-square(#{$postIconSize - 0.5rem});
          --local-primary: #{$won-secondary-text-color};
        }
      }

      &__identicon {
        @include fixed-square($postIconSize);
      }
    }

    &__topline {
      grid-area: card__main__topline;
      min-width: 0;

      &__notitle,
      &__title {
        min-width: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 400;
      }
      &__notitle {
        color: $won-subtitle-gray;
      }
    }

    &__subtitle {
      grid-area: card__main__subtitle;
      display: grid;
      grid-template-columns: 1fr min-content;
      color: $won-subtitle-gray;
      font-size: $smallFontSize;

      &__type {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &__groupchat {
          border-radius: 0.19rem;
          background: $won-line-gray;
          margin: 0.1rem;
          padding: 0 0.25rem;
          display: inline-block;
        }
      }

      &__date {
        font-size: $smallFontSize;
        color: $won-subtitle-gray;
        white-space: nowrap;
        padding-left: 0.5rem;
        min-width: 0;
      }
    }
  }
}
