@import "won-config";
@import "sizing-utils";
@import "animate";

won-atom-actions {
  display: grid;
  grid-gap: 0.5rem;
  align-items: center;

  .atom-actions__infolabel {
    text-align: left;
  }

  won-socket-actions,
  .atom-actions__buttons {
    display: grid;
    grid-gap: 0.5rem;
    grid-auto-flow: column;
  }

  > won-atom-header {
    background: $won-light-gray;
    border: $thinGrayBorder;
    padding: 0.5rem;
  }

  @media (min-width: $maxContentWidth) {
    grid-auto-flow: column;
    grid-template-columns: 1fr minmax(16rem, 1fr) min-content;
  }
  @media (max-width: $maxContentWidth) {
    grid-auto-flow: row;
  }
}
