@import "won-config";
@import "sizing-utils";
@import "animate";

won-atom-footer {
  display: grid;
  grid-gap: 0.5rem;
  align-items: center;

  .atom-footer__infolabel {
    text-align: left;
  }

  won-socket-actions,
  .atom-footer__buttons {
    display: grid;
    grid-gap: 0.5rem;
    grid-auto-flow: column;
  }

  @media (min-width: $maxContentWidth) {
    grid-auto-flow: column;
    grid-template-columns: 1fr min-content;
  }
  @media (max-width: $maxContentWidth) {
    grid-auto-flow: row;
  }
}
