@import "won-config";
@import "sizing-utils";
@import "square-image";
@import "animate";

a.won-atom-header,
won-atom-header {
  &.won-to-load,
  &.won-is-loading {
    @include animateOpacityHeartBeat();
    pointer-events: none;

    .ah__icon__skeleton {
      grid-area: icon;
      @include fixed-square($postIconSize);
      background-color: $won-skeleton-color;
    }

    .ah__right__subtitle__type {
      height: $smallFontSize;
      width: 5rem;
      background-color: $won-skeleton-color;
    }

    .ah__right__topline__title {
      height: $normalFontSize;
      width: 7rem;
      background-color: $won-skeleton-color;
    }
  }

  color: black;
  //padding: 0.5rem;

  display: grid;
  grid-template-areas: "icon main";
  grid-template-columns: min-content 1fr;
  grid-column-gap: 0.5rem;
  min-width: 0;

  @include square-image($postIconSize);

  won-atom-image {
    grid-area: icon;
  }

  .ah__right {
    grid-area: main;
    display: grid;
    grid-template-areas: "topline" "subtitle";
    min-width: 0;

    &__topline {
      color: $won-primary-text-color;
      grid-area: topline;
      min-width: 0;

      &__notitle,
      &__title {
        min-width: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 400;
      }
      &__notitle {
        color: $won-subtitle-gray;
      }
    }

    &__subtitle {
      grid-area: subtitle;
      display: grid;
      grid-template-columns: 1fr min-content;
      color: $won-subtitle-gray;
      font-size: $smallFontSize;
      min-width: 0;

      &__type {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &__holder {
          border-radius: 0.19rem;
          background: $won-secondary-color-lighter;
          color: $won-secondary-text-color;
          margin: 0.1rem;
          padding: 0 0.25rem;
          display: inline-block;
        }

        &__groupchat {
          border-radius: 0.19rem;
          background: $won-line-gray;
          margin: 0.1rem;
          padding: 0 0.25rem;
          display: inline-block;
        }
      }

      &__date {
        font-size: $smallFontSize;
        color: $won-subtitle-gray;
        white-space: nowrap;
        padding-left: 0.5rem;
        min-width: 0;
      }
    }
  }
}
