@import "won-config";
@import "sizing-utils";
@import "animate";

won-atom-feed {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;

  > .af__header {
    font-weight: 400;
    font-size: $mediumFontSize;
    color: $won-primary-color;
  }

  > .af__header + .af__datedivider {
    padding-top: 0.5rem;
  }

  > .af__datedivider {
    padding-top: 1.5rem;
    padding-bottom: 0.25rem;
    border-bottom: $thinGrayBorder;
  }

  > .af__item {
    padding-top: 0.5rem;
  }
}
