@import "won-config";
@import "sizing-utils";

won-atom-content-participants {
  display: grid;
  grid-gap: 1rem;
  padding: 0.5rem;

  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

  & .acp__empty {
    color: $won-line-gray;
    text-align: center;
    grid-column: 1 / -1;
  }

  & .acp__participant {
    border: $thinGrayBorder;
    background: $won-light-gray;

    &.won-unread {
      border-color: $won-unread-attention;
      /*box-shadow: 0px 0px 5px 5px var(--won-primary-color);*/
    }

    &__actions {
      border-top: $thinGrayBorder;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 0.5rem;
      padding: 0.5rem;

      &__button.won-button--filled.red,
      &__button.won-button--outlined.red.thin {
        font-size: $smallFontSize;
        padding: 0.5rem;
      }
    }
  }

  & > won-preact.labelledHr.acp__labelledhr,
  & > won-labelled-hr.acp__labelledhr {
    grid-column: 1 / -1;
  }

  & > won-suggest-atom-picker,
  & > won-preact.suggestAtomPicker {
    grid-column: 1 / -1;
    background: var(--won-light-gray);
    padding: 0.5rem;
    border: 0.01rem solid var(--won-line-gray);
  }
}
