@import "won-config";
@import "sizing-utils";
@import "animate";

won-atom-content-buddies {
  display: grid;
  grid-gap: 1rem;
  padding: 0.5rem;

  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

  & .acb__empty {
    color: $won-line-gray;
    text-align: center;
    grid-column: 1 / -1;
  }

  & .acb__buddy {
    border: $thinGrayBorder;
    background: $won-light-gray;

    won-atom-header {
      padding: 0.5rem;
    }

    &.won-unread {
      border-color: $won-unread-attention;
      /*box-shadow: 0px 0px 5px 5px var(--won-primary-color);*/
    }

    &__actions {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 0.5rem;
      padding: 0.5rem;
      height: 100%;
      box-sizing: border-box;

      &__button.won-button--filled.red,
      &__button.won-button--outlined.red.thin {
        font-size: $smallFontSize;
        padding: 0.5rem;
      }

      &__button.won-button--icon {
        display: block;
      }
    }
  }

  & > won-labelled-hr {
    grid-column: 1 / -1;
  }

  & > won-suggest-atom-picker {
    grid-column: 1 / -1;
    background: var(--won-light-gray);
    padding: 0.5rem;
    border: 0.01rem solid var(--won-line-gray);
  }
}
