@import "won-config";
@import "sizing-utils";

won-atom-content-suggestions {
  display: grid;
  grid-gap: 1rem;
  padding: 0.5rem;

  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

  & > .acs__empty {
    color: $won-line-gray;
    text-align: center;
    grid-column: 1 / -1;
  }

  & > .acs__listheader {
    font-size: $normalFontSize;
    font-weight: bold;
    color: $won-primary-text-color;
    grid-column: 1 / -1;
    margin-top: 1.5rem;

    &:first-of-type {
      margin-top: 0;
    }
  }

  & > .acs__atom {
    border: $thinGrayBorder;
    background: $won-light-gray;

    &.won-unread {
      border-color: $won-unread-attention;
      /*box-shadow: 0px 0px 5px 5px var(--won-primary-color);*/
    }

    > .acs__atom__actions {
      border-top: $thinGrayBorder;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 0.5rem;
      padding: 0.5rem;

      .acs__atom__actions__button.won-button--filled.red,
      .acs__atom__actions__button.won-button--outlined.red.thin {
        font-size: $smallFontSize;
        padding: 0.5rem;
      }
    }
  }
}
