@import "won-config";
@import "sizing-utils";
@import "animate";

won-atom-card {
  display: grid;
  grid-template-areas: "card";

  > won-preact.won-skeleton-card,
  > won-skeleton-card,
  > won-other-card,
  > won-persona-card {
    grid-area: card;
    background: $won-light-gray;
  }
}
