@import "won-config";
@import "sizing-utils";

won-atom-content-participants {
  display: grid;
  grid-gap: 1rem;
  padding: 0.5rem;

  @media (min-width: $responsivenessBreakPoint) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media (max-width: $responsivenessBreakPoint) {
    //One Column in mobile
    grid-template-columns: 1fr;
  }

  & .acp__empty {
    color: $won-line-gray;
    text-align: center;
    grid-column: 1 / -1;
  }

  & .acp__participant {
    border: $thinGrayBorder;
    background: $won-light-gray;

    &.won-unread {
      border-color: $won-primary-color;
      /*box-shadow: 0px 0px 5px 5px var(--won-primary-color);*/
    }

    & > won-atom-card {
      & > div {
        background: $won-light-gray;
      }
    }

    &__actions {
      border-top: $thinGrayBorder;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 0.5rem;
      padding: 0.5rem;

      &__button.won-button--filled.red,
      &__button.won-button--outlined.red.thin {
        font-size: $smallFontSize;
        padding: 0.5rem;
      }
    }
  }

  & > won-labelled-hr.acp__labelledhr {
    grid-column: 1 / -1;
  }

  & > won-suggestpost-picker {
    grid-column: 1 / -1;
    background: var(--won-light-gray);
    padding: 0.5rem;
    border: 0.01rem solid var(--won-line-gray);
  }
}
