@import "won-config";
@import "sizing-utils";
@import "animate";

won-atom-content-general {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: min-content min-content;
  font-size: $smallFontSize;
  padding-top: 0.5rem;
  justify-content: start;

  .acg__item {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.25rem;
    color: $won-line-gray;

    &__label {
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: bold;
    }
    &__value {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
