@import "sizing-utils";

@mixin flat-button-color($color, $bg_color) {
  color: $color;
  background: $bg_color;
  outline-color: $color;

  &:active,
  &:hover {
    filter: brightness(125%);
  }
  &:disabled {
    /*Default disabled colors, can be changed or extracted will be used
    by every button that is set to disabled*/
    color: white;
    background: lightgrey;
    cursor: default;
  }

  .won-button-icon {
    --local-primary: #{$color};
  }
}

@mixin outline-button-color($color) {
  color: $color;
  background: transparent;
  border-color: $color;
  outline-color: $color;

  &:focus {
    //outline: 0; // supress blue outline in chrome
  }

  &:active,
  &:hover {
    // background: rgba(255, 255, 255, 0.15);
    background: rgba(white, 0.5);
  }
  &:disabled {
    /*Default disabled colors, can be changed or extracted will be used
    by every button that is set to disabled*/
    color: white;
    background: $won-disabled-color;
    cursor: default;
  }

  .won-button-icon {
    --local-primary: #{$color};
  }
}

@mixin won-button() {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  padding: 0.66em 2em;
  font-size: $normalFontSize;
  text-align: center;
  border-radius: 0.19rem;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;

  flex-shrink: 0;

  &:hover,
  &:focus {
    outline: 0;
  }

  svg.won-button-icon {
    @include fixed-square($normalFontSize);
    margin-right: 0.5rem;
  }
}
.won-button {
  @include won-button();
}

@mixin won-button--outlined($color: "") {
  @include won-button;

  @if $color != "" {
    @include outline-button-color($color);
  }

  border-width: 1px;
  border-style: solid;

  /*
  &.darkgray { @include button-color(white, $won-dark-gray); }
  &.lighterblue { @include button-color(white, $won-secondary-color-light); }
  &.black { @include button-color(white, black); }
  */
}
.won-button--outlined {
  @include won-button--outlined;

  &.white {
    @include outline-button-color(white);
  }
  &.red {
    @include outline-button-color($won-primary-color);
  }
  &.darkgray {
    @include outline-button-color($won-dark-gray);
  }
  &.lighterblue {
    @include outline-button-color($won-secondary-color-lighter);
  }
  &.black {
    @include outline-button-color(black);
  }
}

/* style adapted from http://cssdeck.com/labs/beautiful-flat-buttons */
@mixin won-button--filled($color: "", $bgColor: "") {
  @include won-button;

  @if $color != "" {
    @if $bgColor != "" {
      @include flat-button-color($color, $bgColor);
    }
  }

  border: 0;

  &.thin {
    padding: 0.4em 2em;
  }
}
.won-button--filled {
  @include won-button--filled;

  /*Button color definitions*/
  &.red {
    @include flat-button-color(white, $won-primary-color);
  }
  &.darkgray {
    @include flat-button-color(white, $won-dark-gray);
  }
  &.lighterblue {
    @include flat-button-color(white, $won-secondary-color-lighter);
  }
  &.black {
    @include flat-button-color(white, black);
  }
}
