@import 'won';
@import 'button';


chat-textfield, chat-textfield-simple {
  display: flex;
  flex-direction: row;
  align-items: stretch; //all same height

  min-width: 0; // so a size is specified and break-word works

  .wdt__left {
    flex-grow: 1; // use up all the space not occupied by the button

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    min-width: 0; // so a size is specified and break-word works
  }

  .wdt__submitbutton {
    @extend .won-button--filled;
    margin-left: 0.5rem;
  }



  .wdt__text {
    align-self: stretch;
    flex-grow: 1;

    &.valid { .Medium {
        border-color: $won-line-gray;
    }}

    &.invalid { .Medium {
        border-color: $won-primary-color;
    }}

    .Medium {
      border-width: $thinBorderWidth;
      border-style: solid;
      border-radius: 0.1rem;
      background-color: white;
    }

    & .Medium-clear {
      //display: none; //hide input field while placeholder is visible
    }
    & .Medium-placeholder {
      color: $won-line-gray;
      position: absolute;
      pointer-events: none; //click-through
    }
  }

  textarea.wdt__text {
    &.valid {
        border-color: $won-line-gray;
    }
    &.invalid {
        border-color: $won-primary-color;
    }
  }

  .wdt__text .Medium, 
  .wdt__text .Medium-placeholder {
    box-sizing: border-box;
    max-height: 6rem; // so that we do not allow endless lines
    overflow-y: auto; // to show a scrollbar if there is too much content in the input field
    min-height: $formInputHeight;

    &.wdt__text--placeholder {
      color: $won-line-gray;
    }
  }
  textarea.wdt__text,
  .wdt__text .Medium, 
  .wdt__text .Medium-placeholder   
  {
    //$padding: 0.3rem;
    //padding: $padding;
    font-size: $normalFontSize;

    $lineHeight: $normalFontSize * 22/16; /* of one line of text */
    $verticalPadding: ($formInputHeight - $lineHeight) / 2 - $thinBorderWidth;
    padding: $verticalPadding 0.438rem;

    min-width: 0; // so a size is specified and break-word works
    word-break: break-word;

    &:focus {
      color: black;
    }
  }



  .wdt__charcount {
    @include fine-print;
    margin-top: $smallFontSize * 0.5;
  }
}