/**
 * collapse animation
 * adapted from: <https://weblog.west-wind.com/posts/2014/Feb/22/Using-CSS-Transitions-to-SlideUp-and-SlideDown>
 *
 * note: don't use together with display:none or ng-show,
 * as that breaks the animation.
 */
.collapsible {
  transition: 0.5s;
  overflow-y: hidden;

  &:not(.visible) {
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
  }

  &.visible {
    /*
     * transition only works between numerical values
     * and not between 0 and "auto" --> 9999rem is
     * larger than the slide-in should ever get.
     */
    max-height: 9999rem;
  }
}
