@import "won-config";
@import "sizing-utils";

won-combined-message-content {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.5rem;

  &.won-has-non-ref-content {
    padding: 0.5rem 0;

    &.won-has-ref-content {
      padding-bottom: 0;
    }
  }

  > won-trig {
    border-top: $thinGrayBorder;
    padding-top: 0.5rem;
  }

  .msg__header {
    padding: 0 0.5rem;
    &__type {
      color: $won-subtitle-gray;
    }

    &--agreement {
      .msg__header__type {
        font-size: $normalFontSize;
        color: black;
      }
    }

    &--forwarded-from,
    &--inject-into {
      display: grid;
      grid-auto-columns: max-content;
      grid-auto-flow: column;
      grid-gap: 0.25rem;
      align-items: center;

      .msg__header__type {
        grid-area: auto;
      }

      .msg__header__originator,
      .msg__header__inject {
        grid-area: auto;
        margin: 0;
        @include fixed-square(1.5rem);

        img {
          @include fixed-square(1.5rem);
        }
      }
    }
  }
}
