@import "speech-bubble";
@import "square-image";
@import "connection-message-status";
@import "combined-message-content";

won-connection-message {
  &.won-unread {
    background-color: $won-unread;
  }

  padding: 0.5rem 0;
  @include square-image($postIconSize, 0 0.5rem 0 0);
  display: grid;
  grid-template-areas: "icon content";
  grid-template-columns: min-content minmax(min-content, max-content);

  won-square-image {
    cursor: pointer; /* the image links to their post info */
    grid-area: icon;
  }

  &.won-cm--left {
    justify-content: flex-start;

    & .won-cm__center__bubble {
      @include speech-bubble-left(
        $won-light-gray,
        $won-line-gray,
        $speechBubbleTailSize / 2,
        $thinBorderWidth,
        0.8rem
      );

      &.references {
        @include speech-bubble-left(
          $won-light-gray,
          $thinDarkBorder,
          $speechBubbleTailSize/2,
          $thinBorderWidth,
          0.8rem
        );
      }
    }
  }
  &.won-cm--right {
    justify-content: flex-end;
    & .won-cm__center__bubble {
      @include speech-bubble-right(
        $won-light-gray,
        $won-line-gray,
        $speechBubbleTailSize/2,
        $thinBorderWidth,
        0.8rem
      );

      &.references {
        @include speech-bubble-right(
          $won-light-gray,
          $thinDarkBorder,
          $speechBubbleTailSize/2,
          $thinBorderWidth,
          0.8rem
        );
      }
    }
  }
  &.won-is-accepted {
    //TODO: STYLING
  }
  &.won-is-cancelled {
    //TODO: STYLING
  }
  &.won-is-cancellationPending {
    //TODO: STYLING
  }
  &.won-is-rejected {
    //TODO: STYLING
  }
  &.won-is-retracted {
    opacity: 0.35;
    .won-cm__center__bubble {
      text-decoration: line-through;
      text-decoration-color: black;
    }
  }

  .won-cm__center {
    grid-area: content;
    font-size: $smallFontSize;
    max-width: 100%;

    .won-cm__center__bubble {
      display: grid;
      grid-template-areas: "content carret" "actions actions";
      grid-template-columns: 1fr min-content;
      padding: 0.5rem;
      border: $thinGrayBorder;
      word-break: break-word;
      min-height: 2.5rem;
      box-sizing: border-box; // background: $won-light-gray;
      background-color: $won-light-gray; // like the error toast-notifications
      color: black;

      &__carret {
        grid-area: carret;
        svg {
          @include fixed-square(1rem); // visually center icon on line
        }
      }

      > won-combined-message-content {
        grid-area: content;
      }

      &__button-area {
        grid-area: actions;
        border-top: $thinGrayBorder;
        padding-top: 0.5rem;
        margin-top: 0.5rem;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 0.5rem;
      }

      //Message Type Styling
      &.references {
        padding: 0.5rem;
        border: $thinDarkBorder;
        background: $won-light-gray;
      }

      //Message Sent Status styling
      &.pending {
        opacity: 0.33;
      }
      &.partiallyLoaded {
        opacity: 0.66;
      }
      &.failure {
        color: #ff0000;
        //TODO: FAILURE MESSAGE STYLING
      }
    }
    &.won-cm__center--nondisplayable {
      // hsla(57, 100%, 95%, 1);
      // lighten bg and text color? (might just suggest pending)
      // float icon on site opposite of bubble-tail
      .won-cm__center__bubble {
        background-color: white; // like the error toast-notifications
        color: #8f8f8f;
      }
    }
  }
}
