
@import 'speech-bubble';
@import 'square-image';

won-connection-agreement {
    //margin: 0.5rem 0;
    padding: 0.5rem 0.5rem 0 0.5rem;
    //padding-top: 0.5rem;
    //padding-left: 0.5rem;
    //padding-right: 0.5rem;
    @include square-image($postIconSize, 0 0.5rem 0 0);
    display: flex;
    
    

    won-square-image {
        cursor: pointer; /* the image links to their post info */
    }

    .won-ca__content {

        &__text {
            padding: 0.5rem;
            justify-content: flex-end;
            border-top: $thinBorderWidth solid $won-line-gray;
            
            span.subtitle {
              //font-size: $smallFontSize;
              font-weight: 560;
            }
            
            &__subtext {
              padding-top: 0.3rem;
              //font-size: 0.75rem;
            }
        }
    
        &__carret {
            padding: 0.2rem 0.5rem 0.2rem;
        }
        
        &__footer {
            padding: 0.2rem 0.5rem 0.2rem;
            //border-top: $thinBorderWidth solid $won-line-gray;
        }

        &__time {
            color: $won-line-gray;
        }
    }
}