@import 'won-config';
@import 'sizing-utils';
@import 'fonts';
@import 'flex-layout';

won-connection-indicators {
  display: flex;
  flex-direction: row;

  .indicators__item {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding-right: 1em;

    &__icon {
      @include fixed-square($bigiconSize);
    }

    &__caption {
      line-height: $bigiconSize;
      padding-left: 0.5em;
      min-width: 0.5rem;
      color: black;
    }
  }
}