@import "won-config";
@import "sizing-utils";
@import "fonts";
@import "flex-layout";
@import "animate";

won-connection-indicators {
  &.won-is-loading {
    @include animateOpacityHeartBeat();
    pointer-events: none;
  }

  display: flex;
  flex-direction: row;

  @media (max-width: $responsivenessBreakPoint) {
    .indicators__item.indicators__item--reads,
    .indicators__item.indicators__item--unreads {
      pointer-events: none;
      cursor: default;
    }
  }
  @media (min-width: $responsivenessBreakPoint) {
    .indicators__item.indicators__item--reads,
    .indicators__item.indicators__item--unreads {
      cursor: pointer;
    }
  }

  .indicators__item {
    display: flex;
    align-items: center;
    flex-direction: row;

    &--unreads {
      --local-primary: #{$won-primary-color};
    }

    &--reads {
      --local-primary: #{$won-primary-color-light};
    }

    &--disabled {
      pointer-events: none;
      cursor: default;
      --local-primary: #{$won-disabled-color};
    }
    &--skeleton {
      pointer-events: none;
      cursor: default;
      --local-primary: #{$won-skeleton-color};
    }

    &__icon {
      @include fixed-square($iconSize);
    }
  }
}
