@import 'won-config';
@import 'sizing-utils';

.contextmenu {
  position: relative;
  height: 0;
  z-index: 1000;

  .content {
    background: white;
    border: $thinGrayBorder;
    padding: 0.5rem;

    .contextmenu__icon {
      float: right;
      position: relative;
      top: -0.05rem;
      right: -0.05rem;

      // assuming there's no icons that are wider than tall.
      max-width: 1.8rem;
      width: auto;

      @media (max-width: $responsivenessBreakPoint){
        @include fixed-height(1rem);
        padding-bottom: 0.25rem;
      }
      @media (min-width: $responsivenessBreakPoint){
        @include fixed-height(1.8rem);
        padding-bottom: 0.5rem;
      }
    }
  }
}

