@import "won-config";
@import "sizing-utils";
@import "fonts";
@import "flex-layout";
@import "animate";

won-connection-indicators {
  &.won-is-loading {
    @include animateOpacityHeartBeat();
    pointer-events: none;
  }

  display: flex;
  flex-direction: row;

  .indicators__item {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 0.25rem;

    &:last-of-type {
      padding-right: 0;
    }

    &--unreads {
      cursor: pointer;
      --local-primary: #{$won-primary-color};
    }

    &--reads {
      cursor: pointer;
      --local-primary: #{$won-primary-color-light};
    }

    &--disabled {
      cursor: default;
      --local-primary: #{$won-disabled-color};
    }
    &--skeleton {
      cursor: default;
      --local-primary: #{$won-skeleton-color};
    }

    &__icon {
      @include fixed-square($iconSize);
    }

    &__caption {
      line-height: $iconSize;
      font-size: $smallFontSize;
      padding-left: 0.25em;
      min-width: 1.35rem;
      color: black;
    }
  }
  .mobile__indicator {
    line-height: $iconSize;
    font-size: $smallFontSize;
    padding-left: 0.5em;
    min-width: 0.5rem;
    color: black;
  }

  @media (max-width: $responsivenessBreakPoint) {
    :not(.mobile__indicator) {
      /*Hide the connection indicators in the mobile view to reduce problems regarding last element selection */
      display: none;
    }
  }
  @media (min-width: $responsivenessBreakPoint) {
    .mobile__indicator {
      display: none;
    }
  }
}
