@import 'won-config';
@import 'sizing-utils';
@import 'fonts';
@import 'flex-layout';
@import 'square-image';
@import 'speech-bubble';

won-connection-selection-item {
  display: block;
  position: relative; // to allow positioning the contextmenu in relation to this component-root

  &.won-unread {
    background-color: $won-unread; //TODO: CHANGE THE UNREAD APPEARANCE BECAUSE THE "invisible border" is off for unread elements
  }

  .conn__icon {
    @include fixed-square(1rem);
  }

  won-connection-state {
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;
    z-index: 10;

    svg {
      @include fixed-square(1.5rem);
    }
  }

  .conn__unreadCount {
    color: $won-primary-color;
    margin-left: 0.5rem;
  }

  $invisibleBorder: 0.0625rem solid white;

  .conn__inner.selected {
    @include speech-bubble-right(white, $won-line-gray, 0.625rem, $thinBorderWidth, 1.5rem);
    border-top: $thinGrayBorder;
    border-bottom: $thinGrayBorder;
  }

  &:first-child .conn__inner.selected {
    //don't show border for first item to avoid duplicate borders with the title bar
    border-top: $invisibleBorder;
  }
  &:not(:first-child) .conn__inner.selected {
    //don't show border for first item to avoid duplicate borders with the title bar
    border-top: $thinGrayBorder;
  }

  &:last-child .conn__inner.selected {
    //don't show border for first item to avoid duplicate borders with the title bar
    border-bottom: $invisibleBorder;
  }
  &:not(:last-child) .conn__inner.selected {
    //don't show border for first item to avoid duplicate borders with the title bar
    border-bottom: $thinGrayBorder;
  }

  .conn__inner {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-self: stretch;
    padding: 0.5rem;

    border-top: $invisibleBorder; //this is necessary so that the view does not "jump" when selecting an item
    border-bottom: $invisibleBorder; //this is necessary so that the view does not "jump" when selecting an item

    &:hover, &.selected {
      background-color: white;
    }

    .conn__icon {
      margin-left: 0.5rem;
    }
  }
}
