@import "won-config";
@import "sizing-utils";
@import "fonts";
@import "flex-layout";

aside.overview__left {
  border-right: $thinGrayBorder;
  @media (max-width: $responsivenessBreakPoint) {
    grid-column: 1 / -1;
  }
}

main.overview__rightempty {
  .overview__rightempty__noselection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $won-lighter-gray;

    &__icon {
      @include fixed-square($hugeiconSize);
      --local-primary: #{$won-line-gray};
    }

    &__text {
      margin-top: 1rem;
      color: $won-line-gray;
      font-size: $mediumFontSize;
    }
  }
}
