@import 'won-config';
@import 'sizing-utils';
@import 'fonts';
@import 'flex-layout';
@import 'square-image';

won-connection-selection-item {
  display: block;
  position: relative; // to allow positioning the contextmenu in relation to this component-root

  .conn__icon {
    @include fixed-square(1rem);
  }

  won-connection-state {
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;

    svg {
      @include fixed-square(1.5rem);
    }
  }

  .conn__unreadCount {
    color: $won-primary-color;
    margin-left: 0.5rem;
  }

  $greyBorder: $thinGrayBorder;
  $invisibleBorder: 0.1rem solid $won-lighter-gray;

  .conn__inner.selected {
    border-top: $greyBorder;
    border-left: $greyBorder;
    border-bottom: $greyBorder;

    /*
    box-sizing: border-box;
    width: calc(100% + 0.1rem);
    border-right-color: white; */
  }

  &:first-child .conn__inner.selected {
    //don't show border for first item to avoid duplicate borders with the title bar
    border-top: $invisibleBorder;
  }
  &:not(:first-child) .conn__inner.selected {
    //don't show border for first item to avoid duplicate borders with the title bar
    border-top: $greyBorder;
  }

  .conn__inner {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-self: stretch;
    padding: 0.5rem;

    border: $invisibleBorder; //this is necessary so that the view does not "jump" when selecting an item

    &:hover, &.selected {
      background-color: white;
    }

    .conn__icon {
      margin-left: 0.5rem;
    }
  }
}
