@import "won-config";
@import "sizing-utils";
@import "square-image";
@import "animate";

won-connection-header {
  &.won-is-loading {
    @include animateOpacityHeartBeat();
    pointer-events: none;

    .ch__icon__skeleton {
      @include fixed-square($postIconSize);
      background-color: $won-skeleton-color;
    }

    .ch__right__subtitle__type {
      height: $smallFontSize;
      width: 5rem;
      background-color: $won-skeleton-color;
    }

    .ch__right__topline__title {
      height: $normalFontSize;
      width: 7rem;
      background-color: $won-skeleton-color;
    }
  }

  color: black;
  //padding: 0.5rem;

  display: grid;
  grid-template-areas: "icon main";
  grid-template-columns: min-content 1fr;
  grid-column-gap: 0.5rem;
  min-width: 0;

  won-group-icon,
  .ch__icon {
    grid-area: icon;
    width: $postIconSize;
  }

  .ch__icon {
    @include square-image($postIconSize);
  }

  .ch__right {
    grid-area: main;
    display: grid;
    grid-template-areas: "topline" "subtitle";
    min-width: 0;
    &__topline {
      grid-area: topline;
      min-width: 0;

      &__notitle,
      &__title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 400;
        min-width: 0;
      }
      &__notitle {
        color: $won-subtitle-gray;
      }
    }
    &__subtitle {
      grid-area: subtitle;
      display: grid;
      grid-template-columns: 1fr min-content;
      color: $won-subtitle-gray;
      font-size: $smallFontSize;
      min-width: 0;

      &__type {
        display: flex;
        align-items: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &__persona {
          border-radius: 0.19rem;
          background: $won-secondary-color-lighter;
          color: $won-secondary-text-color;
          margin: 0.1rem;
          padding: 0 0.25rem;
          display: inline-block;
        }

        &__groupchat {
          border-radius: 0.19rem;
          background: $won-line-gray;
          margin: 0.1rem;
          padding: 0 0.25rem;
          display: inline-block;
        }

        won-connection-state {
          display: inline-block;
          padding-right: 0.25rem;

          svg.cs__state__icon {
            @include fixed-square($smallFontSize);
            --local-primary: #{$won-primary-color-light};

            &.won-unread {
              --local-primary: #{$won-primary-color};
            }
          }
        }

        &__message.won-unread,
        &__unreadcount {
          color: $won-unread-attention;
        }

        &__message {
          font-style: italic;
        }
      }

      &__date {
        font-size: $smallFontSize;
        color: $won-subtitle-gray;
        white-space: nowrap;
        padding-left: 0.5rem;
        min-width: 0;
      }
    }
  }
}
