@import "won-config";
@import "sizing-utils";
@import "fonts";
@import "flex-layout";

@import "connections-overview";
@import "responsiveness-utils";
@import "post-messages";
@import "usecase-picker";

.connectionscontent {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;

  align-items: flex-start;

  @include empty-description("opc");

  .conn__list {
    flex-grow: 1;
    max-width: $maxContentWidth / 2;

    @media (min-width: $responsivenessBreakPoint) {
      min-width: 28rem;
    }
  }

  .conn__content {
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: row;

    border-left: $thinGrayBorder;
    border-right: $thinGrayBorder;
    border-bottom: $thinGrayBorder;
    background: white;
    width: 100%;
    max-width: ($maxContentWidth / 2);
    //margin-ri: 0.5rem;

    box-sizing: border-box;

    @media (max-width: $responsivenessBreakPoint) {
      border-left: none;
      border-right: none;
    }

    &__welcome {
      padding: 0.5rem;
      width: 100%;
      overflow: auto;
      box-sizing: border-box;

      background: $won-lighter-gray;

      &__text {
        padding-bottom: 1rem;
      }

      &__createx {
        display: grid;
        grid-gap: 0.5rem;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;

        &.won-pending-publishing {
          grid-template-columns: 1fr;
        }

        &__button {
          white-space: normal;
        }
      }

      &__labelledhr {
      }
    }
  }
}
