@import 'won-config';
@import 'post-header';
@import 'connection-header';
@import 'connection-indicators';
@import 'connection-selection-item-line';
@import 'speech-bubble';

won-connections-overview {
  display: block;
  margin: 0;

  .co__item {
    background-color: $won-light-gray;
    border-left: $thinGrayBorder;
    border-right: $thinGrayBorder;
    border-bottom: $thinGrayBorder;

    &--withconn {
      margin-bottom: 0.5rem;

      .co__item__need {
        border-bottom: $thinGrayBorder;
      }
    }
    @media (max-width: $responsivenessBreakPoint) {
      border-left: none;
      border-right: none;
    }

    &__need {
      display: flex;
      flex-direction: row;
      align-items: center;

      padding: 0.5rem;

      won-post-header {
        flex-grow: 1;
      }

      &:hover, &.selected {

      }

      @media (min-width: $responsivenessBreakPoint){
        &.selected {
          @include speech-bubble-right(white, $won-line-gray, 0.625rem, $thinBorderWidth, 1.5rem);
        }
      }

      &__arrow {
        @include carretSized;
        // results in a clickable area as large as indicators
        // TODO: make the value less rigid
        padding: 0.625em;
      }
    }

    &__connections {
      background: white;
      @include speech-bubble-top(white, $won-line-gray, 0.625rem, $thinBorderWidth, 5rem);
    }
  }

  .co__loadspinner {
    width: 100%;
    height: 3rem;
    padding: .66em 2em;
    text-align: center;
    box-sizing: border-box;
  }
}