@import "sizing-utils";
@import "won-config";
@import "animate";

won-atom-context-dropdown,
won-connection-context-dropdown {
  .cdd__icon__small {
    @include fixed-square($postIconSizeMobile);
    padding-left: 0.5rem;

    &:not(.clickable) {
      --local-primary: #{$won-skeleton-color};
    }
    &.clickable {
      :hover {
        filter: brightness(125%);
      }
      --local-primary: #{$won-secondary-color};
    }
  }

  .cdd__icon__small__contextmenu {
    --local-primary: black;
    @include fixed-square($postIconSizeMobile);
    //padding-left: 0.5rem;
    position: relative;
    right: -0.6rem;
    /*the correct right value would be "calc(-0.5rem - #{$thinBorderWidth});"
    however, it is not displayed correct so we assume the right value with -0.6rem*/
    float: right;
  }

  .cdd__contextmenu {
    position: relative;
    height: 0;
    z-index: 1000;
    top: calc((#{$postIconSizeMobile} + #{$thinBorderWidth} + 0.5rem) * -1);
    right: $thinBorderWidth;

    .cdd__contextmenu__content {
      background: white;
      border: $thinGrayBorder;
      padding: 0.5rem;
      max-width: 15rem;
      position: absolute;
      right: -1px;
      top: -5px;

      a.won-button--outlined,
      button {
        margin-top: 0.5rem;
        width: 100%;
        white-space: nowrap;
      }

      a.won-button--outlined {
        cursor: pointer;
        display: flex;
        align-content: center;
        align-items: center;
        box-sizing: border-box;
      }
    }
  }
}
