@import "won-config";
@import "speech-bubble";
@import "square-image";
@import "animate";

won-connection-message {
  grid-template-columns: min-content minmax(min-content, max-content);
  box-sizing: border-box;
  padding: 0.5rem 0 0.5rem 1rem;
  @include square-image($postIconSize, 0 0.5rem 0 0);
  display: grid;
  grid-template-areas: "icon content";

  &.won-is-changeNotification {
    grid-template-columns: 1fr;
    grid-template-areas: "labelledhr";

    & > won-labelled-hr.won-cm__modified {
      grid-area: labelledhr;

      .wlh__label__text {
        background: white;
      }
    }
  }

  &.won-is-multiSelect:not(.won-is-changeNotification) {
    padding-left: 3rem;
    cursor: pointer;

    background-image: url("../assets/cb.svg");
    background-position: 0 0.5rem;
    background-repeat: no-repeat;
    background-size: 2.5rem;
  }
  &.won-is-multiSelect.won-not-selectable {
    opacity: 0.2;
    pointer-events: none;
  }

  &.won-is-multiSelect.won-is-selected {
    background-image: url("../assets/cb-selected.svg");
  }

  &.won-unread {
    border-left: 0.25rem solid $won-unread-attention;
    padding-left: 0.75rem;
  }

  &.won-is-collapsed {
    filter: opacity(50%);
    @include square-image($postIconSizeCollapsed, 0 0.5rem 0 0);
  }

  &.won-is-collapsible {
    @include square-image($postIconSizeCollapsed, 0 0.5rem 0 0);
  }

  &.won-is-loading {
    @include animateOpacityHeartBeat();

    .pcm__icon__skeleton {
      grid-area: icon;
      @include fixed-square($postIconSize);
      background-color: $won-skeleton-color;
      margin: 0 0.5rem 0 0;
    }
  }

  won-atom-image {
    grid-area: icon;
  }

  &.won-cm--left {
    justify-content: flex-start;

    > .won-cm__center {
      padding-left: 0.25rem;

      > .won-cm__center__bubble {
        background: $won-lighter-gray;

        @include speech-bubble-left(
          $won-lighter-gray,
          $won-line-gray,
          $speechBubbleTailSize / 2,
          $thinBorderWidth,
          0.8rem
        );
      }
    }
    & .won-cm__center__bubble {
      @include speech-bubble-left(
        white,
        $won-line-gray,
        $speechBubbleTailSize / 2,
        $thinBorderWidth,
        0.8rem
      );

      &.references {
        @include speech-bubble-left(
          white,
          $thinDarkBorder,
          $speechBubbleTailSize/2,
          $thinBorderWidth,
          0.8rem
        );
      }
    }
  }
  &.won-cm--right {
    justify-content: flex-end;

    > .won-cm__center {
      padding-right: 0.25rem;

      > .won-cm__center__bubble {
        background: white;

        @include speech-bubble-right(
          white,
          $won-line-gray,
          $speechBubbleTailSize/2,
          $thinBorderWidth,
          0.8rem
        );
      }
    }
    & .won-cm__center__bubble {
      @include speech-bubble-right(
        $won-lighter-gray,
        $won-line-gray,
        $speechBubbleTailSize/2,
        $thinBorderWidth,
        0.8rem
      );

      &.references {
        @include speech-bubble-right(
          $won-light-gray,
          $thinDarkBorder,
          $speechBubbleTailSize/2,
          $thinBorderWidth,
          0.8rem
        );
      }
    }
  }
  &.won-is-proposed:not(.won-is-collapsed):not(.won-is-collapsible),
  &.won-is-claimed:not(.won-is-collapsed):not(.won-is-collapsible),
  &.won-is-agreed:not(.won-is-collapsed):not(.won-is-collapsible) {
    opacity: 0.5;
    border: $thinGrayBorder;
  }

  &.won-is-accepted:not(.won-is-collapsed) {
    opacity: 1;
    //TODO styling
  }

  &.won-is-cancelled:not(.won-is-collapsed),
  &.won-is-retracted:not(.won-is-collapsed),
  &.won-is-rejected:not(.won-is-collapsed) {
    opacity: 0.5;
    .won-cm__center__bubble {
      won-combined-message-content {
        text-decoration: line-through;
        text-decoration-color: black;
      }
    }
  }

  .won-cm__center {
    grid-area: content;
    font-size: $smallFontSize;
    max-width: 100%;

    .won-cm__center__bubble {
      display: grid;
      grid-template-columns: 1fr min-content;
      border: $thinGrayBorder;
      word-break: break-word;
      box-sizing: border-box; // background: $won-light-gray;
      background-color: $won-light-gray; // like the error toast-notifications
      color: black;

      &__collapsed {
        padding: 0.25rem 0.5rem;
      }

      &__carret {
        padding: 0.5rem;

        &--expanded > svg {
          transform: rotate(-180deg);
          transition: all linear 0.2s;
        }

        &--collapsed > svg {
          transition: all linear 0.2s;
        }

        > svg {
          @include fixed-square(1rem); // visually center icon on line
        }
      }

      > won-connection-message-actions {
        grid-column: 1 / span 2;
      }
      > won-combined-message-content {
        grid-column: 1 / span 1;
      }

      //Message Type Styling
      &.references {
        border: $thinDarkBorder;
        background: $won-light-gray;
      }

      //Message Sent Status styling
      &.pending {
        opacity: 0.33;
      }
      &.partiallyLoaded {
        opacity: 0.66;
      }
      &.failure {
        color: #ff0000;
        //TODO: FAILURE MESSAGE STYLING
      }
    }

    &.won-cm__center--system,
    &.won-cm__center--nondisplayable {
      // hsla(57, 100%, 95%, 1);
      // lighten bg and text color? (might just suggest pending)
      // float icon on site opposite of bubble-tail
      .won-cm__center__bubble {
        background-color: white; // like the error toast-notifications
        color: #8f8f8f;
      }
    }

    &.won-cm__center--inject-into {
      .won-cm__center__bubble {
        // TODO: CHANGE STYLING FOR INJECTINTO MESSAGE
      }
    }
  }
}
