@import 'sizing-utils';
@import 'square-image';

won-connection-header {
  color: black;
  //padding: 0.5rem;

  display: grid;
  grid-template-areas: "icon main";
  grid-template-columns: min-content 1fr;
  grid-column-gap: 0.5rem;
  min-width: 0;

  .ch__icon {
    grid-area: icon;
    width: $postIconSize;

    @include square-image($postIconSize);

    .ch__icon__ownneed,
    .ch__icon__theirneed {
      position: absolute;
    }

    .ch__icon__ownneed{
      z-index: 1;
    }

    .ch__icon__theirneed {
      z-index: 2;
      //clip-path: polygon(100% 0, 100% 100%, 0 100%); //this polygon cuts diagonally
      clip-path: polygon(105% -5%,105% 105%,-5% 105%); //this polygon cuts diagonally with a little "padding" to reduce artifact due to clipping
      //clip-path: polygon(80% 0, 100% 0, 100% 100%, 20% 100%); //this polygon leaves some "padding" before cutting
    }
  }

  .ch__right {
    grid-area: main;
    display: grid;
    grid-template-areas: "topline" "subtitle";
    min-width: 0;

    &__topline {
      grid-area: topline;
      display: grid;
      grid-template-areas: "title date";
      grid-template-columns: 1fr min-content;
      min-width: 0;

      &__title {
        grid-area: title;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 400;
        min-width: 0;
      }

      &__date {
        grid-area: date;
        font-size: $smallFontSize;
        color: $won-subtitle-gray;
        white-space: nowrap;
        padding-left: 0.5rem;
        min-width: 0;
      }
    }

    &__subtitle {
      grid-area: subtitle;
      color: $won-subtitle-gray;
      display: flex;
      flex-direction: row;
      font-size: $smallFontSize;
      min-width: 0;

      &__group {
        display: flex;
        align-items: center;
        flex-direction: row;

        &__dash {
          padding: 0 0.25rem;
        }

        &__icon {
          padding-right: 0.25rem;
          @include fixed-square(0.75rem);
        }
      }
    }
  }
}
