@import "won-config";

won-dropdown {
  display: block;

  position: relative; // to allow absolutely positioning won-dd-menu

  & won-dd-header,
  & won-dd-menu {
    display: block;
    box-sizing: border-box;
  }

  won-dd-menu {
    .dd__userlabel {
      padding-top: 1rem;
      max-width: 18rem;
      font-size: $normalFontSize;
      color: $won-primary-color;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    @media (min-width: $responsivenessBreakPoint) {
      hr.show-in-responsive,
      .dd__userlabel.show-in-responsive {
        display: none;
      }
    }
    @media (max-width: $responsivenessBreakPoint) {
      hr.show-in-responsive,
      .dd__userlabel.show-in-responsive {
        display: block;
      }
    }
  }

  > .dd__open-button {
    //border: 1px solid transparent; // to align
  }

  .dd__close-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // left-aligned
  }
  &.dd-right-aligned-header {
    .dd__close-button {
      align-items: flex-end; //right-aligned
    }
  }

  $dropdownPadding: 1rem;
  > .dd__dropdown {
    padding-left: $dropdownPadding;
    padding-right: $dropdownPadding;
    padding-bottom: $dropdownPadding;

    /* put it directly over the trigger-button (with aligned text) */
    position: absolute;
    top: -1px; //-1px to offset border
    left: calc(-1px - #{$dropdownPadding}); // offset border *and* left padding
    z-index: 99;

    background-color: white;
    border: 1px solid #cbd2d1;

    a.won-button--outlined,
    button {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      width: 100%;
    }
  }
  &.dd-right-aligned-header {
    .dd__dropdown {
      left: auto;
      right: calc(
        -1px - #{$dropdownPadding}
      ); // offset border *and* left padding
    }
  }
}
