won-dropdown {
  display: block;

  position: relative; // to allow absolutely positioning won-dd-menu

  & won-dd-header,
  & won-dd-menu {
    display: block;
    box-sizing: border-box;
  }

  won-dd-menu {

  }

  > .dd__open-button {
    //border: 1px solid transparent; // to align
  }


  .dd__close-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // left-aligned
  }
  &.dd-right-aligned-header {
    .dd__close-button {
      align-items: flex-end; //right-aligned
    }
  }


  $dropdownPadding: 1rem;
  > .dd__dropdown {
    padding-left: $dropdownPadding;
    padding-right: $dropdownPadding;
    padding-bottom: $dropdownPadding;

    /* put it directly over the trigger-button (with aligned text) */
    position: absolute;
    top: -1px; //-1px to offset border
    left: calc(-1px - #{$dropdownPadding}); // offset border *and* left padding
    z-index: 99;

    background-color: white;
    border: 1px solid #cbd2d1;
  }
  &.dd-right-aligned-header {
    .dd__dropdown {
      left: auto;
      right: calc(-1px - #{$dropdownPadding}); // offset border *and* left padding
    }
  }



}

