@import 'won-config';
@import 'text';
@import 'dynamic-textfield';
.create-post {
  //@include flex-column;
  //max-width: 20rem;
  width: 100%;

  //$createPostMaxContentWidth: 46.25rem;
  $createPostMaxContentWidth: 35rem;
  @include max-content-width($createPostMaxContentWidth, $minContentPadding, 'cp');

  > .cp__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    padding: $minContentPadding;
  }

  .cp__dropzone {
    @include fixed-square(4.7rem);
    padding: 1rem;
    border: 3px dashed $won-line-gray;
    border-radius: 3px;
  }

  .cp__icon {
    @include fixed-square($bigiconSize);
  }

  won-posttype-select {
    margin-bottom: $minContentPadding;
  }

  .cp__mandatory-rest {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .cp__dropzone {
      margin-right: $minContentPadding;
      margin-bottom: $minContentPadding;
    }
    won-dynamic-textfield {
      flex-grow: 1;
      flex-basis: 10rem;
    }
  }
}
