@import "won-config";
@import "speech-bubble";
@import "sizing-utils";

won-create-post-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  // border-right: $thinGrayBorder;
  // border-bottom: $thinGrayBorder;

  @media (min-width: $responsivenessBreakPoint) {
    &.selected {
      @include speech-bubble-right(
        white,
        $won-line-gray,
        $speechBubbleTailSize,
        $thinBorderWidth,
        50%
      );
    }
  }
  @media (max-width: $responsivenessBreakPoint) {
    .cpi__item:first-of-type {
      border-left: 0;
    }
  }
  .cpi__item {
    flex: 1;
    display: flex;
    // needed for text positioning
    align-items: center;
    border-left: $thinGrayBorder;
    border-bottom: $thinGrayBorder;
    &--withcolspan {
      grid-column: 1 / 3;
    }
    :hover,
    &.selected {
      // TODO: SET CORRECT BACKGROUND COLOR
    }
    &__icon {
      @include fixed-square($postIconSize);
      padding: 0.5rem;
    }
    &__text {
      font-weight: 400;
    }
  }
}
