
@import 'won-config';
@import 'flex-layout';
@import 'title-bar';
@import 'speech-bubble';

// tailpos in %
.create-need-title {
  @include title-bar('cntb');
  border-top: none;

  > .cntb__inner {
    > .cntb__inner__left {
      @include flex-column;
      @extend %vcenter--absolute;
    }

    > .cntb__inner__center {
      margin: 0.5rem auto;
    }
  }

  @media (max-width: $responsivenessBreakPoint) {
    @include speech-bubble-top($won-lighter-gray, $won-line-gray, 1rem, $thinBorderWidth, calc(50vw - 0.7rem));
  }
  @media (min-width: $responsivenessBreakPoint) {
    @include speech-bubble-top($won-lighter-gray, $won-line-gray, 1rem, $thinBorderWidth, 50vw);
  }
}


.signup-title-bar {
  //@include speech-bubble-title-bar(80%, 80%);

  @include title-bar('sutb');

  > .sutb__inner {
    > .sutb__inner__left {
      @include flex-column;
      @extend %vcenter--absolute;
    }

    > .sutb__inner__center {
      margin: 0.5rem auto;
    }
  }

  @media (min-width: $maxContentWidth) {
    // tail above sign-in via offset from right edge of max-content-width area
    @include speech-bubble-top($won-light-gray, $won-line-gray, 1rem, $thinBorderWidth, calc(50vw + #{$maxContentWidth/2 - 8.8rem}));
  }
  @media (min-width: $responsivenessBreakPoint) and (max-width: $maxContentWidth) {
    // tail above sign-in via offset from right window-border
    @include speech-bubble-top($won-light-gray, $won-line-gray, 1rem, $thinBorderWidth, calc(100vw - 9.8rem));
  }
  @media (max-width: $responsivenessBreakPoint) {
    // tail is above sign-in-dropdown (where sign-up is hidden at that point)
    @include speech-bubble-top($won-light-gray, $won-line-gray, 1rem, $thinBorderWidth, calc(100vw - 4rem));
  }
}