@import "won-config";
@import "animate";
@import "sizing-utils";

won-create-isseeks {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  .cis__detail__items {
    display: grid;
    grid-auto-flow: row;

    &__item {
      $item-indicator-width: 0.25rem;
      $item-padding: 0.5rem;
      padding: $item-padding;
      display: grid;
      grid-auto-flow: row;
      grid-gap: $item-padding;
      border-bottom: $thinGrayBorder;
      padding-left: calc(#{$item-padding} + #{$item-indicator-width});
      background-color: white;

      &--won-expanded,
      &:hover {
        background: $won-light-gray;

        .cis__detail__items__item__header__label {
          color: $won-primary-color;
        }
        .cis__circleicon {
          --local-primary: #{$won-primary-color};
        }
      }

      &--won-hasvalue,
      &--won-hasvalue:hover {
        border-left: $item-indicator-width solid $won-unread-attention;
        padding-left: $item-padding;
      }

      &:first-child {
        border-top: $thinGrayBorder;
      }

      &__header {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-gap: 0.5rem;
        align-items: center;
        text-align: left;
        font-size: $normalFontSize;
        white-space: nowrap;
        cursor: pointer;

        &--won-showvalue {
          grid-template-columns: min-content 1fr 2fr;
        }

        &--won-showmandatoryindicator {
          grid-template-columns: min-content 1fr min-content;
        }

        &__label {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &__content {
          color: $won-line-gray;
          font-style: italic;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        color: black;
        --local-primary: black; // for the svg-icons

        .cis__circleicon {
          @include fixed-height(2rem);
          @include fixed-width(2rem);
        }

        .cis__mandatory {
          --local-primary: #{$won-primary-color};

          .cis__mandatory__icon {
            @include fixed-height(1rem);
            @include fixed-width(1rem);
          }
        }
      }
    }
  }
}
