@import 'won-config';
@import 'text';
@import 'dynamic-textfield';
.create-post {
  //@include flex-column;
  //max-width: 20rem;
  width: 100%;

  //$createPostMaxContentWidth: 46.25rem;
  $createPostMaxContentWidth: 35rem;
  @include max-content-width($createPostMaxContentWidth, $minContentPadding, 'cp');

  > .cp__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    padding: $minContentPadding;
  }

  .cp__icon {
    @include fixed-square($bigiconSize);
  }



  won-posttype-select {
    margin-bottom: $minContentPadding;
  }

  .cp__mandatory-rest {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    won-image-dropzone {
      margin-right: $minContentPadding;
      margin-bottom: $minContentPadding;
    }
    won-dynamic-textfield {
      flex-grow: 1;
      flex-basis: 10rem;
    }
  }
}

won-image-dropzone {
  $borderSize: 6.7rem;
  $padding: 1rem;
  @include fixed-square($borderSize);
  display: block;

  %wid__dropzone {
    background-size: contain;

    box-sizing: border-box;;
    height: 100%;
    width: 100%;

    position: relative; //to allow children to use pos:absolute

    input {
      filter: alpha(opacity=0);
      opacity: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }

    & .wid__dropzone__default-bg,
    & .wid__dropzone__preview-img {
      @extend %center--absolute;
      pointer-events: none;
    }
  }

  .wid__dropzone--empty {
    @extend %wid__dropzone;

    $borderWidth: 0.188rem; /* 3px @ 100% */
    border: $borderWidth dashed $won-line-gray;
    border-radius: $borderWidth;

    background-color: white;

    .wid__dropzone__preview-img {
      display: none;
    }
    .wid__dropzone__default-bg {
      @include max-square($borderSize - 2 * $padding - 2 * $borderWidth);
    }
  }

  .wid__dropzone--filled {
    @extend %wid__dropzone;

    background-color: white;

    $borderWidth: 0.062rem; /* 1px @ 100% */
    border: $borderWidth solid $won-line-gray;

    .wid__dropzone__preview-img {
      @include max-square($borderSize - 4 * $borderWidth);
    }
    .wid__dropzone__default-bg {
      display: none;
    }
  }
}
