@import 'won-config';
@import 'text';
@import 'needtextfield';
@import 'locationpicker';
@import 'animate';
@import 'sizing-utils';
@import 'textfield';
@import 'create-isseeks';
@import 'responsiveness-utils';

won-create-post {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: min-content minmax(10rem, 1fr) min-content;
  grid-row-gap: $gridRowGap;
  width: 100%;
  max-width: $maxContentWidth;
  height: 100%;
  box-sizing: border-box;
  padding: $gridRowGap;

  .cp__header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "header_back header_title";
    font-size: $normalFontSize;
    text-align: left;
    min-width: 0;
    align-items: center;


    &__title {
      grid-area: header_title;
      color: $won-subtitle-gray;
      font-size: $mediumFontSize;
      font-weight: 400;
    }

    &__back {
      grid-area: header_back;
      &__icon {
        @include fixed-square($backIconSize);
      }
    }
  }

  .cp__content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-top: $thinGrayBorder;
    padding-top: 1rem;
    overflow: auto;
  }

  .cp__footer {
    grid-area: footer;

    won-labelled-hr span {
      background-color: white;
    }

    .cp__footer__publish {
      width: 100%;
      margin-top: 1rem;
    }
  }
}