@import 'won-config';

.cpi__card{
    display: flex;
    flex-direction: row;
    align-items: center;
    //padding: 0.5rem;
    background-color: white;
    border-right: $thinGrayBorder;

    .cpi__item{
        flex: 1;
        display: flex; // needed for text positioning
        align-items: center;
        border-left: $thinGrayBorder;
        // TODO: change background-color when selected

        &__icon{
            width: 3.5rem; // needed because svg default size is huge
            height: 3.5rem;
        }

        &__text{
            font-weight: 400;
        }
    }
}