@import "won-config";
@import "textfield";
@import "sizing-utils";
@import "button";

won-datetime-picker {
  position: relative;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: min-content 1fr;

  .datetimep__button.won-button--filled {
    @media (max-width: $responsivenessBreakPoint) {
      padding: 0.5rem;
    }
    padding: 0.5rem 1rem;
  }

  .react-datetime-picker {
    .react-datetime-picker__wrapper {
      @extend .won-txt;
      width: 100%;
      box-sizing: border-box;
      border: $thinGrayBorder;
      background: white;

      .react-datetime-picker__button {
        &:hover {
          > svg {
            stroke: $won-primary-color-light;
          }
        }
        > svg {
          stroke: $won-primary-color;
        }
      }
    }
  }
}
