@import "won-config";
@import "textfield";

won-datetime-picker {
  .datetimep__input {
    position: relative;
    display: grid;

    .datetimep__input__icon {
      @include fixed-square($bigiconSize);
      position: absolute;
      right: 0.5rem;
      top: $formInputHeight / 2 - $bigiconSize / 2;
      z-index: 1;
    }

    .datetimep__input__inner {
      width: 100%;
      box-sizing: border-box;
      border: $thinGrayBorder;
      min-height: $formInputHeight;
      min-height: $formInputHeight;
      word-wrap: break-word;

      $verticalPadding: calcVerticalPaddingToHeight(
        $normalFontSize,
        22/16,
        $thinBorderWidth,
        $formInputHeight
      );
      padding: $verticalPadding 0.438rem $verticalPadding 0.438rem;

      &--withreset {
        padding: $verticalPadding 0.438rem + $bigiconSize $verticalPadding
          0.438rem;
      }
    }

    .datetimep__input__inner::-ms-clear {
      width: 0;
      height: 0;
    }

    input[type="datetime-local"]::-webkit-clear-button {
      -webkit-appearance: none;
    }
  }
}
