@import "won-config";
@import "positioning-utils";

%won-extended-gallery__frame {
  border: $thinGrayBorder;
  position: relative;

  &:hover {
    border: $thinRedBorder;
  }

  > img {
    //99% so they don't overlap the borders in Chrome
    max-height: 99%;
    max-width: 99%;
    height: auto;
    width: auto;
    @extend %center--absolute;
  }
}

won-extended-gallery {
  &.vertical {
    display: flex;
    flex-direction: row;

    .eg__selected {
      max-height: 15rem;
    }

    .eg__thumbs {
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      flex: 0 0 6.5rem;

      &__more,
      &__frame {
        margin: 0 0 0.5rem 0.5rem;
      }
    }
  }
  &.horizontal {
    display: flex;
    flex-direction: column;

    .eg__selected {
      height: 16rem;
    }

    .eg__thumbs {
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;

      &__more,
      &__frame {
        margin: 0.5rem 0.5rem 0 0;
      }
    }
  }

  .eg__selected {
    flex-grow: 1;
    @extend %won-extended-gallery__frame;
  }

  .eg__thumbs {
    &__frame {
      @extend %won-extended-gallery__frame;

      width: $postIconSize;
      height: $postIconSize;
    }

    &__more {
      @include fixed-square($postIconSize);
      border: $thinGrayBorder;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        border: $thinRedBorder;
      }

      span {
        background: white;
        color: black;
        font-size: $smallFontSize;
      }
    }
  }
}
