@import "won-config";
@import "sizing-utils";
@import "animate";
@import "elevation";

.fi {
  div.headerElement {
    display: flex;
    flex-wrap: wrap;
    grid-auto-flow: column;
    grid-column-gap: 0.5rem;
    align-items: center;
  }

  padding-left: 0.25rem;

  &.won-unread {
    border-left: 0.25rem solid $won-unread-attention;
  }
  &:not(.won-unread) {
    border-left: 0.25rem solid transparent;
  }
}
