@import 'won-config';
@import 'sizing-utils';
@import 'fonts';
@import 'flex-layout';

.feedcontent {
  @include max-content-width(32rem, $minContentPadding, 'fc');

  @include empty-description('fc');

  .fc__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    .fc__loading__text {
      color: $won-line-gray;
    }

    .hspinner {
      opacity: 0.5;
      margin-right: 0.5rem;
    }
  }

  .title {
    font-weight: 300;
    text-align: center;
    padding: 0.5rem 0;
    margin: 1rem 0;

    @media (max-width: $responsivenessBreakPoint) {
      margin: 0.5rem 0;
    }
  }
}

@import 'feed-item';