@import "won-config";
@import "sizing-utils";
@import "fonts";
@import "flex-layout";

won-feedback-grid {
  max-height: 4rem;
  min-height: 4rem;
  display: flex;

  a {
    text-decoration: none;
  }

  .feedback--bad,
  .feedback--good,
  .feedback--disabled {
    display: flex;
    cursor: pointer;
    flex-grow: 1;
    background: white;
    padding: 0.25rem;
    flex-direction: column;

    .feedback__icon {
      flex-grow: 1;
      align-self: center;
      width: 1.5rem;
      height: 1.5rem;
      background-size: 1.5rem;
    }

    .feedback__text {
      font-size: $smallFontSize;
      align-self: center;
      text-align: center;
    }
  }

  /* ------- conditional coloring -------- */

  .feedback--bad,
  .feedback--good,
  .feedback--disabled {
    &:hover {
      .feedback__text {
        color: $won-secondary-text-color;
      }

      .feedback__icon {
        --local-primary: #{$won-secondary-text-color};
      }
    }
  }
  .feedback--good {
    .feedback__icon {
      --local-primary: #{$won-primary-color};
    }
    .feedback__text {
      color: $won-primary-text-color;
    }
  }
  .feedback--bad {
    .feedback__icon {
      --local-primary: #{$won-primary-text-color};
    }
    .feedback__text {
      color: $won-primary-text-color;
    }
  }
  .feedback--disabled {
    .feedback__icon {
      --local-primary: #{$won-disabled-color};
    }
    .feedback__text {
      color: $won-disabled-color;
    }
  }
  .feedback--bad,
  .feedback--good {
    &:hover {
      background: $won-primary-color;
    }
  }
  .feedback--disabled {
    &:hover {
      background: $won-disabled-color;
    }
  }
}
