@import "won-config";
@import "sizing-utils";

won-file-viewer {
  @include won-detail-viewer("filev");

  &.won-in-message {
    .filev__content {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0.25rem;
      padding-top: 0.25rem;

      .filev__content__item {
        .filev__content__item__inner {
          display: grid;
          grid-template-columns: min-content 1fr;
          grid-gap: 0.25rem;
          justify-items: left;
          align-items: center;

          &:hover {
            cursor: pointer;
          }

          .filev__content__item__inner__image,
          .filev__content__item__inner__typeicon {
            @include fixed-square($postIconSizeMobile);
            object-fit: cover;
            --local-primary: #{$won-line-gray};
          }

          .filev__content__item__inner__label {
            font-size: $smallFontSize;
            color: $won-primary-text-color;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100%;
            white-space: nowrap;
          }
        }
      }
    }
  }

  &:not(.won-in-message) {
    .filev__content {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0.5rem;
      padding-top: 0.5rem;

      .filev__content__item {
        .filev__content__item__inner {
          display: grid;
          grid-template-columns: min-content 1fr;
          grid-gap: 0.25rem;
          justify-items: left;
          align-items: center;

          &:hover {
            cursor: pointer;
          }

          .filev__content__item__inner__image,
          .filev__content__item__inner__typeicon {
            @include fixed-square($postIconSizeMobile);
            object-fit: cover;
            --local-primary: #{$won-line-gray};
          }

          .filev__content__item__inner__label {
            font-size: $smallFontSize;
            color: $won-primary-text-color;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100%;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
