@import "won-config";
@import "sizing-utils";

won-file-viewer {
  @include won-detail-viewer("filev");

  .filev__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;

    .filev__content__item {
      display: grid;
      grid-template-rows: min-content 1fr;
      border: $thinGrayBorder;
      border-radius: 0.19rem;
      height: 5rem;
      background: $won-lighter-gray;
      grid-gap: 0.25rem;
      padding: 0.25rem;
      justify-items: center;

      .filev__content__item__image,
      .filev__content__item__typeicon {
        grid-row: 2 / span 1;
        max-width: 100%;
        max-height: 100%;
        --local-primary: #{$won-line-gray};
      }

      .filev__content__item__label {
        grid-row: 1 / span 1;
        font-size: $smallFontSize;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        white-space: nowrap;
      }
    }
  }
}
