@import "won-config";
@import "sizing-utils";
@import "positioning-utils";

won-file-picker {
  display: grid;
  grid-gap: 0.5rem;

  .filep__header {
    font-size: $smallFontSize;
  }

  .filep__preview {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;

    .filep__preview__item {
      display: grid;
      grid-template-columns: min-content 1fr min-content;
      border: $thinGrayBorder;
      background: $won-lighter-gray;
      grid-gap: 0.25rem;
      padding: 0.25rem;
      justify-items: left;
      align-items: center;

      .filep__preview__item__image,
      .filep__preview__item__typeicon {
        @include fixed-square($postIconSize);
        object-fit: contain;
        --local-primary: #{$won-line-gray};
      }

      .filep__preview__item__label {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        white-space: nowrap;
      }

      .filep__preview__item__remove {
        --local-primary: #{$won-primary-text-color};
        @include fixed-square($postIconSize);

        &:hover {
          cursor: pointer;
          --local-primary: #{$won-primary-color};
        }
      }
    }
  }
}
