@import "won-config";
@import "sizing-utils";
@import "positioning-utils";

won-file-dropzone {
  display: block;
  background-color: white;

  cursor: pointer;

  border: $boldBorderWidth dashed $won-line-gray;
  border-radius: $boldBorderWidth;

  input {
    display: none;
  }

  .wfd__dropzone {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 1rem;
    box-sizing: border-box;
    grid-gap: 0.5rem;
    outline: none;

    > .wfd__dropzone__icon {
      --local-primary: #{$won-line-gray};
      pointer-events: none;

      @include fixed-square($hugeiconSize);
    }
    > .wfd__dropzone__label {
      color: $won-line-gray;
    }
  }

  &.valid {
    $messagecolor: rgb(80, 206, 55);
    border-color: $messagecolor;
    > .wid__dropzone__icon {
      --local-primary: #{$messagecolor};
    }
    > .wid__dropzone__label {
      color: $messagecolor;
    }
  }

  &.invalid {
    $messagecolor: tomato;
    border-color: $messagecolor;
    > .wid__dropzone__icon {
      --local-primary: #{$messagecolor};
    }
    > .wid__dropzone__label {
      color: $messagecolor;
    }
  }
}
