/**
 * abstract flex-direction
 */
%flex {
  /* flex */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  & > * {
    /* flex-child */
    display: block;
    order: 1;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto
  }
}

%flex-row {
  /* flex-row */
  @extend %flex;
  flex-direction: row;
}
%flex-column {
  /* flex-column */
  @extend %flex;
  flex-direction: column;
}

%flex-row-spaced {
  /* flex-row-spaced */
  @extend %flex-row;
  justify-content: space-between;
}
