@import "won-config";

won-footer {
  background-color: $won-secondary-color; //TODO: change to primary-color when you figured out where the stylable logo is
  padding-top: 1rem;
  padding-bottom: 1rem;

  margin-top: 4rem;

  .footer__title {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: min-content min-content;
    grid-column-gap: 0.5rem;
    color: #fff;
    justify-content: center;

    &__logo {
      grid-row: 1 / span 2;
      --local-primary: white;
      height: 5rem;
    }

    &__appTitle {
      align-self: flex-end;
      font-size: $mediumFontSize;
    }
    &__tagLine {
      align-self: flex-start;
      font-size: $smallFontSize;
    }
  }
  .footer__links {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    font-size: $smallFontSize;

    &__divider {
      color: #fff;
      user-select: none;
      padding: 0 0.5rem;
    }

    &__link:visited,
    &__link {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
