@import "won-config";
@import "positioning-utils";

%won-gallery__frame {
  border: $thinBorderWidth solid $won-line-gray;
  position: relative;
  > img {
    //99% so they don't overlap the borders in Chrome
    max-height: 99%;
    max-width: 99%;
    height: auto;
    width: auto;
    @extend %center--absolute;
  }
}

won-gallery {
  $width: 22.7rem;
  width: $width; //TODO testing stuff; deletme

  @include flex-column;

  $whiteSpace: 1rem;

  &:before,
  &:after {
    /* to prevent margin collapsing of the the selected image */
    content: " ";
    display: table;
  }

  .won-gallery__selected {
    width: $width;
    height: $width;
    @extend %won-gallery__frame;
  }

  .won-gallery__thumbs {
    align-self: stretch;

    @include flex-row-spaced;

    margin-top: $whiteSpace;

    .won-gallery__thumbs__frame {
      @extend %won-gallery__frame;

      //4 images, 3 gaps in between (ignoring the 1px borders for now)
      $size: ($width - 3 * $whiteSpace)/4;
      width: $size;
      height: $size;
    }
  }

  .won-gallery__controls {
    margin-top: $whiteSpace;
    align-self: stretch;

    display: flex;
    justify-content: space-between;
  }

  .won-gallery__back {
  }
  .won-gallery__forward {
    transform: rotate(0.5turn);
  }
  .won-gallery__back,
  .won-gallery__forward {
    @include fixed-height(1.8rem);
    // assuming there's no icons that are wider than tall.
    // this assumption has to be made, to prevent chrome
    // from showing immensly wide svg-snippets (id-selected
    // viewports reaching to the right edge of the svg-sprite)
    max-width: 1.8rem;
    width: auto;
  }
}
