@import "sizing-utils";
@import "won-config";
@import "animate";

won-group-administration {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: min-content minmax($minimalGridRows, 1fr) min-content;
  grid-row-gap: $gridRowGap;
  box-sizing: border-box;
  padding: $gridRowGap;

  .ga__header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "header_back header_title header_context";
    grid-area: header;
    font-size: $normalFontSize;
    text-align: left;
    min-width: 0;
    align-items: center;

    &__back {
      grid-area: header_back;
      &__icon {
        @include fixed-square($backIconSize);
      }
    }

    won-group-administration-header {
      grid-area: header_title;
    }

    //TODO: CHANGE ONCE WE HAVE A DROPDOWN FOR THIS COMPONENT
    won-connection-context-dropdown {
      grid-area: header_context;
    }
  }

  .ga__content {
    grid-area: main;
    padding: 0.5rem;
    background: white;
    border: $thinGrayBorder;
    overflow: auto;
    flex-grow: 1;

    .ga__content__participant {
      display: grid;

      won-connection-header {
      }
    }
  }
}
