@import "won-config";
@import "sizing-utils";
@import "animate";

.card__holder {
  // Defines the height of the (no)persona-div, so that they no-persona is the same height as attached personas
  --persona-height: 2.5rem;
  margin-top: 0.5rem;

  display: grid;
  grid-template-areas: "card__holder__icon card__holder__name";
  grid-template-columns: var(--persona-height) 1fr;
  grid-column-gap: 0.5rem;
  padding-top: 0.5rem;
  border-top: $thinGrayBorder;

  &__icon {
    grid-area: card__holder__icon;

    border-radius: 100%;
    @include fixed-square(var(--persona-height));
    background: white;

    &.holderUseCaseIcon {
      border-radius: 0;
      background: unset;
      padding: 0.2rem;
      box-sizing: border-box;

      & .si__serviceatomicon {
        display: flex;
        --local-primary: #{$won-secondary-text-color};
        height: 100%;
        width: 100%;
      }
    }
  }

  &__name {
    color: $won-primary-text-color;
    grid-area: card__holder__name;
    display: flex;
    align-items: center;
    overflow: hidden;

    &__label {
      font-size: $normalFontSize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__verification {
      font-size: $smallFontSize;
      margin-left: 0.25rem;

      &--verified {
        color: $won-line-gray;
      }
      &--unverified {
        color: $won-unread-attention;
      }
    }
  }
}
