@import "won-config";
@import "sizing-utils";
@import "detail-viewer-mixin";

won-image-viewer {
  @include won-detail-viewer("imagev");

  .imagev__content {
    .imagev__content__selected {
      background: white;
      border: $thinGrayBorder;

      .imagev__content__selected__image {
        &:hover {
          cursor: pointer;
        }
        height: 100%;
        width: 100%;
        object-fit: scale-down;
      }
    }

    .imagev__content__thumbnails {
      display: grid;
      background: $won-lighter-gray;
      border: $thinGrayBorder;
      border-top: 0;
      padding: 0.5rem;
      grid-gap: 0.5rem;

      .imagev__content__thumbnails__thumbnail {
        background: white;
        height: $postIconSize;
        border: $thinGrayBorder;
        opacity: 0.5;
        &--selected {
          border-color: $won-primary-color;
          opacity: 1;

          &:hover {
            cursor: default;
            opacity: 1;
          }
        }

        &:hover {
          cursor: pointer;
          opacity: 0.75;
        }

        .imagev__content__thumbnails__thumbnail__image {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &.won-in-message {
    .imagev__content {
      .imagev__content__selected {
        height: 15rem;
      }

      .imagev__content__thumbnails {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }

  &:not(.won-in-message) {
    .imagev__content {
      .imagev__content__selected {
        @media (max-width: $responsivenessBreakPoint) {
          height: 15rem;
        }
        @media (min-width: $responsivenessBreakPoint) {
          height: 25rem;
        }
      }

      .imagev__content__thumbnails {
        @media (max-width: $responsivenessBreakPoint) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        @media (min-width: $responsivenessBreakPoint) {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
      }
    }
  }
}

.postcontent
  won-atom-info
  won-image-viewer:not(.won-in-message)
  .imagev__content
  > {
  //Full PostView view should have a different thumbnail height if not mobile

  @media (min-width: $responsivenessBreakPoint) {
    .imagev__content__thumbnails > .imagev__content__thumbnails__thumbnail {
      height: $hugeiconSize;
    }
  }
}
