@import "won-config";
@import "sizing-utils";
@import "fonts";
@import "flex-layout";

main.ownerwelcome {
  grid-column: 1 / -1;
  box-sizing: border-box;
  align-items: stretch;
  max-width: 45rem;
  width: 100%;
  margin: 0 auto;
  background: white;
  border: $thinGrayBorder;
  border-top: 0;

  > won-how-to
    > .howto__createx
    > won-labelled-hr
    > .wlh__label
    > .wlh__label__text {
    background: white;
  }

  padding: 3rem $minContentPadding 3rem $minContentPadding;
  @media (max-width: $responsivenessBreakPoint) {
    padding: 2rem 0.5rem 2rem;
    border-left: 0;
    border-right: 0;
  }

  .ownerwelcome__text {
    padding-bottom: 1rem;

    h1 {
      color: $won-primary-color;
      font-weight: normal;
      font-size: $bigFontSize;
      padding-bottom: 1.5rem;
      text-align: center;
    }
    p {
      padding-bottom: 1.5rem;
      text-align: center;
    }
    h3 {
      text-align: center;
    }
  }
}
main.ownerloading {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;

  > .ownerloading__spinner.hspinner {
    @include fixed-square(5rem);
  }
  > .ownerloading__label {
    color: $won-line-gray;
    text-align: center;
  }
}

main.ownerinventory {
  grid-column: 1 / -1;
  padding: 0;
  box-sizing: border-box;
  align-items: stretch;
  max-width: $maxContentWidth;
  width: 100%;
  margin: 0 auto;

  & .ownerinventory__personas {
    padding: 1rem 0;
    display: grid;
    grid-gap: 1rem;

    > won-post-info.ownerinventory__personas__persona {
      background: white;
      border: $thinGrayBorder;
    }
  }

  & .ownerinventory__header {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 0.5rem;
    border-bottom: $thinGrayBorder;
    padding: 0.5rem;
    @media (min-width: $maxContentWidth) {
      padding-right: 0;
    }
    align-items: center;

    &__title {
      font-size: $mediumFontSize;
      font-weight: 300;

      &__count {
        display: inline-block;
        margin-left: 0.25rem;
      }
    }

    &__carret {
      @include fixed-square(1.5rem);
      --local-primary: black;
      cursor: pointer;

      &:hover {
        --local-primary: #{$won-primary-color};
      }

      &--expanded {
        transform: rotate(-180deg);
        transition: all linear 0.5s;
      }

      &--collapsed {
        transition: all linear 0.5s;
      }
    }
  }

  .ownerinventory__content {
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;

    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

    .ownerinventory__content__atom {
      border: $thinGrayBorder;
    }

    .ownerinventory__content__createatom {
      border: $thinGrayBorder;
      background: $won-light-gray;
      padding: 0.5rem;
      cursor: pointer;
      display: grid;
      grid-gap: 0.5rem;
      grid-auto-flow: row;
      justify-content: center;
      align-content: center;
      grid-template-rows: min-content min-content;
      box-sizing: border-box;

      &:hover {
        border-color: $won-primary-color;

        .ownerinventory__content__createatom__label {
          color: $won-primary-color;
        }

        .ownerinventory__content__createatom__icon {
          --local-primary: #{$won-primary-color};
        }
      }

      .ownerinventory__content__createatom__label {
        font-size: $mediumFontSize;
        text-align: center;
        color: $won-line-gray;
      }

      .ownerinventory__content__createatom__icon {
        @include fixed-square($hugeiconSize);
        --local-primary: #{$won-line-gray};
      }
    }
  }
}
