@import 'won-config';
@import 'sizing-utils';
@import 'fonts';

@import 'won-config';



.curtain {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $won-light-blue;
  opacity: 0.5;
  z-index: 100;

}

main.landingpage {
  > div {
    width: calc(100% - #{$minContentPadding} *2); //we do have to remove the 2rem padding for each subdiv otherwise we would have a horizontal scrollbar
    //box-sizing: border-box did not work (the height property was faulty then
  }

  padding-top: 1.5rem;

  .lp__footnote {
    align-items: flex-end;
    align-self: center;
    display: flex;
    max-width: $maxContentWidth / 2;
    flex-direction: column;
    //font-size: 0.8rem;
    //font-size: $smallFontSize;
    font-size: $normalFontSize;
    //color: #a9a7a7;
    color: $won-line-gray;
    //border-top: 1px solid #b3b3b3;
    border-top: 1px solid $won-line-gray;
    margin-top: 1.5rem;
    padding-top: 1rem;

  }
}