@import 'won-config';
@import 'sizing-utils';
@import 'fonts';

.curtain {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $won-light-blue;
  opacity: 0.5;
  z-index: 100;
}

.welcome {
    background-color: $won-blue;
    color: white;
    font-family: $font-family-sans-serif;
    font-weight: 300;
    padding: 5rem 1rem 1rem 0;

    .title{ color: $won-red; }

    .w__description {
        margin: 0 auto;
        max-width: 30rem;
        text-align: center;
        padding: 1rem;
        font-size: $smallFontSize;
        font-weight: 500;

        .wd__title {
          display: block;
          color: $won-red;
          font-size: $normalFontSize;
          border-top: 0.1rem solid $won-light-blue;
          padding-top: 0.5rem;
          max-width: 22rem;
          margin: 0 auto;
        }

        .wd__text {
          padding-top: 1rem;
          padding-bottom: 0.5rem;
          text-align: left;
          display: block;
        }

        .wd__more {
          color: $won-red;
        }

        .wd__arrow {
          display: block;
          margin: 0 auto;
          width: 1rem;
        }
    }
}

.howto {
    font-weight: 300;
    border-top: 0.1rem solid $won-line-gray;
    padding: 1rem;
}

.faq {
    font-weight: 300;
    border-top: 0.1rem solid $won-line-gray;
    padding: 1rem;
    background-color: $won-lighter-gray;

    won-accordion {
      display: block;
      max-width: 30rem;
      margin: 0 auto;
    }
}

.try {
    font-weight: 300;
    padding: 1rem;
    background-color: $won-red;

    .title {
      position: relative;
      z-index: 101;
      color: white;
    }

    .sub {
      font-size: $normalFontSize;
    }

    .trygrid {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;

      .block{
        padding-bottom: 1rem;
      }

      .tg__signup {
        position: relative;
        z-index: 101;
        background-color: $won-red;
        padding: 1rem 4rem;
        margin: 0rem 1rem;
      }

      .tg__anonymous,
      .tg__signup {
        width: 18rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .tg__errormsg {
        font-size: $smallFontSize;
        color: white;
      }

      .tg__anonymous {
        padding: 1rem 5rem;
        border-left: 0.1rem solid $won-light-gray;
      }

      .tg__anonymous {
        .description {
          color: white;
          padding: 1rem 0;
        }
      }

      @media screen and (max-width: 20rem) {
        .tg__anonymous,
        .tg__signup {
          width: 18rem;
          padding: 0;
          border: 0;
        }
      }

      input[type=text],
      input[type=password],
      input[type=email] {
        margin: 1rem 0;
        width: 100%;
      }

      input.ng-invalid {
        margin: 1rem 0 0 0;
      }
    }
}

.title {
  text-align: center;
  font-size: $bigFontSize;
  padding-bottom: 2rem;
}