@import 'won-config';
@import 'sizing-utils';
@import 'fonts';

@import 'won-config';

main.landingpage {
  > div {
    width: calc(100% - #{$minContentPadding} *2); //we do have to remove the 2rem padding for each subdiv otherwise we would have a horizontal scrollbar
    //box-sizing: border-box did not work (the height property was faulty then
  }

  padding-top: 1.5rem;

  .lp__footnote {
    align-items: flex-end;
    align-self: center;
    display: flex;
    max-width: $maxContentWidth / 2;
    flex-direction: column;
    border-top: 1px solid $won-line-gray;
    margin-top: 1.5rem;
    padding-top: 1rem;

    a {
      font-size: $normalFontSize;
      color: $won-line-gray;
      text-decoration: none;
    }
  }
}