@import "won";
@import "textfield";

won-location-picker {
  display: block;
  position: relative;

  won-title-picker.lp__searchbox > .titlep__input > .titlep__input__inner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
  }

  won-title-picker.lp__addressoverride
    > .titlep__input
    > .titlep__input__inner {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    outline: none;
  }

  .lp__searchbox:focus-within + .lp__searchresults, // show search results when search box is focused
  .lp__searchresults:hover {
    // needed to make search results appear long enough to be clickable
    display: block;
  }

  .lp__searchresults {
    display: none;
    border: none;

    &.lp__searchresults--filled {
      border: $thinGrayBorder;
    }

    width: 100%;
    box-sizing: border-box;

    position: absolute;
    z-index: 1;
    background-color: white;

    list-style-type: none;

    .lp__searchresult {
      display: flex;
      align-items: center;

      padding: 1rem 0.5rem;
      font-size: $normalFontSize;
      cursor: pointer;

      &:hover {
        background-color: $won-lighter-gray;
      }

      .lp__searchresult__text {
        padding: 0 0.5rem;
      }

      .lp__searchresult__icon {
        @include fixed-square(1.5rem);
        --local-primary: #{$won-subtitle-gray};
      }
    }
  }

  .lp__mapmount {
    width: 100%;
    height: 31rem;
    z-index: 0;
    border: $thinGrayBorder;
    border-top: 0;
    box-sizing: border-box;

    @media (max-width: $responsivenessBreakPoint) {
      height: 15rem;
    }
  }
}
