@import 'won';
@import '../jspm_packages/npm/leaflet@0.7.7/dist/leaflet.css';

won-location-picker {

  .lp__selected {
    display: flex;
    align-items: center;
    
    .lp__selected__icon {
      @include fixed-square(2rem);
    }
  }

  .lp__searchbox {
    border-width: $thinBorderWidth;
    border-style: solid;
    border-radius: 0.1rem;
    background-color: white;


    font-size: $normalFontSize;
    min-height: $formInputHeight;

    $realFontHeight: $normalFontSize * 22/16; /* of one line of text */
    $verticalPadding: ($formInputHeight - $realFontHeight) / 2 - $thinBorderWidth;
    padding: $verticalPadding 0.438rem;

    box-sizing: border-box;

    min-width: 0; // so a size is specified and break-word works
    word-wrap: break-word;

    border-color: $won-line-gray;

    width: 100%;
  }

  .lp__mapmount {
    width: 100%;
    height: 31rem;

    @media (max-width : $responsivenessBreakPoint) {
      height: 15rem;
    }
  }
  .highlightedText {
    font-weight: bold;
  }
}