@import "won-config";
@import "flex-layout";
@import "sizing-utils";

won-login-form {
  > form.loginForm {
    padding-bottom: 0.5rem;
  }

  > won-labelled-hr > .wlh__label > .wlh__label__text {
    background: white;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    margin: 1rem 0;
    width: 100%;
    background-color: $won-lighter-gray;
    box-shadow: inset 0 0 0.3rem 0 $won-light-gray;
  }

  .wl__errormsg {
    font-size: $smallFontSize;
    color: $won-primary-color;

    &__resend {
      font-weight: bold;
      font-size: $smallFontSize;
      color: $won-primary-color;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .wl__register {
    padding-top: 0.5rem;
    display: block;

    button.won-button--filled.red {
      margin: 0;
    }
  }
}
