@import 'won-config';
@import 'flex-layout';
@import 'sizing-utils';

won-logout {

}

won-logout2 {

  background: white;
  display: block;
  padding: 0 0.9rem 1rem 1rem;
  top: -3rem;
  position: relative;
  border: $thinGrayBorder;

  button {
    width: 100%;
  }

  & .wl__button {
    @include flex-row;
    justify-content: flex-end;
    text-decoration: none;
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;

    //TODO drop text (only use icons when there's no space)
    & .wl__button__caption {
      color: $won-red;

      white-space: nowrap;
      text-decoration: none;
    }

    .wl__button__icon {
      @include fixed-square($bigiconSize);
    }

    & .wl__button__carret {
      // with svg-included margins
      @include carretSized;
    }

    & .wl__button__icon {
      @include fixed-square($bigiconSize);
    }

    &.open {
      color: $won-red;
      text-decoration: none;
    }
  }
}

.loginOverlay {
  width: 100%;
  @include max-content-width($maxContentWidthLoginOverlay, 0rem, 'lo');
  position: absolute;
  z-index: 100;

  > .lo__inner {
    @include flex-row;
    justify-content: flex-end;

    position: relative; //to allow absolute on *__center
  }
}