@import 'won-config';
@import 'flex-layout';
@import 'sizing-utils';

/**
 * won-login is it's own popup (as compared to won-login-form)
 */
won-login {
  background: white;
  padding: 0 1rem 1rem 1rem;
  top: -3rem;
  border: $thinGrayBorder;
  position: relative;
}

won-login, won-login-form {
  display: block;

  button {
    width: 100%;
  }

  input[type=text],
  input[type=password],
  input[type=email] {
    margin: 1rem 0;
    width: 100%;
    background-color: $won-lighter-gray;
    box-shadow: inset 0 0 0.3rem 0rem $won-light-gray;
  }

  .wl__errormsg {
    font-size: $smallFontSize;
    color: $won-red;
  }

  .wl__table{
    display: table;

    width: 100%;
    padding-bottom: 1rem;
    font-size: $smallFontSize;

    .wlt__right,
    .wlt__left {
      display: table-cell;
      width: 50%;
      vertical-align: middle;
    }


    .wlt__right {
      text-align: right;
    }
  }

  .wl__register {
    width: 100%;
    padding-top: 1rem;
    display: block;
    font-size: $smallFontSize;
  }

  & a {
    color: $won-red;
    text-decoration: none;
  }

  & .wl__button {
    @include flex-row;
    justify-content: flex-end;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;

    //TODO drop text (only use icons when there's no space)
    .wl__button__caption {
      color: black;
      white-space: nowrap;

      /*@media (max-width: $responsivenessBreakPoint) {
        display: none;
      }*/
    }

    .wl__button__icon {
      @include fixed-square($bigiconSize);

    }

    & .wl__button__carret {
      /*
      // without svg-included margins
      @include fixed-height(0.5rem);
      @include fixed-width(0.875rem);
      */

      // with svg-included margins
      @include carretSized;
    }

    &.open {
      color: black;
    }
  }
}

.loginOverlay {
  width: 100%;
  @include max-content-width($maxContentWidthLoginOverlay, 0rem, 'lo');
  position: absolute;
  z-index: 100;

  > .lo__inner {
    @include flex-row;
    justify-content: flex-end;

    position: relative; //to allow absolute on *__center
  }
}