@import "won-config";
@import "flex-layout";
@import "title-bar";

.main-tab-bar {
  @include title-bar("mtb");

  > .mtb__inner {
    > .mtb__inner__center {
      //TODO dynamically adapt to number of children(?) or at least pull into a config-variable
      // or make won-tabs a parametrized mixin?
      flex-basis: 33rem;
      max-width: 33rem;
    }

    > .mtb__inner__right {
      display: none; //UNTIL WE INCLUDE THE SEARCH FUNCTIONALITY THIS WILL NOT BE DISPLAYED ANYMORE
      /*@include flex-column;*/
    }
  }
}
