@import "won-config";
@import "sizing-utils";
@import "fonts";
@import "flex-layout";

main.ownermap {
  grid-column: 1 / -1;
  padding: 0;
  box-sizing: border-box;
  align-items: stretch;
  max-width: $maxContentWidth;
  width: 100%;
  margin: 0 auto;

  & .ownermap__header {
    @media (min-width: $responsivenessBreakPoint) {
      display: grid;
      grid-template-columns: 1fr min-content;
      grid-gap: 0.5rem;
      border-bottom: $thinGrayBorder;
      padding: 0.5rem;
      align-items: center;

      &__title {
        display: flex;
        font-size: $mediumFontSize;

        &__location {
          display: flex;
          align-items: center;
          cursor: pointer;
          color: $won-primary-color;
          --local-primary: #{$won-primary-color};

          &:hover {
            color: $won-primary-color-light;
            --local-primary: #{$won-primary-color-light};
          }

          &__icon {
            @include fixed-square($mediumFontSize);
          }
        }
      }

      &__updated {
        display: grid;
        grid-template-columns: min-content min-content;
        grid-gap: 0.5rem;
        align-items: center;

        font-size: $smallFontSize;

        &__loading {
          font-size: $smallFontSize;
          color: $won-line-gray;
        }

        &__time {
          white-space: nowrap;
          color: $won-line-gray;
        }

        &__reload.won-button--filled.red {
          font-size: 0.75rem;
          padding: 0.25rem;
        }
      }
    }

    @media (max-width: $responsivenessBreakPoint) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content;
      grid-gap: 0.5rem;
      border-bottom: $thinGrayBorder;
      padding: 0.5rem;
      align-items: center;

      &__title {
        display: flex;
        flex-direction: column;
        font-size: $normalFontSize;

        &__location {
          display: flex;
          align-items: flex-start;
          margin-top: 0.3rem;
          cursor: pointer;
          color: $won-primary-color;
          --local-primary: #{$won-primary-color};

          &:hover {
            color: $won-primary-color-light;
            --local-primary: #{$won-primary-color-light};
          }

          &__icon {
            margin-top: 0.25rem;
            @include fixed-square($normalFontSize);
          }
        }
      }

      &__updated {
        display: grid;
        grid-template-columns: min-content min-content;
        grid-gap: 0.5rem;
        align-items: center;
        justify-content: flex-end;

        font-size: $smallFontSize;

        &__loading {
          font-size: $smallFontSize;
          color: $won-line-gray;
        }

        &__time {
          white-space: nowrap;
          color: $won-line-gray;
        }

        &__reload.won-button--filled.red {
          font-size: 0.75rem;
          padding: 0.25rem;
        }
      }
    }
  }

  .ownermap__deniedlocation,
  .ownermap__nolocation {
    display: grid;
    padding: 1rem;
    justify-items: center;

    &__label {
      margin-top: 1rem;
      max-width: 25rem;
      text-align: center;
    }

    &__icon {
      --local-primary: #{$won-disabled-color};
    }

    &__button {
      margin-top: 1rem;
      padding: 0.5rem;
    }
  }

  .ownermap__map {
    display: block;
    height: 50vh;
    width: 100%;

    .atom-map__mapmount {
      width: 100%;
      height: 50vh;
    }
  }

  .ownermap__noresults {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem;

    &__label {
      font-size: $normalFontSize;
      color: $won-disabled-color;
      text-align: center;
      max-width: 25rem;
    }
  }

  .ownermap__content {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;

    won-atom-card.ownermap__content__atom {
      border: $thinGrayBorder;
      background: $won-light-gray;

      margin-right: 1rem;
      margin-bottom: 1rem;
    }

    @media (max-width: $responsivenessBreakPoint) {
      display: block;

      won-atom-card.ownermap__content__atom {
        margin-right: 0;
      }
    }
  }
}
