@import 'won-config';
@import 'sizing-utils';
@import 'fonts';
@import 'flex-layout';
@import 'post-header';

won-matches-flow-item {
  display: inline-block;
  break-inside: avoid;
  margin: 0.5rem 0.25rem;
  border: $thinGrayBorder;
  background: $won-light-gray;
  width: 16.25rem;

  @media (max-width: $responsivenessBreakPoint){
    width: 100%;
  }

  .mfi__description {
    padding: 0.5rem;
    color: black;
    flex-grow: 1;

    won-post-header .ph__right__topline__title {
      font-weight: bold;
      font-size: $smallFontSize;
    }

    @include speech-bubble-bottom($won-light-gray, $won-line-gray, 0.625rem, $thinBorderWidth, 50%);
  }

  .mfi__gallery {
    padding: 0.5rem 0.5rem 0 0.5rem;

    won-square-image,
    won-need-map {
      .need-map__mapmount,
      .image {
        width: 100%;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &__noimage {
          color: white;
          font-size: 8rem;
        }
      }
    }

    won-extended-gallery {
      .eg__selected {
        flex-grow: 1;
        border: $thinGrayBorder;
        position: relative;
        height: initial !important;

        > img {
          display: block;
          max-width: 100%;
          width: 100%;
          transform: translateY(0%) translateX(0%);
          position: inherit;
          left: 0;
          top: 0;
        }
      }

      .eg__thumbs__more {
        margin: 0.5rem 0 0 0 !important;
        background-color: white;
      }
    }
  }

  .mfi__match {
    border-top: $thinGrayBorder;
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    min-height: 3rem;
    @include square-image($feedIconSize, 0 0 0 0.5rem);

    &:hover {
      .mfi__match__description__title {
        color: $won-primary-color;
      }
    }

    &__description {
      color: black;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      font-size: $smallFontSize;

      &__title{
        font-weight: 700;
      }

      &__type {
        font-size: $smallFontSize;
      }
    }
  }

  won-feedback-grid {
    border-top: $thinGrayBorder;
  }
}

