@import "won-config";
@import "text";
@import "textfield";
@import "animate";

won-matching-context-picker {
  .mcp__checkboxes {
    display: flex;
    padding: 0 0.3rem 0.3rem 0.3rem;
  }

  .mcp__input {
    position: relative;
    padding-left: 0.3rem;

    .mcp__input__icon {
      @include fixed-square($bigiconSize);
      position: absolute;
      right: 0.5rem;
      top: $formInputHeight / 2 - $bigiconSize / 2;
      z-index: 1;
    }

    .mcp__input__inner {
      border: $thinGrayBorder;

      @include textfieldPadding(
        $normalFontSize,
        22/16,
        $thinBorderWidth,
        $formInputHeight
      );

      box-sizing: border-box;
      min-height: $formInputHeight;
      min-width: 0; // so a size is specified and break-word works
      width: 100%;

      word-wrap: break-word;

      &--withreset {
        $verticalPadding: calcVerticalPaddingToHeight(
          $normalFontSize,
          22/16,
          $thinBorderWidth,
          $formInputHeight
        );
        padding: $verticalPadding 0.438rem + $bigiconSize $verticalPadding
          0.438rem;
      }
    }

    .mcp__input__inner::-ms-clear {
      width: 0;
      height: 0;
    }
  }

  .mcp__helptext {
    @include fine-print;
    @include appearAnimation(0.5s, linear);
    padding-left: 0.3rem;
  }

  .mcp__contextlist {
    display: flex;
    flex-wrap: wrap;
    padding: 0.3rem;

    .mcp__contextlist__context {
      border-radius: 0.5rem;
      background: $won-primary-color;
      color: white;
      margin: 0.25rem 0.25rem 0.25rem 0;
      padding: 0.25rem 0.5rem;
    }
  }

  .mcp__restore-button {
    margin: 0.66rem 0; // space around button
    //padding: 0.5em 1.5em; // override button size
  }
}
