@import 'won-config';
@import 'sizing-utils';
@import 'fonts';
@import 'flex-layout';

won-matches-grid-item {
  display: inline-block;
  page-break-inside: avoid;
  margin: 0.5rem 0;
  border: $thinGrayBorder;
  background: $won-light-gray;
  width: 22.25rem;

  .mgi__description {
    padding: 0.5rem;
    color: black;
    flex-grow: 1;

    won-post-header .ph__right__topline__title {
      font-weight: bold;
      font-size: $smallFontSize;
    }

    @include speech-bubble-bottom($won-light-gray, $won-line-gray, 0.625rem, $thinBorderWidth, 50%);
  }

  .mgi__match {
    border-top: $thinGrayBorder;
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    min-height: 3rem;
    @include square-image($feedIconSize, 0, 0, 0, 0.5rem);

    &:hover {
      .mgi__match__description__title {
        color: $won-red;
      }
    }

    &__description {
      color: black;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      font-size: $smallFontSize;

      &__title{
        font-weight: 700;
      }

      &__type {
        font-size: $smallFontSize;
      }
    }
  }

  won-feedback-grid {
    border-top: $thinGrayBorder;
  }
}

