@import "won-config";
@import "sizing-utils";

@mixin desktopMenuTab() {
  padding: 0.5rem 2rem;
}

@mixin desktopMenu() {
  grid-auto-flow: row;
  justify-content: center;
  padding: 0.5rem 0;
  max-width: 20rem;
}

@mixin mobileMenu() {
  grid-auto-flow: row;
}

@mixin genericMenu() {
  display: grid;
  box-sizing: border-box;

  .menu__signout {
    margin: 0.5rem 1rem;
  }
  .menu__user {
    padding: 0 1rem 0.5rem 1rem;
    border-bottom: $thinGrayBorder;
  }

  .menu__user {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    white-space: nowrap;

    > .menu__user__icon {
      @include fixed-square($bigiconSize);
      --local-primary: #{$won-primary-color};
    }
    > .menu__user__caption {
      margin-left: 0.5rem;
      color: #{$won-primary-color};
    }
  }
}

@mixin genericMenuTab() {
  display: grid;
  grid-column-gap: 0.25rem;
  align-items: center;
  grid-template-areas: "menu_label menu_indicator";
  grid-template-columns: min-content min-content;
  cursor: pointer;
  padding: 0.5rem;
  color: $won-primary-text-color;
  box-sizing: border-box;
  white-space: nowrap;
  justify-content: left;

  border-right: $won-light-gray 0.25rem solid;
  border-bottom: $thinGrayBorder;

  &.menu__tab--selected {
    border-right-color: $won-primary-color;
  }

  &:hover {
    border-right-color: $won-primary-color-light;
    color: $won-primary-color-light;
  }

  &.menu__tab--inactive {
    color: $won-line-gray;
  }

  > .menu__tab__label {
    grid-area: menu_label;
    white-space: nowrap;
  }
  > .menu__tab__unread {
    grid-area: menu_indicator;
  }

  &.menu__tab--selected {
    &:not(.menu__tab--inactive) {
      color: $won-primary-color;
    }
  }

  &.menu__tab--unread {
    & > .menu__tab__unread {
      background-color: $won-unread-attention;
      border-radius: 100%;
      opacity: 1;
      @include fixed-square(0.5rem);
      transition: max-width 0.25s ease-in-out, opacity 0.25s ease-in-out;
    }
  }

  &:not(.menu__tab--unread) {
    & > .menu__tab__unread {
      max-width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-width 0.25s ease-in-out, opacity 0.25s ease-in-out;
    }
  }
}

won-menu.won-menu--show-mobile {
  background: $won-light-gray;

  > .menu {
    @include genericMenu();
    @include mobileMenu();

    & > .menu__tab {
      @include genericMenuTab();
    }
  }
}

won-menu:not(.won-menu--show-mobile) {
  background: $won-light-gray;
  border-bottom: $thinGrayBorder;

  > .menu {
    @include genericMenu();

    @media (min-width: $responsivenessBreakPoint) {
      @include desktopMenu();
    }
    @media (max-width: $responsivenessBreakPoint) {
      @include mobileMenu();
    }

    & > .menu__tab {
      @include genericMenuTab();

      @media (min-width: $responsivenessBreakPoint) {
        @include desktopMenuTab();
      }
    }
  }
}
