@import "won-config";
@import "sizing-utils";
@import "square-image";

@mixin desktopMenuTab() {
  padding: 0.5rem 2rem;
}

@mixin desktopMenu() {
  justify-content: center;
  padding: 0.5rem 0;
  max-width: 20rem;

  .menu__user > .menu__user__persona > .menu__user__caption {
    min-width: 10rem;
  }
}

@mixin personaMenu() {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  align-items: center;
  background: $won-dark-gray;
  align-self: stretch;
  padding: 1rem 0.5rem;

  .personas__persona {
    &--anon {
      --local-primary: #{$won-line-gray};

      .personas__persona__anonicon {
        border-radius: 100%;
        @include fixed-square($feedIconSize);
      }

      &:hover {
        --local-primary: #{$won-secondary-text-color};
      }
    }

    @include square-image($feedIconSize);

    &--active {
      .personas__persona__anonicon,
      .image {
        box-shadow: 0 0 5px 5px var(--won-secondary-text-color);
      }

      .personas__persona__anonicon {
        --local-primary: #{$won-secondary-text-color};
      }
    }
  }

  .personas__create {
    display: block;
    padding: 0.3rem 0.5rem;
    border-radius: 100%;
    border-style: solid;
    border-color: $won-line-gray;
    border-width: $boldBorderWidth;
    --local-primary: #{$won-line-gray};

    &__icon {
      @include fixed-square($toastIconSize);
    }

    &:hover {
      border-color: $won-secondary-text-color;

      .personas__create__icon {
        --local-primary: #{$won-secondary-text-color};
      }
    }
  }
}

@mixin genericFooter() {
  > .footer {
    > .footer__linksdesktop {
      flex-direction: column;

      > .footer__linksdesktop__link {
        padding-top: 0.25rem;
      }

      > .footer__linksdesktop__divider {
        display: none;
      }
    }

    > .footer__linksmobile {
      > .footer__linksmobile__link {
      }
    }
  }
}

@mixin genericMenu() {
  display: grid;
  box-sizing: border-box;
  grid-auto-flow: row;

  .menu__user {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 1rem 0.5rem 1rem;
    border-bottom: $thinGrayBorder;
    box-sizing: border-box;
    align-items: center;
    white-space: nowrap;

    .menu__user__persona {
      display: grid;
      grid-template-columns: 1fr min-content min-content;
      align-items: end;

      > .menu__user__caption {
        margin-right: 1rem;
      }
    }

    .menu__user__caption {
      font-weight: lighter;
      font-size: $mediumFontSize;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    > .menu__user__signout {
      color: $won-secondary-color;
      font-size: $smallFontSize;
      cursor: pointer;
      justify-self: end;
      padding: 0.5rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  won-atom-menu.persona__menu {
    flex-direction: column;
    align-items: stretch;
    padding: 0;

    > .atom-menu__item {
      padding: 0.5rem;
      border-bottom: 0;

      &.atom-menu__item--selected {
        border-right: 0.2rem solid $won-primary-color;
        border-bottom: 0;
      }

      &:hover {
        color: $won-primary-color-light;
        border-right: 0.2rem solid $won-primary-color-light;
        border-bottom: 0;
      }
    }
  }
}

@mixin genericMenuTab() {
  display: grid;
  grid-column-gap: 0.25rem;
  align-items: center;
  grid-template-areas: "menu_label menu_indicator";
  grid-template-columns: min-content min-content;
  cursor: pointer;
  padding: 0.5rem;
  color: $won-primary-text-color;
  box-sizing: border-box;
  white-space: nowrap;
  justify-content: left;

  border-right: $won-light-gray 0.25rem solid;
  border-bottom: $thinGrayBorder;

  &.menu__tab--selected {
    border-right-color: $won-primary-color;
  }

  &:hover {
    border-right-color: $won-primary-color-light;
    color: $won-primary-color-light;
  }

  &.menu__tab--inactive {
    color: $won-line-gray;
  }

  > .menu__tab__label {
    grid-area: menu_label;
    white-space: nowrap;
  }
  > .menu__tab__unread {
    grid-area: menu_indicator;
  }

  &.menu__tab--selected {
    &:not(.menu__tab--inactive) {
      color: $won-primary-color;
    }
  }

  &.menu__tab--unread {
    & > .menu__tab__unread {
      background-color: $won-unread-attention;
      border-radius: 100%;
      opacity: 1;
      @include fixed-square(0.5rem);
      transition: max-width 0.25s ease-in-out, opacity 0.25s ease-in-out;
    }
  }

  &:not(.menu__tab--unread) {
    & > .menu__tab__unread {
      max-width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-width 0.25s ease-in-out, opacity 0.25s ease-in-out;
    }
  }
}

won-menu.won-menu--show-mobile {
  background: $won-light-gray;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    "personas menu"
    "personas footer";
  align-items: self-start;

  > .personas {
    grid-area: personas;
    @include personaMenu();
  }

  > won-footer.menu__footer {
    grid-area: footer;
    @include genericFooter();
  }

  > .menu {
    grid-area: menu;
    @include genericMenu();

    & > .menu__tab {
      @include genericMenuTab();
    }
  }
}

won-menu:not(.won-menu--show-mobile) {
  background: $won-light-gray;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    "personas menu"
    "personas footer";
  align-items: self-start;

  > .personas {
    grid-area: personas;
    @include personaMenu();
  }

  > won-footer.menu__footer {
    grid-area: footer;
    @include genericFooter();
  }

  > .menu {
    grid-area: menu;
    @include genericMenu();

    @media (min-width: $responsivenessBreakPoint) {
      @include desktopMenu();
    }

    & > .menu__tab {
      @include genericMenuTab();

      @media (min-width: $responsivenessBreakPoint) {
        @include desktopMenuTab();
      }
    }
  }
}
