@import "won-config";
@import "sizing-utils";

won-menu {
  &.won-has-slideins {
    //Style if slideins are present
    background: $won-light-gray;
    border-bottom: $thinGrayBorder;
  }

  &:not(.won-has-slideins) {
    //Style if slideins are NOT present
    background: $won-light-gray;
    border-bottom: $thinGrayBorder;
  }

  &.won-menu--show-mobile > .menu {
    display: grid;
    grid-auto-flow: row;
    box-sizing: border-box;

    > .menu__slideintoggle {
      cursor: pointer;
      border-bottom: $thinGrayBorder;
      padding: 0.5rem;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: min-content 1fr;
      grid-gap: 0.5rem;

      > .menu__slideintoggle__icon {
        @include fixed-square(1.5rem);
        --local-primary: #{$won-secondary-color};
      }
      > .menu__slideintoggle__label {
        color: $won-secondary-color;
      }
    }

    > .menu__tab {
      cursor: pointer;
      padding: 0.5rem;
      color: $won-primary-text-color;
      box-sizing: border-box;
      border-left: $won-light-gray 0.25rem solid;
      border-bottom: $thinGrayBorder;

      &.menu__tab--selected {
        cursor: default;
        pointer-events: none;
        border-left-color: $won-primary-color;

        &:not(.menu__tab--inactive) {
          color: $won-primary-color;
        }
      }
      &.menu__tab--inactive {
        color: $won-line-gray;
      }

      &.menu__tab--unread {
        & > .menu__tab__unread {
          display: inline-block;
          background-color: $won-unread-attention;
          border-radius: 100%;
          opacity: 1;
          @include fixed-square(0.5rem);
          margin-right: 0.25rem;
          transition: max-width 0.25s ease-in-out, opacity 0.25s ease-in-out,
            margin-right 0.25s ease-in-out;
        }
      }

      &:not(.menu__tab--unread) {
        & > .menu__tab__unread {
          display: inline-block;
          max-width: 0;
          height: 0;
          opacity: 0;
          overflow: hidden;
          margin-right: 0;
          transition: max-width 0.25s ease-in-out, opacity 0.25s ease-in-out,
            margin-right 0.25s ease-in-out;
        }
      }

      &:not(.menu__tab--selected) {
        &:hover {
          border-left-color: $won-primary-color-light;
          color: $won-primary-color-light;
        }
      }
    }
  }

  &:not(.won-menu--show-mobile) > .menu {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    justify-content: center;
    margin: 0 auto;
    padding: 0 0.5rem;
    box-sizing: border-box;
    max-width: $maxContentWidth;

    > .menu__slideintoggle {
      display: grid;
      grid-auto-flow: column;
      cursor: pointer;
      align-self: center;
      margin-right: 0.5rem;

      > .menu__slideintoggle__icon {
        @include fixed-square(1.5rem);
        --local-primary: #{$won-secondary-color};
      }
      > .menu__slideintoggle__carret {
        @include fixed-square(1.5rem);
        --local-primary: #{$won-secondary-color};

        &.menu__slideintoggle__carret--expanded {
          transform: rotate(-180deg);
          transition: transform linear 0.25s;
        }
        &:not(.menu__slideintoggle__carret--expanded) {
          transform: rotate(0deg);
          transition: transform linear 0.25s;
        }
      }
    }

    > .menu__tab {
      cursor: pointer;
      padding: 0.5rem;
      color: $won-primary-text-color;
      box-sizing: border-box;
      border-bottom: $won-light-gray 0.25rem solid;

      &.menu__tab--selected {
        cursor: default;
        pointer-events: none;
        border-bottom-color: $won-primary-color;

        &:not(.menu__tab--inactive) {
          color: $won-primary-color;
        }
      }
      &.menu__tab--inactive {
        color: $won-line-gray;
      }

      &.menu__tab--unread {
        & > .menu__tab__unread {
          display: inline-block;
          background-color: $won-unread-attention;
          border-radius: 100%;
          opacity: 1;
          @include fixed-square(0.5rem);
          margin-right: 0.25rem;
          transition: max-width 0.25s ease-in-out, opacity 0.25s ease-in-out,
            margin-right 0.25s ease-in-out;
        }
      }

      &:not(.menu__tab--unread) {
        & > .menu__tab__unread {
          display: inline-block;
          max-width: 0;
          height: 0;
          opacity: 0;
          overflow: hidden;
          margin-right: 0;
          transition: max-width 0.25s ease-in-out, opacity 0.25s ease-in-out,
            margin-right 0.25s ease-in-out;
        }
      }

      &:not(.menu__tab--selected) {
        &:hover {
          border-bottom-color: $won-primary-color-light;
          color: $won-primary-color-light;
        }
      }
    }
  }
}
