@import "won-config";
@import "sizing-utils";

won-message-content {
  display: block;

  .msgcontent__body {
    display: grid;
    grid-gap: 0.25rem;

    &__text--prewrap {
      white-space: pre-wrap;
    }
  }

  .msgcontent__header {
    &__type {
      color: $won-subtitle-gray;
    }
  }
}
