@import "won-config";
@import "sizing-utils";

won-message-content {
  display: block;

  .msgcontent__body {
    &__text--prewrap {
      white-space: pre-wrap;
    }

    &__text {
    }

    &__content {
    }

    &__matchScore {
    }
  }

  .msgcontent__header {
    &__type {
      color: $won-subtitle-gray;
    }
  }
}
