@import "won-config";
@import "textfield";
@import "sizing-utils";

won-month-picker {
  .monthp__input {
    position: relative;
    display: grid;

    .monthp__input__icon {
      @include fixed-square($bigiconSize);
      position: absolute;
      right: 0.5rem;
      top: $formInputHeight / 2 - $bigiconSize / 2;
      z-index: 1;
    }

    .monthp__input__inner {
      @extend .won-txt;
      width: 100%;
      box-sizing: border-box;
      border: $thinGrayBorder;
      min-height: $formInputHeight;
      min-height: $formInputHeight;
      word-wrap: break-word;

      $verticalPadding: calcVerticalPaddingToHeight(
        $normalFontSize,
        22/16,
        $thinBorderWidth,
        $formInputHeight
      );
      padding: $verticalPadding 0.438rem $verticalPadding 0.438rem;

      &--withreset {
        padding: $verticalPadding 0.438rem + $bigiconSize $verticalPadding
          0.438rem;
      }
    }

    .monthp__input__inner::-ms-clear {
      width: 0;
      height: 0;
    }

    input[type="month"]::-webkit-clear-button {
      -webkit-appearance: none;
    }
  }
}
