@import 'won-config';
@import 'flex-layout';
@import 'title-bar';
@import 'sizing-utils';
@import 'square-image';

@mixin need-tab-bar($prefix) {
  @include title-bar($prefix);

  .#{$prefix}__titles__type {
    color: #A7A7A7;
    font-size: 0.8rem;
  }


  > .#{$prefix}__inner {

    // #{$prefix} isn't using the tri-aligned that it inherits
    // via the `@include title-bar` as there's no
    // centered element
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    > .#{$prefix}__inner__left {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: flex-start;

      margin: 1rem 0;

      @media (max-width: $responsivenessBreakPoint){
        @include square-image($postIconSize);
      }
      @media (min-width: $responsivenessBreakPoint){
        @include square-image(4.7rem, 0 1rem);
      }
    }

    > .#{$prefix}__inner__right {
      //TODO dynamically adapt to number of children(?) or at least pull into a config-variable
      // or make won-tabs a parametrized mixin?
      flex-grow: 1;
      margin-top: 1rem;


      display: flex;
      flex-direction: column;
      justify-content: stretch;
      //align-items: flex-end;

      //padding-top: 1rem;

      > .#{$prefix}__inner__right__upper {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: flex-start;
        justify-content: space-between;

        > .#{$prefix}__title {
          align-self: flex-end;
        }
      }
      > .#{$prefix}__inner__right__lower {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: flex-start;
        justify-content: flex-end;

        > .#{$prefix}__titles__type {
          /*align-self: flex-start;*/
        }

        > .#{$prefix}__tabs {
          align-self: stretch;

        }
      }
    }
  }
}

.need-tab-bar {
  @include need-tab-bar('ntb');
}