@import "won-config";
@import "sizing-utils";
@import "square-image";
@import "animate";

won-need-card {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas: "icon" "main";
  grid-template-rows: max-content min-content;
  padding: 0.5rem;
  color: black;

  &.won-is-toload,
  &.won-is-loading {
    @include animateOpacityHeartBeat();
    pointer-events: none;

    .ph__right__subtitle__type {
      height: $smallFontSize;
      width: 5rem;
      background-color: $won-skeleton-color;
    }

    .ph__right__topline__title {
      height: $normalFontSize;
      width: 7rem;
      background-color: $won-skeleton-color;
    }
  }
  @include square-image(15rem);

  .ph__icon__skeleton {
    @include fixed-square(15rem);
    background-color: $won-skeleton-color;
  }

  won-square-image {
    grid-area: icon;
  }

  .ph__right {
    grid-area: main;
    display: grid;
    grid-template-areas: "topline" "subtitle";
    width: 15rem;
    max-width: 15rem;

    &__topline {
      grid-area: topline;
      min-width: 0;

      &__notitle,
      &__title {
        min-width: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 400;
      }
      &__notitle {
        color: $won-subtitle-gray;
      }
    }

    &__subtitle {
      grid-area: subtitle;
      display: grid;
      grid-template-columns: 1fr min-content;
      color: $won-subtitle-gray;
      font-size: $smallFontSize;
      min-width: 0;

      &__type {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &__persona {
          border-radius: 0.19rem;
          background: $won-secondary-color-lighter;
          color: $won-secondary-text-color;
          margin: 0.1rem;
          padding: 0 0.25rem;
          display: inline-block;
        }

        &__groupchat {
          border-radius: 0.19rem;
          background: $won-line-gray;
          margin: 0.1rem;
          padding: 0 0.25rem;
          display: inline-block;
        }
      }

      &__date {
        font-size: $smallFontSize;
        color: $won-subtitle-gray;
        white-space: nowrap;
        padding-left: 0.5rem;
        min-width: 0;
      }
    }
  }
}
