@import "won-config";
@import "textfield";
@import "sizing-utils";

won-number-picker {
  .numberp__input {
    position: relative;
    display: grid;

    &__reset {
      position: relative;

      &__icon {
        @include fixed-square($bigiconSize);
        --local-primary: #{$won-primary-color};
        position: absolute;
        left: 0;
        top: 0.5rem;
      }
    }

    .numberp__input__inner {
      @extend .won-txt;
      text-align: right;
      border: $thinGrayBorder;

      @include textfieldPadding(
        $normalFontSize,
        22/16,
        $thinBorderWidth,
        $formInputHeight
      );
      word-wrap: break-word;

      &:invalid {
        /*TODO: Define styling for invalid input field*/
      }

      &.numberp__input__inner--withreset {
        $verticalPadding: calcVerticalPaddingToHeight(
          $normalFontSize,
          22/16,
          $thinBorderWidth,
          $formInputHeight
        );
        padding: $verticalPadding 0.438rem $verticalPadding 0.438rem +
          $bigiconSize;
      }
    }

    .numberp__input__inner::-ms-clear {
      width: 0;
      height: 0;
    }
  }
}
