@import "won-config";
@import "sizing-utils";
@import "animate";

won-other-card {
  grid-area: card;
  display: grid;
  grid-template-areas: "card__detailinfo" "card__main" "card__holder" "card__indicators";
  grid-template-rows: max-content 1fr min-content min-content;
  padding: 0.5rem;
  color: black;
  background: $won-light-gray;

  .card__detailinfo {
    grid-area: card__detailinfo;
  }

  .card__holder {
    grid-area: card__holder;
  }

  .card__indicators {
    grid-area: card__indicators;
    margin-top: 0.5rem;
  }

  .card__main {
    grid-area: card__main;
  }
}
