@import "won-config";
@import "sizing-utils";
@import "animate";

won-other-card {
  grid-area: card;
  display: grid;
  grid-template-areas: "card__icon" "card__main" "card__persona" "card__indicators";
  grid-template-rows: max-content 1fr min-content min-content;
  padding: 0.5rem;
  color: black;
  background: $won-light-gray;

  .card__icon {
    grid-area: card__icon;

    &:not(.card__icon--map) {
      display: grid;
      justify-content: center;
      align-items: center;
    }

    &.card__icon--map {
      display: block;
      width: 100%;
    }

    margin-bottom: 0.5rem;
    user-select: none;
    height: 10rem;

    &.inactive {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    & .identicon {
      display: flex;
      align-items: center;
      justify-content: center;
      $cardIdenticonSize: 5rem;
      @include fixed-square(#{$cardIdenticonSize});

      &.usecaseimage {
        box-sizing: border-box;
        padding: 0.25rem;

        > svg {
          @include fixed-square(#{$cardIdenticonSize - 0.5rem});
          --local-primary: #{$won-secondary-text-color};
        }
      }
    }

    & .image,
    & won-atom-map.location {
      height: 10rem;
    }

    & .image {
      object-fit: cover;
    }

    & won-atom-map.location {
      display: block;
      pointer-events: none;

      .atom-map__mapmount {
        width: 100%;
        height: 10rem;

        &--loading {
          display: grid;
          justify-content: center;
          align-items: center;

          .won-atom-map__spinner {
            @include fixed-square($postIconSize);
          }
        }
      }
    }
  }

  .card__persona {
    grid-area: card__persona;
  }

  .card__indicators {
    grid-area: card__indicators;
    margin-top: 0.5rem;
  }

  .card__main {
    grid-area: card__main;
    display: grid;
    grid-template-areas: "card__main__topline" "card__main__subtitle";
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;

    &--showIcon {
      grid-template-areas: "card__main__icon card__main__topline" "card__main__icon card__main__subtitle";
      grid-template-columns: min-content 1fr;
      grid-column-gap: 0.5rem;
    }

    &__icon {
      grid-area: card__main__icon;
      display: flex;
      justify-content: center;
      align-items: center;
      @include fixed-square($postIconSize);

      &__usecaseimage {
        display: grid;

        > svg {
          @include fixed-square(#{$postIconSize - 0.5rem});
          --local-primary: #{$won-secondary-text-color};
        }
      }

      &__identicon {
        @include fixed-square($postIconSize);
      }
    }

    &__topline {
      color: $won-primary-text-color;
      grid-area: card__main__topline;
      min-width: 0;

      &__notitle,
      &__title {
        min-width: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 300;
      }
      &__notitle {
        color: $won-subtitle-gray;
      }
    }

    &__subtitle {
      grid-area: card__main__subtitle;
      display: grid;
      grid-template-columns: 1fr min-content;
      color: $won-subtitle-gray;
      font-size: $smallFontSize;

      &__type {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &__groupchat {
          border-radius: 0.19rem;
          background: $won-line-gray;
          margin: 0.1rem;
          padding: 0 0.25rem;
          display: inline-block;
        }
      }

      &__date {
        font-size: $smallFontSize;
        color: $won-subtitle-gray;
        white-space: nowrap;
        padding-left: 0.5rem;
        min-width: 0;
      }
    }
  }
}
