@import "won-config";
@import "sizing-utils";
@import "fonts";
@import "flex-layout";
@import "animate";

main.owneroverview {
  grid-column: 1 / -1;
  padding: 0;
  box-sizing: border-box;
  align-items: stretch;
  max-width: $maxContentWidth;
  width: 100%;
  margin: 0 auto;

  & .owneroverview__header {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 0.5rem;
    border-bottom: $thinGrayBorder;
    padding: 0.5rem;
    @media (min-width: $maxContentWidth) {
      padding-right: 0;
    }
    align-items: center;

    &__title {
      font-size: $mediumFontSize;
      font-weight: 300;
    }

    &__updated {
      display: grid;
      grid-template-columns: min-content min-content;
      align-items: center;

      font-size: $smallFontSize;

      &__loading {
        font-size: $smallFontSize;
        color: $won-line-gray;
        margin-right: 0.5rem;
      }

      &__time {
        white-space: nowrap;
        color: $won-line-gray;
        margin-right: 0.5rem;
      }

      &__reload.won-button--filled.red {
        font-size: $smallFontSize;
        padding: 0.33rem;
      }
    }
  }

  .owneroverview__noresults {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem;

    &__label {
      font-size: $normalFontSize;
      color: $won-primary-text-color;
      text-align: center;
      max-width: 25rem;
    }
  }

  .owneroverview__usecases {
    &__usecase {
      &__header {
        display: grid;
        grid-template-columns: min-content 1fr min-content;
        grid-template-areas: "ouch_icon ouch_title ouch_carret";
        border-bottom: $thinGrayBorder;
        padding: 0.5rem;
        @media (min-width: $maxContentWidth) {
          padding-right: 0;
        }
        align-items: center;

        &__icon {
          grid-area: ouch_icon;
          margin-right: 0.5rem;
          @include fixed-square($iconSize);
          --local-primary: #{$won-primary-text-color};
        }

        &__title {
          grid-area: ouch_title;
          margin-right: 0.5rem;
          font-size: $mediumFontSize;
          font-weight: 300;
          &__count {
            display: inline-block;
            margin-left: 0.25rem;
          }
        }

        &__carret {
          grid-area: ouch_carret;
          @include fixed-square(1.5rem);
          --local-primary: black;
          cursor: pointer;

          &:hover {
            --local-primary: #{$won-primary-color};
          }

          &--expanded {
            transform: rotate(-180deg);
            transition: all linear 0.5s;
          }

          &--collapsed {
            transition: all linear 0.5s;
          }
        }
      }

      &__atoms {
        display: grid;
        padding: 1rem;
        grid-gap: 1rem;

        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        @include slideAnimationFixedHorizontal(
          0.25s,
          ease-in-out,
          100vh,
          1rem,
          1rem
        );

        won-atom-card.owneroverview__usecases__usecase__atoms__atom {
          border: $thinGrayBorder;
        }
      }
    }
  }
}
