@import 'won-config';
@import 'sizing-utils';
@import 'fonts';
@import 'flex-layout';

won-matches {
  width: 100%;
  min-height: 100%;
  display: block;

  @include max-content-width($maxContentWidth, $minContentPadding, 'omc');

  @include empty-description('omc');
  > .omc__inner.empty {
    align-self: center;
    max-width: $maxContentWidth;
  }

  .omc__sendrequest {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    won-send-request {
      background: white;
      margin: 0 auto;
      top: 15rem;
      max-width: $maxContentWidth / 2;
      position: relative;
    }
  }

  .omc__header {
    display: flex;
    padding: 0.5rem 0;
    margin: 1rem 0;
    justify-content: space-between;

    .title {
      width: 100%;
      font-weight: 300;
      padding: 0;
    }

    &__viewtype {
      display: flex;
      align-items: center;
      &__icon {
        @include fixed-square($iconSize);
      }
    }
  }

  .omc__inner {
    display: flex;
    flex-direction: column;
    & > %omc__content { flex-grow: 1; }
  }

  @mixin omc__content {
    flex-grow: 1; /*to be used with .omc__inner to make sure it grows to height of page*/
    padding-bottom: 5rem;
  }

  .omc__content__flow {
    @include omc__content;
    column-count: 4;
    column-gap: 0.5rem;
    column-fill: balance;

    @media (max-width: 70rem){
      column-count: 3;
    }

    @media (max-width: 50rem){
      column-count: 2;
    }

    @media (max-width: 40rem){
      column-count: 1;
    }
  }

  .omc__content__grid {
    @include omc__content;
    column-count: 3;
    column-gap: 0.5rem;
    column-fill: balance;

    @media (max-width: 70rem){
      column-count: 2;
    }

    @media (max-width: 50rem){
      column-count: 1;
    }
  }

  .omc__content__list {
    @include omc__content;

    won-connections-overview,
    won-connection-selection {
      max-width: $maxContentWidth / 2;

      //flex-grow: 1;
      // crude centering:
      margin-left: auto;
      margin-right: auto;
    }

  }
}

@import 'matches-flow-item';
@import 'matches-grid-item';
