@import 'won-config';
@import 'sizing-utils';
@import 'fonts';
@import 'flex-layout';

.overviewpostscontent {
  @media (max-width: $responsivenessBreakPoint){
    @include max-content-width(50rem, 0, 'opc');
  }
  @media (min-width: $responsivenessBreakPoint){
    @include max-content-width(50rem, $minContentPadding, 'opc');
  }

  @include empty-description('opc');

  .title {
    font-weight: 300;
    text-align: left;
    padding: 0.5rem 0;
    margin: 2.5rem 0 0 0;

    &:first-of-type {
      margin: 0.5rem 0 0 0;
      border-top: 0;
    }

    .title__carret { display: none; }
    .title__carret {
      @include fixed-square(1.5rem);

      // visually center icon on line
      position: relative;
      top: 0.3em;
    }

    @media (max-width: $responsivenessBreakPoint){

      font-size: 1.5rem;
      margin: 0;
      padding: 0.5rem;
      border-top: $thinGrayBorder;

      &:first-of-type {
        margin: 0; //sadly this is necessary since a pseudoselector has a higher priority as a media query
      }

      .title__carret:not(.ng-hide) { 
        display: inline; 
        margin-left: auto; // push it right
      }
    }

    &__counter {
      padding: 0 0.5rem;
      font-size: $normalFontSize;
      color: $won-subtitle-gray;
    }


    /*&:hover {
      background: white;
    }*/
  }
}

@import 'post-item-line';