@import 'won-config';
@import 'sizing-utils';
@import 'fonts';
@import 'flex-layout';

@import 'connections-overview';


.overviewincomingrequestscontent {
  @include max-content-width($maxContentWidth, $minContentPadding, 'opc');
  align-items: flex-start;

  @include empty-description('opc');

  &.empty {
    flex-direction: column;
    align-items: center;
  }

  .oir__openrequest,
  .oir__requests{
    flex-grow: 1;
    max-width: $maxContentWidth / 2;
  }

  @media (max-width: $responsivenessBreakPoint){
    .post__contentside--empty.hidden,
    .oir__requests.hidden {
      display: none;
    }
  }

  .oir__openrequest{
    background: white;
    border: $thinGrayBorder;
  }
}