@import "won-config";
@import "sizing-utils";
@import "fonts";
@import "flex-layout";

main.owneroverview {
  grid-column: 1 / -1;
  padding: 0;
  box-sizing: border-box;
  align-items: stretch;
  max-width: $maxContentWidth;
  width: 100%;
  margin: 0 auto;

  & .owneroverview__header {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: $thinGrayBorder;
    padding: 0.5rem;

    &__title {
      font-size: $mediumFontSize;
    }

    &__loading {
      font-size: $smallFontSize;
      color: $won-line-gray;
    }

    &__updated {
      display: grid;
      grid-template-columns: min-content min-content;
      grid-gap: 0.5rem;
      align-items: center;

      font-size: $smallFontSize;

      &__time {
        white-space: nowrap;
        color: $won-line-gray;
      }

      &__reload.won-button--filled.red {
        padding: 0.25rem;
      }
    }
  }

  & .owneroverview__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    padding: 0.5rem;

    @media (max-width: $responsivenessBreakPoint) {
      grid-template-columns: 1fr;
    }

    &__need {
      border: $thinGrayBorder;
      background: white;
    }
  }
}
