@import "won-config";
@import "sizing-utils";
@import "detail-viewer-mixin";

won-paypal-payment-viewer {
  @include won-detail-viewer("paypalpaymentv");

  .paypalpaymentv__content {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 0.5rem;

    &__label {
      white-space: nowrap;
      color: $won-subtitle-gray;
    }

    &__receiver {
      //TODO: Style
    }
    &__price {
      //TODO: Style
    }
  }
}
