@import "won-config";
@import "sizing-utils";
@import "detail-viewer-mixin";

won-person-viewer {
  @include won-detail-viewer("pv");

  .pv__content {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 0.25rem;

    &__label {
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: bold;
    }
    &__value {
      font-weight: normal;
    }
  }
}
