@import "won-config";
@import "textfield";
@import "sizing-utils";

pokemon-gym-picker {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: min-content 1fr;
  align-items: center;

  .pgp__ex {
    width: $postIconSize;
    height: $postIconSize;
    margin: 0;
  }

  .pgp__location {
    grid-column: span 2;
  }
  .pgp__info {
    grid-column: span 2;
  }

  .pgp__label {
    white-space: nowrap;
    &--info,
    &--location {
      grid-column: span 2;
    }
  }
}
