@import "won-config";
@import "sizing-utils";
@import "animate";

won-post-content {
  .post-skeleton,
  .post-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow: auto;
    word-wrap: break-word;

    won-labelled-hr .wlh__label,
    won-labelled-hr .wlh__label__text,
    won-labelled-hr .wlh__label__carret {
      background-color: white;
    }

    won-trig {
      background-color: $won-light-gray;
      border: $thinGrayBorder;
      padding: 0.5rem;
    }

    .post-content__members {
      &__empty {
        color: $won-line-gray;
        padding: 0.5rem;
        text-align: center;
      }

      & .post-content__members__member {
        padding: 0.5rem;
        border: $thinGrayBorder;
        background: $won-light-gray;
        display: grid;
        grid-template-areas: "member_info member_actions";
        grid-template-columns: 1fr min-content;
        grid-gap: 0.25rem;
        align-items: center;
        margin-top: 0.5rem;

        &:hover {
          background: white;
        }

        won-post-header {
          grid-area: member_info;
        }
      }
    }

    .post-content__otherneeds {
      &__empty {
        color: $won-line-gray;
        padding: 0.5rem;
        text-align: center;
      }

      & .post-content__otherneeds__otherneed {
        padding: 0.5rem;
        border: $thinGrayBorder;
        background: $won-light-gray;
        display: grid;
        grid-template-areas: "member_info member_actions";
        grid-template-columns: 1fr min-content;
        grid-gap: 0.25rem;
        align-items: center;
        margin-top: 0.5rem;

        &:hover {
          background: white;
        }

        won-post-header {
          grid-area: member_info;
        }
      }
    }

    .post-content__suggestions {
      &__empty {
        color: $won-line-gray;
        padding: 0.5rem;
        text-align: center;
      }

      & .post-content__suggestions__suggestion {
        border: $thinGrayBorder;
        border-left: 0;
        background: $won-light-gray;
        display: grid;
        grid-template-areas: "member_indicator member_info member_actions";
        grid-template-columns: min-content 1fr min-content;
        align-items: center;
        margin-top: 0.5rem;

        & > .post-content__suggestions__suggestion__indicator {
          grid-area: member_indicator;
          box-sizing: border-box;
          width: 0.25rem;
          height: 100%;
        }

        &.won-unread > .post-content__suggestions__suggestion__indicator {
          border-left: 0.25rem solid $won-unread-attention;
        }

        &:not(.won-unread) > .post-content__suggestions__suggestion__indicator {
          border-left: $thinGrayBorder;
        }

        won-post-header {
          padding: 0.5rem 0.25rem;
          grid-area: member_info;
        }

        &__actions {
          border-right: $thinGrayBorder;
          padding-right: 0.5rem;
          display: grid;
          grid-auto-flow: column;
          grid-gap: 0.25rem;
          grid-area: member_actions;

          &__button.won-button--outlined.red.thin {
            font-size: $smallFontSize;
            padding: 0.5rem;
          }
        }
      }
    }
  }

  .post-failedtoload {
    display: grid;
    grid-template-areas: "failed_icon failed_label" "failed_actions failed_actions";
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    grid-gap: 0.5rem;

    > .post-failedtoload__icon {
      grid-area: failed_icon;
      @include fixed-square(5rem);
      --local-primary: #{$won-primary-color};
    }
    > .post-failedtoload__label {
      grid-area: failed_label;
      text-align: center;
    }

    > .post-failedtoload__actions {
      grid-area: failed_actions;
      display: flex;
      justify-content: center;

      > .pc__failed__actions__button {
      }
    }
  }

  &.won-is-loading {
    @include animateOpacityHeartBeat();

    .post-skeleton__details {
      height: $normalFontSize;
      width: 100%;
      background-color: $won-skeleton-color;
      margin-top: 0.25rem;
    }
    .post-skeleton__heading {
      height: $normalFontSize;
      width: 5rem;
      background-color: $won-skeleton-color;
      margin-top: 1rem;
      font-size: $normalFontSize;
      font-weight: 700;
    }
  }

  .post-collapsible-general {
    @include slideWithOpacityAnimationFixedHorizontal(
      0.25s,
      linear,
      10rem,
      0.5rem
    );
  }
}
