@import "won-config";
@import "sizing-utils";
@import "fonts";
@import "flex-layout";

main.atomcontent {
  grid-column: 1 / -1;
  padding: 1rem 0;
  box-sizing: border-box;
  align-items: stretch;
  max-width: $maxContentWidth;

  width: 100%;
  margin: 0 auto;

  @media (max-width: $responsivenessBreakPoint) {
    border-left: none;
    border-right: none;
  }

  & > won-atom-info {
    border: $thinGrayBorder;
    background: white;

    & > won-atom-content,
    & > .atom-info__footer {
      display: block;
      padding: 0.5rem;
    }
  }
}
