@import "won-config";
@import "sizing-utils";
@import "fonts";
@import "flex-layout";

main.postcontent {
  grid-column: 1 / -1;
  padding: 0;
  box-sizing: border-box;
  align-items: stretch;
  max-width: $maxContentWidth;

  &:not(.postcontent--won-failed):not(.postcontent--won-loading) {
    border-left: $thinGrayBorder;
    border-right: $thinGrayBorder;
    border-bottom: $thinGrayBorder;
    background: white;
  }
  width: 100%;
  margin: 0 auto;

  @media (max-width: $responsivenessBreakPoint) {
    border-left: none;
    border-right: none;
  }

  & > won-send-request > won-post-content,
  & > won-send-request > .post-info__footer {
    display: block;
    padding: 0.5rem;
  }

  & > .pc__loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;

    > .pc__loading__spinner.hspinner {
      @include fixed-square(5rem);
    }
    > .pc__loading__label {
      color: $won-line-gray;
      text-align: center;
    }
  }

  & > .pc__failed {
    display: grid;
    grid-template-areas: "failed_icon failed_label" "failed_actions failed_actions";
    align-items: center;
    justify-content: center;
    padding: 5rem 0.5rem;
    grid-gap: 0.5rem;

    > .pc__failed__icon {
      grid-area: failed_icon;
      @include fixed-square(5rem);
      --local-primary: #{$won-primary-color};
    }
    > .pc__failed__label {
      grid-area: failed_label;
      text-align: center;
    }
    > .pc__failed__actions {
      grid-area: failed_actions;
      display: flex;
      justify-content: center;

      > .pc__failed__actions__button {
      }
    }
  }
}
