@import "sizing-utils";
@import "square-image";
@import "animate";

won-post-header {
  &.won-is-loading {
    @include animateOpacityHeartBeat();
    pointer-events: none;

    .ph__icon__skeleton {
      grid-area: icon;
      @include fixed-square($postIconSize);
      background-color: $won-skeleton-color;
    }

    .ph__right__subtitle__type {
      height: $smallFontSize;
      width: 5rem;
      background-color: $won-skeleton-color;
    }

    .ph__right__topline__title {
      height: $normalFontSize;
      width: 7rem;
      background-color: $won-skeleton-color;
    }

    .ph__right__topline__date {
      height: $smallFontSize;
      width: 3rem;
      background-color: $won-skeleton-color;
    }
  }

  color: black;
  //padding: 0.5rem;

  display: grid;
  grid-template-areas: "icon main";
  grid-template-columns: min-content 1fr;
  grid-column-gap: 0.5rem;
  min-width: 0;

  @include square-image($postIconSize);

  won-square-image {
    grid-area: icon;

    .image {
      border: $thinBorderWidth solid $won-light-gray;
    }
  }

  .ph__right {
    grid-area: main;
    display: grid;
    grid-template-areas: "topline" "subtitle";
    min-width: 0;

    &__topline {
      grid-area: topline;
      display: grid;
      grid-template-areas: "title date";
      grid-template-columns: 1fr min-content;
      min-width: 0;

      &__notitle,
      &__title {
        grid-area: title;
        min-width: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 400;
      }
      &__notitle {
        color: $won-subtitle-gray;
      }

      &__date {
        grid-area: date;
        font-size: $smallFontSize;
        color: $won-subtitle-gray;
        white-space: nowrap;
        padding-left: 0.5rem;
        min-width: 0;
      }
    }

    &__subtitle {
      grid-area: subtitle;
      color: $won-subtitle-gray;
      display: flex;
      flex-direction: row;
      font-size: $smallFontSize;
      min-width: 0;

      &__type {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &__group {
        display: flex;
        align-items: center;
        flex-direction: row;

        &__dash {
          padding: 0 0.25rem;
        }

        &__icon {
          padding-right: 0.25rem;
          @include fixed-square(0.75rem);
        }
      }
    }
  }
}
