@import 'won-config';
@import 'sizing-utils';
@import 'fonts';
@import 'flex-layout';

won-post-item-line {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-top: 0.1rem solid $won-line-gray;

  a {
    text-decoration: none;
  }

  @include square-image($postIconSize, 0, 0.5rem, 0, 0);

  .pil__description {
    color: black;
    flex-grow: 1;
    padding-right: 1rem;

    &__topline{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      &__title{
        font-weight: 500;
      }

      &__creationdate {
        color: $won-subtitle-gray;
        font-size: $smallFontSize;
        white-space: nowrap;
      }
    }

    &__subtitle {
      color: $won-subtitle-gray;
      font-size: $smallFontSize;
      display: flex;
      flex-direction: row;

      &__group {
        display: flex;
        align-items: center;
        flex-direction: row;

        &__dash {
          padding: 0 0.25rem;
        }

        &__icon {
          padding-right: 0.25rem;
          @include fixed-square(0.75rem);
        }
      }
    }
  }

  .pil__indicators {
    display: flex;
    flex-direction: row;

    &__item {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      padding-right: 1em;

      &__icon {
        @include fixed-square($bigiconSize);
      }

      &__caption {
        line-height: $bigiconSize;
        padding-left: 0.5em;
        min-width: 0.5rem;
        color: black;
      }
    }
  }
}