@import 'sizing-utils';
@import 'chattextfield';
@import 'won-config';
@import 'connection-message';
@import 'connection-agreement';
@import 'animate';

.post__contentside {
  border-left: $thinGrayBorder;
  border-right: $thinGrayBorder;
  border-bottom: $thinGrayBorder;
  background: white;
  width: 100%;
  max-width: ($maxContentWidth / 2);
  //margin-ri: 0.5rem;

  box-sizing: border-box;

  @media (max-width : $responsivenessBreakPoint) {
    border-left: none;
    border-right: none;
  }

  &--empty {
      background: $won-lighter-gray;

      // display message centered
      flex-direction: column;

      .post__contentside__description__text {
        display: flex;
        align-self: center;
        font-weight: 300;
        color: var(--won-dark-gray);
        font-size: $bigFontSize;
      }
  }

  display: flex;
  flex-grow:1;
  height: 100%;
  justify-content: center;
  align-content: center;
  flex-direction: row;

  won-post-messages {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: min-content minmax(10rem, 1fr) min-content;
    grid-row-gap: $gridRowGap;
    width: 100%;
    box-sizing: border-box;
    padding: $gridRowGap;

    .pm__header {
      display:flex;
      grid-area: header;
      font-size: $normalFontSize;
      text-align: left;
      width: 100%;

      &__icon {
        @include fixed-square($postIconSize);
      }

      &__icon__small {
        @include fixed-square(1.5rem);
        padding-left: 0.5rem;
      }

      &__icon__small__contextmenu {
        @include fixed-square(1.5rem);
        //padding-left: 0.5rem;
        position: relative;
        top: -0.5rem;
        right: -0.5rem;
        float: right;
      }

      .pm__header__contextmenu .content {
        max-width: 15rem;
        position: absolute;
        right: 0;

        a.won-button--outlined,
        button {
          margin-top: 0.5rem;
          width: 100%;
          white-space: nowrap;
        }

        a.won-button--outlined{
          cursor: pointer;
          display: flex;
          align-content: center;
          align-items: center;
          box-sizing: border-box;
        }
      }
    }

    .pm__footer {
      grid-area: footer;

      &__agreement {
        display: block;
      }

      &__chattextfield {
        padding: 0.5rem 0;
      }

      &__button {
        width: 100%;
      }
    }

    .pm__content {
      grid-area: main;
      padding: 0.5rem;
      background: white;
      border: $thinGrayBorder;
      overflow: auto;
      flex-grow: 1;

      &__loadbutton, /* just so the button and spinner won't make the chatmessages "jump"*/
      &__loadspinner {
        width: 100%;
        height: 3rem;
        padding: .66em 2em;
        text-align: center;
        box-sizing: border-box;
      }

      &__agreement {
        @include speech-bubble-bottom($won-light-gray, $won-line-gray, 0.3125rem, $thinBorderWidth, 0.5rem);
        margin: 0 0.5rem;
        padding-bottom: 0.5rem;
        font-size: $smallFontSize;
        border: $thinDarkBorder;
        background: $won-light-gray;
        
        &__title {
          font-size: 0.85rem;
          font-weight: 550;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
    
        &__icon {
          position: relative;
          flex-grow:1;
          @include fixed-square(1.5rem);
        }
      }
    }
  }
}


