@import 'won-config';
@import 'sizing-utils';

.post__sendrequest {
  position: absolute;
  z-index: 1010; //OTHERWISE LEAFLET MESSES UP THE OVERLAY
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  won-send-request {
    background: white;
    margin: 0 auto;
    top: 15rem;
    max-width: $maxContentWidth / 2;
    position: relative;
  }
}

won-post-info {
  @media (max-width: $responsivenessBreakPoint){
    @include max-content-width($maxContentWidth, 0, 'post-info');
    padding: 0.5rem;
  }
  @media (min-width: $responsivenessBreakPoint){
    @include max-content-width($maxContentWidth, $minContentPadding, 'post-info');
    padding: 2rem;
  }
  width: 100%;

  button {
    width: 100%;
  }

  .post-info__heading {
    font-size: $normalFontSize;
    font-weight: 700;
  }

  won-need-map,
  button,
  .post-info__details {
    margin-bottom: 1rem;
  }

  .post-info__tags {
    display: flex;
    flex-wrap: wrap;

    &__tag {
      border-radius: 0.5rem;
      background: $won-dark-purple;
      color: white;
      margin: 0.25rem 0.25rem 0.25rem 0;
      padding: 0.25rem 0.5rem;
    }
  }

  won-need-map{
    display: block;

    .need-map__mapmount {
      width: 100%;
      height: 31rem;

      @media (max-width : $responsivenessBreakPoint) {
        height: 15rem;
      }
    }
  }

  .post-info__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;

    .post-info__inner__left {
      //TODO drop margin on break (so it's centered on slim screens
      margin-right: 4rem;
      margin-bottom: 2rem;
    }
    .post-info__inner__right {
      flex-grow: 1;
      flex-basis: 15rem;
    }
  }
}
