@import 'post-content';
@import 'post-header';
@import 'square-image';

won-post-info-unified {
  display: block;
  .piu__header {
    display: flex;
    //flex-direction: row;
    padding: 0.5rem;
    border-bottom: 0.1rem solid $won-line-gray;

    &__icon {
      @include fixed-square($postIconSize);
      padding-right: 0.5rem;
    }

  }
}


