%vcenter {
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}
%hcenter {
  transform: translateX(-50%);
  position: relative;
  left: 50%;
}
%center-right {
  transform: translateY(-100%) translateX(-50%);
  position: relative;
  left: 100%;
  top: 50%;
}
%center {
  transform: translateY(-50%) translateX(-50%);
  position: relative;
  left: 50%;
  top: 50%;
}
%bottom-center {
  position: relative;
  left: 50%;
  top: 100%;
  transform: translateY(-100%) translateX(-50%);
}
