@import "sizing-utils";
@import "chattextfield";
@import "won-config";
@import "connection-message";
@import "animate";
@import "responsiveness-utils";

.post__contentside {
  border-left: $thinGrayBorder;
  border-right: $thinGrayBorder;
  border-bottom: $thinGrayBorder;
  background: white;
  width: 100%;
  max-width: ($maxContentWidth / 2);
  //margin-ri: 0.5rem;

  box-sizing: border-box;

  @media (max-width: $responsivenessBreakPoint) {
    border-left: none;
    border-right: none;
  }

  &--empty {
    background: $won-lighter-gray;

    // display message centered
    flex-direction: column;

    .post__contentside__description__text {
      display: flex;
      align-self: center;
      font-weight: 300;
      color: var(--won-dark-gray);
      font-size: $bigFontSize;
    }
  }

  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  align-content: center;
  flex-direction: row;

  won-post-messages {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: min-content minmax($minimalGridRows, 1fr) min-content;
    grid-row-gap: $gridRowGap;
    width: 100%;
    box-sizing: border-box;
    padding: $gridRowGap;

    /*
    &.chattextfield-mobile {
      grid-template-rows: min-content minmax($mobileGridRows, 1fr) min-content;
    }*/

    .pm__header {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "header_back header_title header_context";
      grid-area: header;
      font-size: $normalFontSize;
      text-align: left;
      min-width: 0;
      align-items: center;

      &__back {
        grid-area: header_back;
        &__icon {
          @include fixed-square($backIconSize);
        }
      }

      &__title,
      won-connection-header {
        grid-area: header_title;
      }

      won-connection-context-dropdown {
        grid-area: header_context;
      }
    }

    .pm__footer {
      grid-area: footer;

      &__chattextfield {
        padding: 0.5rem 0;
      }

      &__button {
        width: 100%;
      }
    }

    .pm__content {
      grid-area: main;
      padding: 0.5rem;
      background: white;
      border: $thinGrayBorder;
      overflow: auto;
      flex-grow: 1;

      &.won-agreement-content {
        background: $won-lighter-gray;
      }

      &__agreement__title {
        font-size: $bigFontSize;
        font-weight: bold;
        border-bottom: $thinGrayBorder;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
      }

      &__loadbutton, /* just so the button and spinner won't make the chatmessages "jump"*/
      &__loadspinner {
        width: 100%;
        height: 3rem;
        padding: 0.66em 2em;
        text-align: center;
        box-sizing: border-box;
      }
    }
  }
}
