@import 'won-config';
@import 'sizing-utils';
@import 'fonts';
@import 'flex-layout';

.ownerpostcontent {
  padding: 0 1rem;
  box-sizing: border-box;
  @include max-content-width($maxContentWidth, $minContentPadding, 'opc');
  @include empty-description('opc');
  align-items: stretch;

  .oir__openrequest,
  .owner__messages{
    flex-grow: 1;
    max-width: $maxContentWidth / 2;
  }

  @media (max-width: $responsivenessBreakPoint){
    padding: 0;

    .owner__messages.hidden {
      display: none;
    }
  }

  .owner__openconversation{
    background: white;
    border: $thinGrayBorder;
  }

}

@import 'connection-selection-item-line';
//@import 'open-conversation';