@import 'won-config';
@import 'sizing-utils';
@import 'animate';

won-send-request,
won-post-info {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: min-content minmax(10rem, 1fr) min-content;
  grid-row-gap: $gridRowGap;
  width: 100%;
  max-width: $maxContentWidth;
  height: 100%;
  box-sizing: border-box;
  padding: $gridRowGap;

  &.won-post-info--noheader,
  &.won-send-request--noheader {
    grid-template-areas: "main" "footer";
    grid-template-rows: minmax(10rem, 1fr) min-content;

    .post-info__content {
      border-top: none;
      padding-top: 0;
    }
  }

  .post-info__header {
    display:flex;
    grid-area: header;
    font-size: $normalFontSize;
    text-align: left;
    width: 100%;

    &__icon {
      @include fixed-square($postIconSize);
    }

    &__icon__small {
      @include fixed-square(1.5rem);
      padding-left: 0.5rem;
    }
  }

  .post-info__content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-top: $thinGrayBorder;
    padding-top: 1rem;
    overflow: auto;

    won-labelled-hr span {
      background-color: white;
    }

    won-post-is-info,
    won-post-seeks-info {
      padding: 1rem 0;
    }

    won-need-map{
      display: block;
      @include slideWithOpacityAnimation(.5s, linear, 20rem);

      .need-map__mapmount {
        width: 100%;
        height: 31rem;

        @media (max-width : $responsivenessBreakPoint) {
          height: 15rem;
        }
      }
    }

    .post-info__tags {
      display: flex;
      flex-wrap: wrap;

      &__tag {
        border-radius: 0.5rem;
        background: $won-dark-purple;
        color: white;
        margin: 0.25rem 0.25rem 0.25rem 0;
        padding: 0.25rem 0.5rem;
      }
    }

    .post-info__carret {
      @include fixed-square(1rem);

      // visually center icon on line
      position: relative;
      top: 0.1em;
    }

    .post-info__heading {
      font-size: $normalFontSize;
      font-weight: 700;
    }
  }

  .post-info__footer {
    grid-area: footer;
    border-top: $thinGrayBorder;
    padding-top: 0.5rem;

    &__labelledhr span {
      background: white;
    }

    &__button {
      width: 100%;
      margin-top: 0.5rem;
    }
  }
}