@import "won-config";
@import "sizing-utils";
@import "animate";

won-post-content {
  .post-skeleton,
  .post-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow: auto;
    word-wrap: break-word;

    won-labelled-hr span {
      background-color: white;
    }

    won-trig {
      background-color: $won-light-gray;
      border: $thinGrayBorder;
      padding: 0.5rem;
    }

    .post-content__members {
      & .post-content__members__member {
        padding: 0.5rem;
        border: $thinGrayBorder;
        background: white;
        display: grid;
        grid-template-areas: "member_info member_actions";
        grid-template-columns: 1fr min-content;
        grid-gap: 0.25rem;
        align-items: center;
        margin-bottom: 0.5rem;

        won-post-header {
          grid-area: member_info;
        }
      }
    }
  }

  &.won-is-loading {
    @include animateOpacityHeartBeat();

    .post-skeleton__details {
      height: $normalFontSize;
      width: 100%;
      background-color: $won-skeleton-color;
      margin-top: 0.25rem;
    }
    .post-skeleton__heading {
      height: $normalFontSize;
      width: 5rem;
      background-color: $won-skeleton-color;
      margin-top: 1rem;
      font-size: $normalFontSize;
      font-weight: 700;
    }
  }
}
