@import "won-config";
@import "sizing-utils";
@import "fonts";
@import "flex-layout";

main.postcontent {
  grid-column: 1 / -1;
  padding: 0;
  box-sizing: border-box;
  align-items: stretch;
  max-width: $maxContentWidth;
  border-left: $thinGrayBorder;
  border-right: $thinGrayBorder;
  border-bottom: $thinGrayBorder;
  background: white;
  width: 100%;
  margin: 0 auto;

  @media (max-width: $responsivenessBreakPoint) {
    border-left: none;
    border-right: none;
  }
}
