@import "won-config";
@import "sizing-utils";
@import "animate";

won-send-request,
won-post-info {
  display: grid;
  grid-template-areas: "header" "menu" "main" "footer";
  grid-template-rows: min-content min-content minmax($minimalGridRows, 1fr) min-content;
  box-sizing: border-box;

  &.won-post-info--noheader,
  &.won-send-request--noheader {
    grid-template-areas: "menu" "main" "footer";
    grid-template-rows: min-content minmax($minimalGridRows, 1fr) min-content;
  }

  .post-info__header {
    padding: 0.5rem;
    box-sizing: border-box;
    display: grid;
    border-bottom: $thinGrayBorder;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "header_back header_title header_share header_context";
    grid-area: header;
    font-size: $normalFontSize;
    text-align: left;
    min-width: 0;
    align-items: center;

    &__back {
      grid-area: header_back;

      &:hover {
        filter: brightness(85%);
      }

      &__button__icon {
        --local-primary: #{$won-primary-color};
        @include fixed-square($backIconSize);
      }
    }

    won-post-header,
    won-connection-header {
      grid-area: header_title;
    }

    won-post-context-dropdown,
    won-connection-context-dropdown {
      grid-area: header_context;
    }

    won-share-dropdown {
      grid-area: header_share;
    }
  }
  won-post-menu {
    grid-area: menu;
  }

  won-post-content {
    padding: 0.5rem;
    box-sizing: border-box;
    grid-area: main;
    display: grid;
  }

  .post-info__footer {
    grid-area: footer;
    display: grid;
    grid-gap: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border-top: $thinGrayBorder;

    &__button {
      width: 100%;
    }

    &__infolabel {
      text-align: center;
    }
  }
}
