@import 'sizing-utils';
@import 'chattextfield';
@import 'won-config';
@import 'connection-message';
@import 'connection-agreement';
@import 'animate';
@import 'responsiveness-utils';

.post__contentside {
  border-left: $thinGrayBorder;
  border-right: $thinGrayBorder;
  border-bottom: $thinGrayBorder;
  background: white;
  width: 100%;
  max-width: ($maxContentWidth / 2);
  //margin-ri: 0.5rem;

  box-sizing: border-box;

  @media (max-width : $responsivenessBreakPoint) {
    border-left: none;
    border-right: none;
  }

  &--empty {
      background: $won-lighter-gray;

      // display message centered
      flex-direction: column;

      .post__contentside__description__text {
        display: flex;
        align-self: center;
        font-weight: 300;
        color: var(--won-dark-gray);
        font-size: $bigFontSize;
      }
  }

  display: flex;
  flex-grow:1;
  height: 100%;
  justify-content: center;
  align-content: center;
  flex-direction: row;

  won-post-messages {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: min-content minmax(10rem, 1fr) min-content;
    grid-row-gap: $gridRowGap;
    width: 100%;
    box-sizing: border-box;
    padding: $gridRowGap;

    .pm__header {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "header_back header_title header_context";
      grid-area: header;
      font-size: $normalFontSize;
      text-align: left;
      min-width: 0;
      align-items: center;

      &__back {
        grid-area: header_back;
        &__icon {
          @include fixed-square($backIconSize);
        }
      }

      won-connection-header {
        grid-area: header_title;
      }

      won-connection-context-dropdown {
        grid-area: header_context;
      }
    }

    .pm__footer {
      grid-area: footer;

      &__agreement {
        display: block;
      }

      &__chattextfield {
        padding: 0.5rem 0;
      }

      &__button {
        width: 100%;
      }
    }

    .pm__content {
      grid-area: main;
      padding: 0.5rem;
      background: white;
      border: $thinGrayBorder;
      overflow: auto;
      flex-grow: 1;

      &__loadbutton, /* just so the button and spinner won't make the chatmessages "jump"*/
      &__loadspinner {
        width: 100%;
        height: 3rem;
        padding: .66em 2em;
        text-align: center;
        box-sizing: border-box;
      }

      &__agreement {
        @include speech-bubble-bottom($won-light-gray, $won-line-gray, 0.3125rem, $thinBorderWidth, 0.5rem);
        margin: 0 0.5rem;
        padding-bottom: 0.5rem;
        font-size: $smallFontSize;
        border: $thinDarkBorder;
        background: $won-light-gray;
        
        &__title {
          font-size: 0.85rem;
          font-weight: 550;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
        
        &__loading {
          font-size: 0.85rem;
          font-weight: 550;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          display: block;
          
          span.loaded {
            display: none;
          }
        }
    
        &__icon {
          position: relative;
          flex-grow:1;
          @include fixed-square(1.5rem);
        }
      }
    }
  }
}


