@import 'extended-gallery';
@import 'sizing-utils';

won-post-content {
  display: block;
  //padding: 1rem;
  font-size: $smallFontSize;

  .pc__text,
  .pc__datetime {
    display: flex;
    flex-direction: row;
    padding: 0.25rem 0;
  }

  .pc__icon {
    @include fixed-square(1rem);
    padding-right: 0.5rem;
  }
}
