@import "won-config";
@import "sizing-utils";
@import "square-image";

won-post-content-persona {
  display: grid;
  grid-gap: 0.5rem;

  .pcp__header {
    display: grid;
    grid-template-areas:
      "p_icon p_name p_name"
      "p_icon p_websitelabel p_websitelink";
    grid-template-columns: $postIconSize max-content 1fr;
    grid-column-gap: 0.5rem;
    padding: 0.5rem;
    border-bottom: $thinGrayBorder;

    @include square-image($postIconSize);
    won-square-image {
      grid-area: p_icon;
    }

    &__name {
      grid-area: p_name;
      display: flex;
      align-items: center;

      &__label {
        font-size: $normalFontSize;
      }

      &__verification {
        font-size: $smallFontSize;
        margin-left: 0.25rem;

        &--verified {
          color: $won-line-gray;
        }
        &--unverified {
          color: $won-unread-attention;
        }
      }
    }

    .pcp__websitelabel {
      font-size: $smallFontSize;
      grid-area: p_websitelabel;
    }
    .pcp__websitelink {
      font-size: $smallFontSize;
      grid-area: p_websitelink;
    }
  }

  .pcp__holds {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;

    &__label {
      font-weight: bold;
    }
  }

  .pcp__rating {
    display: grid;
    grid-template-areas: "r_header r_header" "r_reviewcount r_button" "r_rate r_rate";
    white-space: nowrap;
    text-overflow: ellipsis;

    grid-template-columns: 1fr min-content;
    align-items: center;

    &__label {
      grid-area: r_header;
      font-weight: bold;
    }

    &__reviewcount {
      grid-area: r_reviewcount;
    }

    &__view {
      grid-area: r_button;
    }

    won-rating-view {
      grid-area: r_rate;
    }
  }
}
