@import "won-config";
@import "textfield";
@import "sizing-utils";

won-price-range-picker {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-gap: 0.5rem;

  .pricerangep__input {
    &__reset {
      position: relative;

      &__icon {
        @include fixed-square($bigiconSize);
        --local-primary: #{$won-primary-color};
        position: absolute;
        left: 0;
        top: 0.5rem;
      }
    }

    &__label {
      display: block;
      @include default-font;
    }

    &__min,
    &__max {
      text-align: right;
      border: $thinGrayBorder;

      @include textfieldPadding(
        $normalFontSize,
        22/16,
        $thinBorderWidth,
        $formInputHeight
      );

      &.pricerangep__input__min--withreset,
      &.pricerangep__input__max--withreset {
        $verticalPadding: calcVerticalPaddingToHeight(
          $normalFontSize,
          22/16,
          $thinBorderWidth,
          $formInputHeight
        );
        padding: $verticalPadding 0.438rem $verticalPadding 0.438rem +
          $bigiconSize;
      }

      box-sizing: border-box;
      min-height: $formInputHeight;
      min-width: 0; // so a size is specified and break-word works
      width: 100%;

      word-wrap: break-word;

      &::-ms-clear {
        width: 0;
        height: 0;
      }
    }
  }

  .pricerangep__input__currency {
    border: $thinGrayBorder;
    min-height: $formInputHeight;
    min-height: $formInputHeight;
    word-wrap: break-word;
    font-size: 1rem;

    $verticalPadding: calcVerticalPaddingToHeight(
      $normalFontSize,
      22/16,
      $thinBorderWidth,
      $formInputHeight
    );
    padding: $verticalPadding 0.438rem + $bigiconSize $verticalPadding 0.438rem;
  }

  .pricerangep__input__unitCode {
    grid-column: 1 / span 3;
    border: $thinGrayBorder;
    min-height: $formInputHeight;
    min-height: $formInputHeight;
    word-wrap: break-word;
    font-size: 1rem;

    $verticalPadding: calcVerticalPaddingToHeight(
      $normalFontSize,
      22/16,
      $thinBorderWidth,
      $formInputHeight
    );
    padding: $verticalPadding 0.438rem + $bigiconSize $verticalPadding 0.438rem;
  }
}
