@import "won-config";
@import "sizing-utils";
@import "square-image";

won-publish-button,
.won-publish-button {
  position: relative;
  --buttonBackground: #{$won-secondary-color};
  --buttonTextColor: #{$won-secondary-text-color};

  border-radius: 0.19rem;
  text-overflow: ellipsis;
  display: grid;
  grid-template-areas: "wpb_submit wpb_holder";
  grid-template-columns: 1fr min-content;

  .submit-button {
    grid-area: wpb_submit;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    color: var(--buttonTextColor);

    @include square-image(1.75rem);
    .submit-button__icon {
      &.anon {
        --local-primary: var(--buttonTextColor);
      }
      padding: 0.25rem;
      @include fixed-square(1.75rem);
    }
    .submit-button__label {
      padding: 0.66rem 0.25rem;
      white-space: nowrap;
    }

    &:not(:disabled):hover {
      filter: brightness(125%);
    }

    &--enabled {
      background: var(--buttonBackground);
      cursor: pointer;
    }
    &--disabled {
      background: $won-disabled-color;
      cursor: default;
      pointer-events: none;
    }
  }

  .holder-picker {
    height: 0;
    position: absolute;
    top: -10rem;
    width: 100%;

    &__content {
      background: white;
      border: 0.0625rem solid var(--won-line-gray);
      border-bottom: 0;

      display: grid;
      grid-gap: 0.5rem;
      padding: 0.5rem;

      max-height: 10rem;
      overflow-y: auto;
      box-sizing: border-box;

      > *:hover {
        background: $won-lighter-gray;
      }

      &__anon {
        display: grid;
        grid-template-areas: "anon_icon anon_label";
        grid-template-columns: min-content 1fr;
        grid-column-gap: 0.5rem;
        cursor: pointer;

        --local-primary: #{$won-secondary-color};

        &__label {
          color: $won-secondary-color;
          grid-area: anon_label;
        }

        &__icon {
          grid-area: anon_icon;
          @include fixed-square($postIconSize);
        }
      }
    }
  }

  .holder-indicator {
    grid-area: wpb_holder;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.66rem;
    background: var(--buttonBackground);
    border-left: $boldBorderWidth solid var(--buttonTextColor);
    --local-primary: var(--buttonTextColor);

    &:not(:disabled):hover {
      filter: brightness(125%);
    }

    &__carret {
      @include fixed-square(1.25rem);
    }

    &--expanded {
      .holder-indicator__carret {
        transition: all linear 0.2s;
      }
    }

    &--collapsed {
      .holder-indicator__carret {
        transform: rotate(-180deg);
        transition: all linear 0.2s;
      }
    }
  }
}
