@import "won-config";
@import "sizing-utils";

.won-rating-view {
  display: inline-block; //TODO: remove; just needed for elm-ui weirdness
  position: relative;

  .rating-display {
    color: $won-primary-color;
    user-select: none;
    font-size: 1rem;
  }

  .rating-popup {
    position: absolute;
    font-size: 1rem;
    top: calc(100% + 0.5rem);

    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: 0.25em;
    background-color: white;
    border: 1px solid $won-line-gray;

    padding: 0.5ch;

    .star-selector {
      .star {
        color: $won-primary-color;
      }
    }
    .review-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      textarea {
        width: 100%;
        resize: vertical;
      }
    }

    .submit-button {
      width: 100%;
    }
  }
}
