@import "won-config";
@import "sizing-utils";
@import "speech-bubble";

won-referenced-message-content {
  display: grid;
  grid-gap: 0.5rem;
  grid-auto-flow: row;

  &.won-has-non-ref-content > .refmsgcontent__fragment {
    border-top: $thinGrayBorder;
  }

  .refmsgcontent__fragment:not(:first-child) {
    border-top: $thinGrayBorder;
  }
  .refmsgcontent__fragment:not(:last-child) {
    border-bottom: $thinGrayBorder;
  }

  .refmsgcontent__fragment {
    background-color: white;

    &__header {
      display: grid;
      grid-template-columns: 1fr min-content;
      border-bottom: $thinGrayBorder;
      grid-gap: 0.25rem;
      padding: 0.5rem;
      align-items: center;
      cursor: pointer;

      &__label {
        font-weight: bold;
      }

      &__carret {
        svg {
          @include fixed-square(1rem); // visually center icon on line
        }
      }
    }

    &__body {
      padding: 0.5rem;
      display: grid;
      grid-gap: 0.5rem;
      grid-auto-flow: row;

      > won-combined-message-content {
        border: $thinGrayBorder;

        &.won-cm--left {
          @include speech-bubble-left(
            $won-light-gray,
            $won-line-gray,
            $speechBubbleTailSizeSmall/2,
            $thinBorderWidth,
            0.25rem
          );
        }
        &.won-cm--right {
          @include speech-bubble-right(
            $won-light-gray,
            $won-line-gray,
            $speechBubbleTailSizeSmall/2,
            $thinBorderWidth,
            0.25rem
          );
        }
        &.won-cm--forward {
          background-color: $won-light-gray;
          border: $thinGrayBorder;
        }
      }
    }
  }
}
