@import 'won-config';
@import 'sizing-utils';
@import 'fonts';
@import 'flex-layout';

won-request-item-line {
  display: block;

  .ril {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 0.1rem solid $won-line-gray;

    a {
      text-decoration: none;
    }

    .ril__image {
      @include fixed-square($postIconSize);
      margin-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &__noimage {
        color: white;
        font-size: $bigFontSize;
      }
    }

    .ril__description {
      color: black;
      flex-grow: 1;
      padding-right: 1rem;

      &__topline{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        &__title{
          font-weight: 500;
        }

        &__messagecount {
          color: $won-red;
          padding: 0 0.25rem;
        }
      }

      &__subtitle {
        color: $won-subtitle-gray;
        display: flex;
        flex-direction: row;
        font-size: $smallFontSize;

        &__group {
          display: flex;
          align-items: center;
          flex-direction: row;

          &__dash {
            padding: 0 0.25rem;
          }

          &__icon {
            padding-right: 0.25rem;
            @include fixed-square(0.75rem);
          }
        }
      }
    }

    .ril__carret {
      .ril__arrow {
        @include carretSized;

      }
    }
  }
  .mil {
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      align-self: flex-end;
      margin: 0.25rem 0;
      padding: 0.25rem 0.25rem;
      max-width: 33rem;
      width: 100%;
      position: relative;
      left: 1rem;

      border: 0.1rem solid $won-lighter-gray; //this is necessary so that the view does not "jump" when selecting an item

      &:hover,
      &.selected {
        background-color: white;
        border: 0.1rem solid $won-line-gray;
      }
      &.selected {
        border-right: 0.1rem solid $won-lighter-gray;
      }

      &__image {
        @include fixed-square($postIconSize);
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &__noimage {
          color: white;
          font-size: $bigFontSize;
        }
      }

      &__description {
        color: black;
        flex-grow: 1;
        padding-right: 1rem;

        &__topline{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          &__title{
            font-weight: 500;
          }

          &__date{
            font-size: $smallFontSize;
            color: $won-subtitle-gray;
          }
        }

        &__subtitle {
          font-size: $smallFontSize;
          color: $won-subtitle-gray;
          display: flex;
          flex-direction: row;

          &__group {
            display: flex;
            align-items: center;
            flex-direction: row;

            &__dash {
              padding: 0 0.25rem;
            }

            &__icon {
              padding-right: 0.25rem;
              @include fixed-square(0.75rem);
            }
          }
        }

        &__message {
          font-size: $smallFontSize;

          &__indicator {
            display: inline-block;
            background: $won-red;
            border-radius: 100%;
            margin-right: 0.25rem;
            @include fixed-square(0.5rem);
          }
        }
      }
    }
  }
}