@import 'won-config';
@import 'sizing-utils';
@import 'fonts';
@import 'flex-layout';

won-send-request,
won-open-request {
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: min-content minmax(10rem, 1fr) min-content;
  grid-row-gap: $gridRowGap;
  width: 100%;

  .request__header {
    grid-area: header;
    display: flex;
    border-bottom: $thinGrayBorder;
    padding: 0.5rem;

    &__icon {
      @include fixed-square($postIconSize);
    }
  }

  .request_content {
    grid-area: content;
  }

  .request__footer {
    grid-area: footer;
    margin: 0 1rem;
    padding: 1rem 0;
    border-top: $thinGrayBorder;

    input {
      width: 100%;
    }

    .flexbuttons {
      text-align: right;
      padding-top: 1rem;

      button {
        margin-left: 0.5rem;
      }
    }
  }

  won-post-content {
    padding: 1rem;
  }
}

@import 'extended-gallery';