// reset css that strips browser-defaults that would produce unexpected
// behaviour (but are required to layout bare-bones html documents)

body,
header,
section,
nav,
div,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  padding: 0;
  margin: 0;
}

/*
 * form elements don't inherit the font-family so we
 * need to set it manually here
 */
button,
input,
textarea {
  font-family: inherit;
  font-weight: inherit;
}
