@import "won-config";
@import "textfield";
@import "sizing-utils";

won-review-picker {
  .reviewp__input {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-row-gap: 0.5rem;

    .reviewp__input__rating {
      grid-column: 1 / span 2;
      border: $thinGrayBorder;
      min-height: $formInputHeight;
      min-height: $formInputHeight;
      word-wrap: break-word;
      font-size: 1rem;

      $verticalPadding: calcVerticalPaddingToHeight(
        $normalFontSize,
        22/16,
        $thinBorderWidth,
        $formInputHeight
      );
      padding: $verticalPadding 0.438rem + $bigiconSize $verticalPadding
        0.438rem;
    }
  }
}
