@import "won-config";
@import "textfield";
@import "sizing-utils";

won-review-picker {
  .reviewp__input {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;

    &__reset {
      position: relative;

      &__icon {
        @include fixed-square($bigiconSize);
        --local-primary: #{$won-primary-color};
        position: absolute;
        right: 0;
        top: 0.5rem;
      }
    }

    .reviewp__input__inner {
      @extend .won-txt;
      border: $thinGrayBorder;

      @include textfieldPadding(
        $normalFontSize,
        22/16,
        $thinBorderWidth,
        $formInputHeight
      );
      word-wrap: break-word;

      &:invalid {
        /*TODO: Define styling for invalid input field*/
      }

      &.reviewp__input__inner--withreset {
        $verticalPadding: calcVerticalPaddingToHeight(
          $normalFontSize,
          22/16,
          $thinBorderWidth,
          $formInputHeight
        );
        padding: $verticalPadding 0.438rem + $bigiconSize $verticalPadding
          0.438rem;
      }
    }

    .reviewp__input__rating {
      grid-column: 1 / span 2;
      border: $thinGrayBorder;
      min-height: $formInputHeight;
      min-height: $formInputHeight;
      word-wrap: break-word;
      font-size: 1rem;

      $verticalPadding: calcVerticalPaddingToHeight(
        $normalFontSize,
        22/16,
        $thinBorderWidth,
        $formInputHeight
      );
      padding: $verticalPadding 0.438rem + $bigiconSize $verticalPadding
        0.438rem;
    }
  }
}
