// TODO ALTERNATIVE: export-syntax
// Taken from: http://4waisenkinder.de/blog/2014/03/06/import-once-in-sass-the-foundation-way/
// We use this to prevent styles from being loaded multiple times for compenents that rely on other components.
$modules: () !default;
@mixin exports($name) {
  // check if code with name is already stored inside of $modules
  @if (index($modules, $name) == false) {
    // if not push it into the list
    $modules: append($modules, $name);
    // include code that particular code
    @content;
  }
}

// TODO ALTERNATIVE: 'include-guard'
// http://davidwalsh.name/future-sass (search for import-once, ~50% of document)
$imported-once-files: ();

@function import-once($name) {
  @if index($imported-once-files, $name) {
    @return false;
  }
  $imported-once-files: append($imported-once-files, $name);
  @return true;
}

/*
@if import-once("_SharedBaseStuff.scss") {
  // ...declare stuff that will only be imported once...
}
*/

// TODO ALTERNATIVE: node-sass-import-once
