@import "won-config";
@import "sizing-utils";
@import "fonts";
@import "flex-layout";

.settingscontent {
  @include max-content-width($maxContentWidth, $minContentPadding, "ac");

  background: white;

  .title {
    font-weight: 300;
    text-align: left;

    &.withoutPadding {
      padding-bottom: 0;
    }
  }

  .subtitle {
    text-align: left;
    font-size: $smallFontSize;
    color: $won-subtitle-gray;
  }

  won-notification-settings,
  won-address-settings {
    .leftside {
      border-right: $thinGrayBorder;
    }

    .flexbuttons {
      padding: 1rem 0;
      border-bottom: $thinGrayBorder;
    }

    .setting {
      padding-top: 1.25rem;
    }

    .noaddresses {
      border-right: $thinGrayBorder;
    }

    .nonotifications,
    .noaddresses {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__icon {
        @include fixed-square($hugeiconSize);
        padding-bottom: 1rem;
      }

      .title {
        font-weight: 300;
        max-width: 30rem;
        text-align: center;
      }

      .description {
        max-width: 30rem;
        padding-bottom: 1rem;
      }
    }
  }

  won-account-settings {
    border-bottom: $thinGrayBorder;
  }

  won-avatar-settings,
  won-address-settings,
  won-notification-settings,
  won-account-settings {
    width: 100%;
    display: block;
    padding: 1rem 0;

    @media (max-width: 45rem) {
      .flexrow {
        flex-direction: column;
      }

      .nonotifications,
      .noaddresses,
      .leftside,
      .rightside {
        padding: 0;
        border-right: 0;
      }
    }
  }

  .leftside {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .rightside {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .inputflex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 1rem 0;

    .inputside {
      display: flex;
      flex-direction: column;
      flex-grow: 2;

      label {
        width: initial;
      }

      &__flexrow {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }

    label {
      width: 9rem;
      padding-right: 1rem;
    }
  }

  .flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 45rem) {
      flex-direction: column;
    }
  }

  .flexbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .ac__button {
    display: flex;
    max-width: 15rem;
    align-items: center;

    &__icon {
      @include fixed-square($bigiconSize);
    }
    &__caption {
      white-space: nowrap;
      color: $won-primary-color;
      padding-left: 0.5rem;
    }
  }

  .won-button--filled {
    max-width: 15rem;
    display: block;
    align-self: flex-end;
  }

  /*Avatar page*/
  won-avatar-settings {
    display: flex;
    flex-direction: column;

    .flexbuttons {
      width: 100%;

      &.top {
        padding: 0 0 0.5rem 0;
        justify-content: flex-start;
      }
      &.bottom {
        padding: 1rem 0;
        justify-content: flex-end;
      }
    }

    .noavatars {
      display: flex;
      max-width: 42rem;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;

      .avataricon {
        @include fixed-square($hugeiconSize);
        padding-bottom: 2rem;
      }

      .ac__button {
        padding-top: 2rem;
      }
    }

    .avatargrid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      border-top: $thinGrayBorder;

      .avatar {
        flex-grow: 1;
        border-bottom: $thinGrayBorder;

        > div {
          padding: 0 1rem;
          margin: 1rem 0;
        }

        &:nth-child(odd) {
          > div {
            border-right: $thinGrayBorder;

            @media (max-width: 58rem) {
              border-right: 0;
            }
          }
        }

        &__overlay {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          position: relative;
          right: 0;
          top: -3.85rem;
          z-index: 100;
          height: 0;

          won-avatar-image-selector {
            display: block;

            .avatarimage__header {
              padding: 0.5rem;
              background: $won-light-gray;
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              border: $thinGrayBorder;

              &__button {
                text-decoration: none;
                display: flex;
                align-items: center;
                flex-direction: row;

                &__iconsmall {
                  @include fixed-square($bigiconSize);
                }
                &__carret {
                  @include carretSized;
                }
              }
            }

            .avatarimage__grid {
              padding-right: 1rem;
              background-color: white;
              border: $thinGrayBorder;
              border-top: 0;
              display: flex;
              flex-wrap: wrap;
              width: 13rem;

              &__item {
                @include fixed-square($bigiconSize);
                padding: 0.5rem;
              }
            }

            .avatarimage__footer {
              padding: 0.5rem;
              background-color: white;
              border: $thinGrayBorder;
              border-top: 0;

              a {
                font-size: 0.75rem;
                color: $won-primary-color;
                text-decoration: none;
              }
            }
          }
        }

        &__header {
          display: flex;
          flex-direction: row;
          padding-bottom: 1rem;
          justify-content: space-between;

          &__name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            label {
              width: initial;
            }
          }

          &__button {
            text-decoration: none;
            display: flex;
            align-items: center;
            flex-direction: row;
            padding-right: 0.5em;

            &__iconsmall {
              @include fixed-square($bigiconSize);
            }
            &__carret {
              @include carretSized;
            }
          }
        }

        .ac__button {
          align-self: flex-end;
        }

        ul li {
          margin-left: 2rem;
        }
      }
    }
  }
}
