@import "flex-layout";
@import "title-bar";

.settings-tab-bar {
  @include title-bar("astb");

  > .astb__inner {
    > .astb__inner__left {
      @include flex-column;
    }

    > .astb__inner__center {
      @include flex-column;

      .astb__title {
        margin-top: 0.5rem;
      }
    }
  }
}
