@import "won-config";
@import "sizing-utils";
@import "fonts";

main.signup {
  font-weight: 300;

  > .signup__content {
    display: grid;
    grid-row-gap: 0.5rem;
    max-width: $maxContentWidth/2;
    margin: 0 auto;
    padding: 1rem;

    @media (max-width: $responsivenessBreakPoint) {
      padding: 0.5rem;
    }

    .signup__content__form {
      display: grid;
      grid-row-gap: 0.5rem;

      &__errormsg {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        align-items: center;
        grid-gap: 0.25rem;
        margin-bottom: 0.5rem;

        &__label {
          font-size: $smallFontSize;
          color: $won-primary-color;
        }

        &__icon {
          @include fixed-square(1em);
          --local-primary: #{$won-primary-color};
        }
      }
    }
  }
}
