@import "won-config";
@import "fonts";

@mixin carretSized {
  //the small down-arrow
  /*
  // without svg-included margins
  @include fixed-height(0.5rem);
  @include fixed-width(0.875rem);
  */

  // with svg-included margins
  @include fixed-square(1rem);
}

@mixin fixed-height($h) {
  height: $h;
  min-height: $h;
  max-height: $h;
}
@mixin fixed-width($w) {
  width: $w;
  min-width: $w;
  max-width: $w;
}

@mixin fixed-square($size) {
  @include fixed-width($size);
  @include fixed-height($size);
}

%fill {
  height: 100%;
  width: 100%;
}
