@import "won-config";
@import "fonts";

@mixin carretSized {
  //the small down-arrow
  /*
  // without svg-included margins
  @include fixed-height(0.5rem);
  @include fixed-width(0.875rem);
  */

  // with svg-included margins
  @include fixed-square(1rem);
}

@mixin fixed-height($h) {
  height: $h;
  min-height: $h;
  max-height: $h;
}
@mixin fixed-width($w) {
  width: $w;
  min-width: $w;
  max-width: $w;
}

@mixin fixed-square($size) {
  @include fixed-width($size);
  @include fixed-height($size);
}

%fill {
  height: 100%;
  width: 100%;
}
%fixed-fill {
  @include fixed-height(100%);
  @include fixed-width(100%);
}
%fullscreen {
  height: 100vh;
  width: 100vw;
}
%fixed-fullscreen {
  @include fixed-height(100vh);
  @include fixed-width(100vw);
}
%fillwidth {
  min-width: 100%;
  height: auto;
}

%fillheight {
  min-height: 100%;
  width: auto;
}

@mixin max-square($maxSize) {
  max-width: $maxSize;
  max-height: $maxSize;
  width: auto;
  height: auto;
}

/**
 * Use this mixin on root-elements to limit the maximal width
 * of the content (which atoms to be placed in an $prefix__inner
 * element. Also handles a minimum remaining margin (for when the
 * viewport becomes small)
 */
@mixin max-content-width($maxCntWidth, $cntPadding, $prefix) {
  // to center the sole child
  display: flex;
  justify-content: center;
  align-content: center;
  /*align-items: baseline;*/
  flex-direction: row;

  > .#{$prefix}__inner {
    max-width: $maxCntWidth;
    width: 100%; // take as much space as possible without exceeding the maxContentWidth
    padding: 0 $cntPadding;
  }
}
/**
 * Use this mixin on *-viewer elements to support uniform styling of the viewer-components
 */
@mixin won-detail-viewer($prefix) {
  display: grid;
  grid-auto-flow: row;
  width: 100%;
  box-sizing: border-box;

  &.won-in-message {
    grid-gap: 0.25rem;

    .#{$prefix}__header {
      display: flex;
      align-items: center;
      color: $won-subtitle-gray;

      &__icon {
        @include fixed-square($contentInfoHeaderIconSize);
        --local-primary: #{$won-subtitle-gray};
        margin-right: 0.25rem;
      }

      &__label {
        font-size: $smallFontSize;
      }
    }
    .#{$prefix}__content {
      box-sizing: border-box;
    }
  }

  &:not(.won-in-message) {
    grid-gap: 0.25rem;

    .#{$prefix}__header {
      display: flex;
      align-items: center;
      color: $won-primary-text-color;

      &__icon {
        @include fixed-square($contentInfoHeaderIconSize);
        --local-primary: #{$won-primary-text-color};
        margin-right: 0.25rem;
      }

      &__label {
        font-size: $normalFontSize;
        font-weight: bold;
      }
    }

    .#{$prefix}__content {
      @media (min-width: $responsivenessBreakPoint) {
        padding-left: calc(0.25rem + #{$contentInfoHeaderIconSize});
      }
      box-sizing: border-box;
    }
  }
}

@mixin empty-description($prefix) {
  .#{$prefix}__inner.empty {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: $maxContentWidth;
  }

  .#{$prefix}__empty {
    font-size: $bigFontSize;
    @media (max-width: $responsivenessBreakPoint) {
      flex-direction: column;
      font-size: $mediumFontSize;
    }
    text-align: center;

    &__description {
      display: flex;
      margin-bottom: 3rem;
      align-items: center;

      @media (max-width: $responsivenessBreakPoint) {
        flex-direction: column;
      }

      &__text {
        font-weight: 300;
        color: $won-dark-gray;
      }

      &__icon {
        width: 10rem;
        height: 10rem;
        margin: 1rem;

        @media (max-width: $responsivenessBreakPoint) {
          width: 5rem;
          height: 5rem;
          margin: 0.5rem;
        }
      }
    }

    &__link {
      text-decoration: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &__icon {
        width: 5rem;
        height: 5rem;
        margin: 1rem;

        @media (max-width: $responsivenessBreakPoint) {
          width: 2.5rem;
          height: 2.5rem;
          margin: 0.5rem;
        }
      }
      &__caption {
        font-size: $bigFontSize;

        @media (max-width: $responsivenessBreakPoint) {
          font-size: $mediumFontSize;
        }

        color: $won-primary-color;
      }
    }
  }
}
