@import "won-config";
@import "button";
@import "collapsible";
@import "button";

.slide-in {
  @extend .collapsible;

  color: white;

  background: $won-secondary-color-lighter;

  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $responsivenessBreakPoint) {
    flex-direction: column;
  }

  & > .si__icon {
    @media (max-width: $responsivenessBreakPoint) {
      margin: 0;
    }

    @media (min-width: $responsivenessBreakPoint) {
      margin-left: 1rem;
    }

    @include fixed-square(2rem);
  }

  & > .si__text {
    @media (max-width: $responsivenessBreakPoint) {
      margin: 0;
      text-align: center;
    }

    @media (min-width: $responsivenessBreakPoint) {
      margin-left: 0.5rem;
      margin-right: 1rem;
      text-align: left;
    }

    a {
      color: $won-primary-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  & > .si__button {
    @media (max-width: $responsivenessBreakPoint) {
      margin: 0.5rem 0 0 0;
    }

    @media (min-width: $responsivenessBreakPoint) {
      margin-left: 1.3rem;
      margin-right: 1rem;
    }

    @include won-button--outlined(white);
  }

  > img {
    // height: 2rem;
    max-height: 2rem;
  }
}
