@import "won-config";
@import "button";
@import "collapsible";
@import "responsiveness-utils";

.slide-in {
  @extend .collapsible;

  color: white;

  background: black; //Fallback in case the browser does not support css variables
  background: $won-secondary-color;

  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  &.visible {
    max-height: 100%; //Fallback in case the browser does not support vh
    max-height: 100vh;
  }

  @media (max-width: $responsivenessBreakPoint) {
    flex-direction: column;
  }

  & > .si__close {
    cursor: pointer;
  }

  & > .si__close,
  & > .si__icon {
    @media (max-width: $responsivenessBreakPoint) {
      margin: 0;
    }

    @media (min-width: $responsivenessBreakPoint) {
      margin-left: 1rem;
    }

    @include fixed-square(2rem);
  }

  & > .si__smalltext,
  & > .si__text {
    @media (max-width: $responsivenessBreakPoint) {
      margin: 0;
      text-align: center;
    }

    overflow-y: auto;

    @media (min-width: $responsivenessBreakPoint) {
      margin-left: 0.5rem;
      margin-right: 1rem;
      text-align: left;
    }

    a {
      color: white;
      text-decoration: underline;
    }

    ul {
      padding: 1rem;
    }
  }

  & > .si__smalltext {
    font-size: $smallFontSize;
  }

  & > .si__smallbutton,
  & > .si__button {
    @media (max-width: $responsivenessBreakPoint) {
      margin: 0.5rem 0 0 0;
    }

    @media (min-width: $responsivenessBreakPoint) {
      margin-left: 1.3rem;
      margin-right: 1rem;
    }

    @include won-button--outlined(white);
  }

  > img {
    // height: 2rem;
    max-height: 2rem;
  }

  & > .si__smallbutton {
    font-size: $smallFontSize;
  }
}
