@import "won-config";
@import "sizing-utils";

won-socket-add-button {
  background: $won-light-gray;
  padding: 0.5rem;
  cursor: pointer;
  display: grid;
  grid-template-areas: "icon main";
  grid-template-columns: min-content 1fr;
  grid-gap: 0.5rem;
  align-items: center;
  box-sizing: border-box;
  min-width: 0;

  .socketadd__label {
    color: $won-secondary-color;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .socketadd__icon {
    @include fixed-square($postIconSize);
    --local-primary: #{$won-secondary-color};
  }

  &:hover {
    background: rgba(white, 0.5);
    cursor: pointer;
  }

  &.won-socket-add-button--tag {
    grid-gap: 0.25rem;
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;
    border-radius: 0.5rem;

    .socketadd__icon {
      @include fixed-square($postIconSizeMobile);
    }
  }

  &.won-socket-add-button--big {
    grid-template-areas: "icon" "main";
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;

    .socketadd__label {
      font-size: $mediumFontSize;
      text-align: center;
      white-space: normal;
    }

    .socketadd__icon {
      @include fixed-square($hugeiconSize);
    }
  }
}
