@import "won-config";
@import "sizing-utils";

won-socket-add-atom {
  //TODO: Style
  .wsaa__header {
    display: grid;
    grid-template-areas: "icon main";
    grid-template-columns: min-content 1fr;
    padding: 0.5rem;
    grid-gap: 0.5rem;
    align-items: center;
    box-sizing: border-box;
    border-bottom: $thinGrayBorder;

    &__label {
    }

    &__icon {
      @include fixed-square($postIconSize);
      cursor: pointer;

      &:hover {
        --local-primary: #{$won-primary-color};
      }
    }
  }

  .wsaa__content {
    display: grid;
    grid-gap: 1rem;
    padding-top: 0.5rem;

    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

    > a.won-atom-header,
    > won-atom-header {
      padding: 0.5rem;
      border: $thinGrayBorder;
      background-color: $won-light-gray;

      &:hover {
        background: $won-lighter-gray;
        cursor: pointer;
      }
    }
  }
}
