@import "won-config";
@import "sizing-utils";

won-socket-add-atom {
  //TODO: Style
  .wsaa__header {
    display: grid;
    grid-template-areas: "icon main";
    grid-template-columns: min-content 1fr;
    padding: 0.5rem;
    grid-gap: 0.5rem;
    align-items: center;
    box-sizing: border-box;
    border-bottom: $thinGrayBorder;

    &__label {
    }

    &__icon {
      @include fixed-square($postIconSize);
      cursor: pointer;

      &:hover {
        --local-primary: #{$won-primary-color};
      }
    }
  }

  .wsaa__content {
    display: grid;
    grid-gap: 1rem;
    padding-top: 0.5rem;

    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

    > .wsaa__content__create,
    > a.won-atom-header,
    > won-atom-header {
      padding: 0.5rem;
      border: $thinGrayBorder;
      background-color: $won-light-gray;

      &:hover {
        background: $won-lighter-gray;
        cursor: pointer;
      }
    }

    .wsaa__content__create {
      display: grid;
      grid-template-areas: "icon main";
      grid-template-columns: min-content 1fr;
      grid-column-gap: 0.5rem;
      min-width: 0;

      &__icon {
        background: $won-primary-color;
        box-sizing: border-box;
        padding: 0.25rem;
        @include fixed-square($postIconSize);

        &__svg {
          --local-primary: #{$won-secondary-text-color};
          height: 100%;
          width: 100%;
        }
      }

      &__right {
        grid-area: main;
        display: grid;
        grid-template-areas: "topline" "subtitle";
        min-width: 0;

        &__topline {
          grid-area: topline;
          min-width: 0;

          &__notitle {
            min-width: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-weight: 400;
            color: $won-subtitle-gray;
          }
        }

        &__subtitle {
          grid-area: subtitle;
          display: grid;
          grid-template-columns: 1fr min-content;
          color: $won-subtitle-gray;
          font-size: $smallFontSize;
          min-width: 0;

          &__type {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      > svg.won-button-icon {
        --local-primary: white;
      }
    }
  }
}
