@import "won-config";
@import "sizing-utils";
@import "animate";

.si {
  border: $thinGrayBorder;
  background: $won-light-gray;

  div.headerElement {
    padding: 0.5rem;

    &.status--sent {
      opacity: 0.25;
    }

    &.status--closed {
      //TODO: Filter grayscale or something
    }

    &.status--suggested,
    &.status--received {
      @include animateOpacityHeartBeat();
    }
  }

  &.won-unread {
    border-color: $won-unread-attention;
    /*box-shadow: 0px 0px 5px 5px var(--won-primary-color);*/
  }
}
