/**
 * abstract flex-direction
 */
%spring-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  & > * {
    order: 1;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
  }
  & > .spring {
    //TODO test class. delete it. inserting elements just for stying should be done via pseude-elements
    content: "";
    min-width: 1px; //keep it from collapsing
    min-height: 1px; //keep it from collapsing
    order: 1;
    flex-grow: 10;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
  }

  & > .spring-before::before {
    content: "";
    background-color: brown;
    display: block;
    min-width: 1em; //keep it from collapsing
    min-height: 1em; //keep it from collapsing
    order: 1;
    flex-grow: 10;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
  }
}

%spring-row {
  @extend %spring-container;
  flex-direction: row;
}
