@import "sizing-utils";

@mixin square-image($size, $margin: 0) {
  > won-square-image {
    display: block;
    user-select: none;
    margin: $margin;
    position: relative;

    &.inactive {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &.won-failed-to-load {
      filter: opacity(30%);
    }

    & .image {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .personaImage {
      border-radius: 100%;
      position: absolute;
    }

    &.bigger {
      & .image {
        @include fixed-square(1.2 * $size);
      }
      & .personaImage {
        @include fixed-square((1.2 * $size)/2);
        right: (1.2 * $size)/7 * -1;
        bottom: (1.2 * $size)/7 * -1;
      }
    }
    &:not(.bigger) {
      .image {
        @include fixed-square($size);
      }
      & .personaImage {
        @include fixed-square($size/2);
        right: $size/7 * -1;
        bottom: $size/7 * -1;
      }
    }
  }
}
