@import "sizing-utils";

@mixin square-image($size, $margin: 0) {
  > won-square-image {
    display: block;
    user-select: none;
    margin: $margin;

    &.inactive {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &.won-failed-to-load {
      filter: opacity(30%);
    }

    & .image {
      display: flex;
      align-items: center;
      justify-content: center;

      &__noimage {
        color: white;
      }
    }

    &.bigger .image {
      @include fixed-square(1.2 * $size);
      &__noimage {
        font-size: 1.2 * $size - 0.5rem;
      }
    }
    &:not(.bigger) .image {
      @include fixed-square($size);
      &__noimage {
        font-size: $size - 0.5rem;
      }
    }
  }
}
