@import "sizing-utils";

@mixin square-image($size, $margin: 0) {
  > won-square-image {
    display: block;
    user-select: none;
    margin: $margin;
    position: relative;
    height: $size;

    &.inactive {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &.won-failed-to-load {
      filter: opacity(30%);
    }

    & .image {
      display: flex;
      align-items: center;
      justify-content: center;
      @include fixed-square($size);
    }

    & .personaImage {
      border-radius: 100%;
      position: absolute;
      @include fixed-square($size/2);
      right: $size/7 * -1;
      bottom: $size/7 * -1;
      z-index: 2;
    }
  }
}
