@import "won-config";
@import "sizing-utils";
@import "fonts";
@import "flex-layout";
@import "square-image";
@import "speech-bubble";

won-suggestion-selection-item {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;

  position: relative; // to allow positioning the contextmenu in relation to this component-root
  padding-top: 0.5rem;
  cursor: pointer;
  border-top: $thinGrayBorder;

  .ssi__icon {
    box-sizing: border-box;
    padding: 0.25rem;
    @include fixed-square($postIconSize);
    &--unreads {
      --local-primary: #{$won-primary-color};
    }
    &--reads {
      --local-primary: #{$won-primary-color-light};
    }
  }
  .ssi__right {
    display: grid;
    grid-template-areas: "topline" "subtitle";
    padding-left: 0.5rem;
    min-width: 0;
    &__topline {
      grid-area: topline;
      min-width: 0;
      &__title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 400;
        min-width: 0;
      }
    }
    &__subtitle {
      grid-area: subtitle;
      color: $won-subtitle-gray;
      font-size: $smallFontSize;
      min-width: 0;
      &__label {
        display: flex;
        align-items: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
