@import "won-config";
@import "textfield";
@import "sizing-utils";

won-suggestpost-picker {
  display: grid;
  grid-gap: 0.5rem;

  .suggestpostp__posts {
    display: grid;
    grid-gap: 0.25rem;

    &__post {
      border: $thinGrayBorder;
      padding: 0.25rem;
      background: white;

      &.won--selected {
        background: $won-line-gray;
      }
    }
  }

  .suggestpostp__noposts {
    font-size: $normalFontSize;
  }

  .suggestpostp__labelledhr {
    .wlh__label {
      .wlh__label__text {
        background: $won-light-gray;
        white-space: nowrap;
      }
    }
  }

  .suggestpostp__input {
    position: relative;
    display: grid;

    .suggestpostp__input__icon {
      @include fixed-square($bigiconSize);
      position: absolute;
      right: 0.5rem;
      top: $formInputHeight / 2 - $bigiconSize / 2;
      z-index: 1;
    }

    .suggestpostp__input__inner {
      @extend .won-txt;
      border: $thinGrayBorder;
      min-height: $formInputHeight;
      min-height: $formInputHeight;
      word-wrap: break-word;

      $verticalPadding: calcVerticalPaddingToHeight(
        $normalFontSize,
        22/16,
        $thinBorderWidth,
        $formInputHeight
      );
      padding: $verticalPadding 0.438rem + $bigiconSize $verticalPadding
        0.438rem;
    }

    .suggestpostp__input__inner::-ms-clear {
      width: 0;
      height: 0;
    }
  }

  .suggestpostp__error {
    font-size: $smallFontSize;
  }
}
