@import "sizing-utils";
@import "won-config";

won-suggestpost-viewer {
  @include won-detail-viewer("suggestpostv");

  .suggestpostv__content {
    display: grid;
    grid-gap: 0.25rem;

    &__post {
      border: $thinGrayBorder;
      padding: 0.25rem;
      background: white;
    }

    &__notloaded {
      font-size: $smallFontSize;
    }

    &__action {
      width: 100%;
      font-size: $smallFontSize;
    }
  }
}
