@import "sizing-utils";
@import "won-config";
@import "detail-viewer-mixin";

won-suggest-atom-viewer {
  @include won-detail-viewer("suggestatomv");

  .suggestatomv__content {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

    > .suggestatomv__content__element {
      .suggestatomv__content__element__post {
        border: $thinGrayBorder;
        background: $won-light-gray;

        &__actions {
          border-top: $thinGrayBorder;
          display: grid;
          grid-auto-flow: column;
          grid-gap: 0.5rem;
          padding: 0.5rem;

          &__button.won-button--outlined.red.thin {
            font-size: $smallFontSize;
            padding: 0.5rem;
          }
        }
      }
      .suggestatomv__content__element__info {
        color: $won-skeleton-color;
        font-size: $smallFontSize;
        padding-top: 0.5rem;
        text-align: center;
      }
    }
  }
}
