@import "won-config";
@import "sizing-utils";
@import "animate";

won-tag-socket-actions {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.25rem;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background: $won-secondary-color;

  > .won-button--filled,
  > .won-button--outlined {
    cursor: pointer;
    padding: 0;
  }
}
