@import "won-config";
@import "textfield";
@import "sizing-utils";

won-tags-picker {
  .react-tagsinput {
    background-color: white;
    box-sizing: border-box;
    border-radius: 0.19rem;
    border: $thinGrayBorder;
    overflow: hidden;
    padding: 0.66rem;
  }

  .react-tagsinput--focused {
    outline-color: $won-secondary-color;
  }

  .react-tagsinput-tag {
    background: $won-primary-color;
    border-radius: 0.5rem;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin-right: 0.25rem;
    word-break: break-word;
    padding: 0.25rem 0.5rem;
  }

  .react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
    color: white;
  }

  .react-tagsinput-tag a::before {
    content: " ×";
  }

  .react-tagsinput-input > input[type="text"] {
    display: inline-block;
    background: transparent;
    border: 0;
    color: black;
    font-size: 16px;
    outline: none;
    padding: 5px;
    width: 80px;
    box-sizing: content-box;
    border-radius: 0;
    &:focus {
      outline-color: none;
    }
  }
}
