/**
 * Any styles purely defining different typographic classes
 */

@import 'won-config';
@import 'fonts';

@mixin default-font {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: $normalFontSize;
  color: black;
}

@mixin fine-print {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: $smallFontSize;

  color: $won-subtitle-gray;
}
