@import "won-config";
@import "textfield";
@import "sizing-utils";

won-title-picker {
  .titlep__input {
    position: relative;
    display: grid;

    .titlep__input__icon {
      --local-primary: #{$won-primary-color};
      @include fixed-square($bigiconSize);
      position: absolute;
      right: 0.5rem;
      top: $formInputHeight / 2 - $bigiconSize / 2;
      z-index: 1;
    }

    .titlep__input__inner {
      @extend .won-txt;
      border: $thinGrayBorder;
      min-height: $formInputHeight;
      min-height: $formInputHeight;
      word-wrap: break-word;

      $verticalPadding: calcVerticalPaddingToHeight(
        $normalFontSize,
        22/16,
        $thinBorderWidth,
        $formInputHeight
      );
      padding: $verticalPadding 0.438rem + $bigiconSize $verticalPadding
        0.438rem;
    }

    .titlep__input__inner::-ms-clear {
      width: 0;
      height: 0;
    }
  }
}
