@import 'won-config';
@import 'underlined-tabs';
@import 'sizing-utils';

@mixin title-bar($prefix) {
  background-color: $won-light-gray;
  border-top: 1px solid $won-line-gray;
  border-bottom: 1px solid $won-line-gray;

  @include max-content-width($maxContentWidth, $minContentPadding, $prefix);

  > .#{$prefix}__inner {
    @include tri-aligned($prefix + '__inner', 1rem);
  }

  .#{$prefix}__icon {
    @include max-square(1.8rem);
  }

  .#{$prefix}__title {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .#{$prefix}__tabs {
    @include underlined-tabs($won-red);
  }
  .#{$prefix}__tabs__selected { @extend %tabs__selected }
  .#{$prefix}__tabs__unread { @extend %tabs__unread }
}
