@import 'won-config';
@import 'underlined-tabs';
@import 'sizing-utils';

@mixin title-bar($prefix) {
  background-color: $won-light-gray;
  border-top: $thinBorderWidth solid $won-line-gray;
  border-bottom: $thinBorderWidth solid $won-line-gray;

  @include max-content-width($maxContentWidth, $minContentPadding, $prefix);

  > .#{$prefix}__inner {
    @include tri-aligned($prefix + '__inner', 1rem);
  }

  .#{$prefix}__icon {
    @media (max-width: $responsivenessBreakPoint){
      @include fixed-height(1rem);
      padding: 0.25rem;
    }
    @media (min-width: $responsivenessBreakPoint){
      @include fixed-height(1.8rem);
      padding: 0.5rem;
    }

    // assuming there's no icons that are wider than tall.
    // this assumption has to be made, to prevent chrome
    // from showing immensly wide svg-snippets (id-selected
    // viewports reaching to the right edge of the svg-sprite)
    max-width: 1.8rem;
    width: auto;
  }

  .#{$prefix}__title {
    font-size: $mediumFontSize;
    padding: 0.1rem;

    @media (max-width: $responsivenessBreakPoint){
      font-size: $normalFontSize;
    }
    font-weight: 300;
  }

  .#{$prefix}__tabs {
    @include underlined-tabs($won-primary-color);
  }
  .#{$prefix}__tabs__selected { @extend %tabs__selected }
  .#{$prefix}__tabs__unread { @extend %tabs__unread }
}
