@import "won-config";
@import "sizing-utils";
@import "won-markdown";

won-topnav {
  .topnav__toasts {
    position: absolute;
    z-index: 9999;
    right: 0rem;

    &__element {
      margin: 1rem;
      padding: 0.5rem;
      border: $thinBorderWidth solid $won-line-gray;
      box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
      min-height: 2rem;

      background-color: white;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start; // = top

      &__icon {
        @include fixed-square($toastIconSize);
      }
      &__text {
        > div {
          @include won-markdown();
        }

        font-size: $smallFontSize;
        margin-right: 1rem;
        margin-left: 1rem;
        max-width: 10rem;
        min-width: 10rem;
      }

      &__close {
        float: right;
        @include fixed-square($toastIconCloseSize);
      }
    }
  }
}
