@import "flex-layout";
@import "button";
@import "positioning-utils";

won-preact.topnav,
won-topnav {
  border-bottom: $thinBorderWidth solid $won-line-gray;
  background: white;

  nav.topnav {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "nav_menuicon nav_logo nav_title nav_loading nav_slideintoggle nav_signup nav_accountmenu";
    grid-template-columns: min-content min-content 1fr min-content min-content min-content min-content;
    margin: 0 auto;
    padding: 0 0.5rem 0 0;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    max-width: $maxContentWidth;

    .topnav__button {
      //used within the dropdown directive
      white-space: nowrap;

      .topnav__button__icon {
        @include fixed-square($bigiconSize);
        --local-primary: #{$won-primary-color};
      }
    }

    .topnav__menuicon {
      grid-area: nav_menuicon;
      --local-primary: #{$won-primary-color};
      height: $bigiconSize;
      width: 0.4rem;
      margin-right: 0.1rem;

      &.topnav__menuicon--hide {
        visibility: hidden;
      }

      &:not(.topnav__menuicon--show) {
        @media (min-width: $responsivenessBreakPoint) {
          visibility: hidden;
        }
      }
    }

    .topnav__logo {
      display: grid;
      grid-area: nav_logo;
      margin-right: 0.5rem;
      position: relative;

      &__image {
        @include fixed-square($bigiconSize);
      }

      &__unreads {
        position: absolute;
        background-color: $won-unread-attention;
        border-radius: 100%;
        opacity: 1;
        @include fixed-square(0.5rem);
        right: 0;
        top: 0;
      }
    }

    > .topnav__slideintoggle {
      grid-area: nav_slideintoggle;
      display: grid;
      grid-auto-flow: column;
      cursor: pointer;
      align-self: center;
      margin-right: 0.5rem;

      > .topnav__slideintoggle__icon {
        @include fixed-square(1.5rem);
        --local-primary: #{$won-secondary-color};
      }
      > .topnav__slideintoggle__carret {
        @include fixed-square(1.5rem);
        --local-primary: #{$won-secondary-color};

        &.topnav__slideintoggle__carret--expanded {
          transform: rotate(-180deg);
          transition: transform linear 0.25s;
        }
        &:not(.topnav__slideintoggle__carret--expanded) {
          transform: rotate(0deg);
          transition: transform linear 0.25s;
        }
      }
    }

    .topnav__title {
      grid-area: nav_title;
      color: $won-primary-color;
      margin-right: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .topnav__app-title {
        white-space: nowrap;
        font-weight: 700;
      }

      .topnav__divider {
        font-weight: 700;
        margin: 0 0.25rem;
        color: $won-primary-color;
      }

      .topnav__page-title {
        color: $won-primary-color;
        font-weight: 700;
        white-space: nowrap;
      }
    }

    .topnav__loading {
      grid-area: nav_loading;
      margin-right: 0.5rem;
    }

    .topnav__signupbtn {
      grid-area: nav_signup;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-right: 0.5rem;
    }

    won-account-menu {
      grid-area: nav_accountmenu;
      .topnav__button__caption {
        margin-right: 0.5rem;
      }
    }
  }
}
