@import "flex-layout";
@import "button";
@import "positioning-utils";

won-topnav {
  border-bottom: $thinBorderWidth solid $won-line-gray;
  background: white;

  nav.topnav--new {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "nav_logo nav_title nav_slideintoggle nav_signup nav_accountmenu";
    grid-template-columns: min-content 1fr min-content min-content min-content;
    margin: 0 auto;
    padding: 0 0.5rem;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    max-width: $maxContentWidth;

    .topnav__button {
      //used within the dropdown directive
      white-space: nowrap;

      .topnav__button__icon {
        @include fixed-square($bigiconSize);
      }
    }

    .topnav__logo {
      grid-area: nav_logo;
      @include fixed-square($bigiconSize);
      margin-right: 0.5rem;
    }

    .topnav__title {
      grid-area: nav_title;
      color: $won-primary-color;
      margin-right: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .topnav__app-title {
        white-space: nowrap;
        font-weight: 700;
      }

      .topnav__divider {
        font-weight: 700;
        margin: 0 0.25rem;
        color: $won-primary-color;
      }

      .topnav__page-title {
        color: $won-primary-color;
        font-weight: 700;
        white-space: nowrap;
      }
    }

    .topnav__slideintoggle {
      grid-area: nav_slideintoggle;
      display: grid;
      grid-auto-flow: column;
      cursor: pointer;
      margin-right: 0.5rem;

      &__icon {
        @include fixed-square(1.5rem);
        --local-primary: #{$won-secondary-color};
      }
      &__carret {
        @include fixed-square(1.5rem);
        --local-primary: #{$won-secondary-color};
      }
    }

    .topnav__signupbtn {
      grid-area: nav_signup;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-right: 0.5rem;
    }

    won-account-menu {
      grid-area: nav_accountmenu;

      .topnav__carret {
        // with svg-included margins
        @include carretSized;
      }
    }
  }
}
