@import "flex-layout";
@import "button";
@import "positioning-utils";

.topnav {
  //TODO split into single-purpose-classes
  @include max-content-width($maxContentWidth, $minContentPadding, "topnav");

  > .topnav__inner {
    //@include tri-aligned('topnav__inner', 1rem);
    @include flex-row-spaced;

    position: relative; //to allow absolute on *__center

    > .topnav__inner__left {
      display: flex;
      align-items: center;

      margin-right: 1rem;
      .topnav__button__icon {
        margin-right: 0.5rem;
      }

      .topnav__inner__left__slideintoggle {
        cursor: pointer;
        &__icon {
          @include fixed-square(1.5rem);
          --local-primary: #{$won-secondary-color};
        }
        &__carret {
          @include fixed-square(1.5rem);
          --local-primary: #{$won-secondary-color};
        }
      }
    }
    > .topnav__inner__center {
      // so the create-atom-speechbubble-triangle centers correctly
      // on the icon (when the caption isn't visible)
      @extend %center--absolute;
    }
    > .topnav__inner__right {
      margin-left: 1rem;
      .topnav__button {
        margin-left: 0.5rem;
        cursor: pointer;
        white-space: nowrap;
      }
    }
  }

  a:not(.topnav__signupbtn),
  a:visited:not(.topnav__signupbtn) {
    color: $won-primary-color;
  }

  & .topnav__carret {
    // with svg-included margins
    @include carretSized;
  }

  .topnav__button,
  .topnav__button__caption {
    white-space: nowrap;
  }

  & .topnav__button {
    @include flex-row;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .topnav__button__icon {
      @include fixed-square($bigiconSize);

      &.logo {
        transform: rotate(180deg);
      }
    }

    &.open {
      color: black;
    }
  }

  & .topnav__list {
    @include flex-row;
    list-style: none;
    align-items: stretch;

    > li {
      @include flex-column;
    }
  }

  .topnav__app-title {
    font-weight: 700;
    margin-right: 0.5rem;
  }
  .topnav__page-title {
    margin-right: 0.5rem;
    color: $won-subtitle-gray;
  }

  .topnav__signupbtn {
    @include won-button--filled(white, $won-primary-color);
    @extend .topnav__button;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
