@import "won-config";
@import "sizing-utils";
@import "animate";

won-travel-action-viewer {
  @include won-detail-viewer("rv");

  .rv__content {
    &__text {
      display: flex;
      align-items: center;

      &__carret {
        @include fixed-square(1rem);
      }
    }
    won-atom-map {
      display: block;
      @include slideWithOpacityAnimation(0.5s, linear, 20rem);

      .atom-map__mapmount {
        width: 100%;
        height: 31rem;

        @media (max-width: $responsivenessBreakPoint) {
          height: 15rem;
        }

        &--loading {
          display: grid;
          justify-content: center;
          align-items: center;

          .won-atom-map__spinner {
            @include fixed-square($postIconSize);
          }
        }
      }
    }
  }
}
