/**
 * Use this when you want to want to align an item centered
 * and at optionally another to the right and/or left.
 */
@mixin tri-aligned($prefix: "tri", $minMargin: 0) {
  display: flex;
  & > .#{$prefix} {
    &__left {
      order: 10;
      margin-right: $minMargin;
    }
    &__center {
      order: 20;
      margin-left: auto;
      margin-right: auto;
    }
    &__right {
      order: 30;
      margin-left: $minMargin;
    }
  }
}
