@import 'won-config';

$verticalPadding: .2rem;
$horizontalPadding: .5rem;
$minHeight: $iconSize + $verticalPadding * 2;

%typeselect {
  cursor: default;
  list-style: none;
  border: $thinBorderWidth solid $won-line-gray;
  background-color: white;
  min-height: $formInputHeight;
  box-sizing: border-box;

  & .ts__option, & .ts__option--selected {
    padding: $verticalPadding $horizontalPadding;
    min-height: $minHeight;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	&:first-of-type { margin-top: 0.5rem; }
	&:last-of-type { margin-bottom: 0.5rem; }
    position: relative; // so the help-boxes can be placed absolutely

    @include flex-row-spaced;

    &:hover, &:focus { background-color: $won-light-gray; }
    &:active { background-color: darken($won-light-gray, 10%) }

    .ts__option__carret {
      @include carretSized;
    }

    .ts__option__help {
      //display: none;

      background-color: $won-helpbox-yellow;

      @extend %vcenter--absolute;
      left: 100%;

      border: $thinBorderWidth solid $won-line-gray;

      width: 20rem;
      padding: 1rem;
      //@include fixed-width(20rem);
      //min-width: 20rem;
    }
  }

  .ts__option--selected .ts__option__help-btn {
    display: none;
  }
}
.typeselect--expanded {
  @extend %typeselect;

  & .ts__option, & .ts__option--selected {

    &:hover, &:focus  {
      .ts__option__help-btn { display: inline-block; }
    }

    .ts__option__help-btn {
      order: 10;

      margin-left: $horizontalPadding;
      @include fixed-height($iconSize);
      // assuming there's no icons that are wider than tall.
      // this assumption has to be made, to prevent chrome
      // from showing immensly wide svg-snippets (id-selected
      // viewports reaching to the right edge of the svg-sprite)
      max-width: $iconSize;
      width: auto;

      display: none;
    }

    .ts__option__carret { display: none }
  }
}

.typeselect--collapsed {
  @extend %typeselect;
  .ts__option:not(.ts__option--selected) {
    display: none;

    .ts__option__help-btn { display: none; }
  }
}
