@import "flex-layout";
@import "sizing-utils";
@import "won-config";

@mixin underlined-tabs($underlineColor) {
  @include flex-row-spaced;
  align-items: stretch;
  list-style: none;

  $verticalPadding: 1rem;
  $horizontalSpace: 1rem;
  $horizontalSpaceMobile: 0.5rem;
  $selectedBorderWidth: 0.25rem;

  %tabs__selected {
    border-bottom: $selectedBorderWidth solid $underlineColor;
  }
  %tabs__unread {
    color: $underlineColor;
  }
  li a {
    color: black;
    text-decoration: none;
    display: block;
    white-space: nowrap;

    &.disabled {
      /*pointer-events: none;*/ /*WE ALLOW A CHANGE TO EVERY POSSIBLE PAGE AND SHOW A DESCRIPTION FOR THE RESPECTIVE VIEWS*/
      color: lightgrey;
    }
  }

  // vertical white-space
  li a {
    padding-bottom: $verticalPadding;
    padding-top: $verticalPadding;
  }
  li%tabs__selected a {
    padding-bottom: $verticalPadding - $selectedBorderWidth;
    padding-top: $verticalPadding;
  }

  // horizontal white-space
  li {
    text-align: center;
    @include flex-bottom-center;
    margin-left: $horizontalSpace;
    margin-right: $horizontalSpace;

    @media (max-width: $responsivenessBreakPoint) {
      margin-left: $horizontalSpaceMobile;
      margin-right: $horizontalSpaceMobile;
    }
  }
  li:first-of-type {
    margin-left: 0;
  }
  li:last-of-type {
    margin-right: 0;
  }
}
