@import "won-config";
@import "animate";
@import "sizing-utils";
@import "textfield";

won-usecase-picker {
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-rows: min-content minmax($minimalGridRows, 1fr);
  grid-row-gap: $gridRowGap;
  box-sizing: border-box;
  padding: $gridRowGap;

  & .clickable {
    transform: translate3d(0, 0, 0);
  }

  .ucp__header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header_title";
    grid-gap: $gridRowGap;
    font-size: $normalFontSize;
    text-align: left;
    min-width: 0;
    align-items: center;

    padding-bottom: 0.5rem;
    border-bottom: $thinGrayBorder;

    &__title {
      grid-area: header_title;
      color: $won-subtitle-gray;
      font-size: $mediumFontSize;
      font-weight: 400;
    }
  }

  .ucp__main {
    grid-area: main;
    display: grid;
    grid-auto-rows: min-content;
    grid-auto-flow: row dense;
    @media (min-width: $responsivenessBreakPoint) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: $responsivenessBreakPoint) {
      grid-template-columns: 1fr 1fr;
    }
    grid-gap: $gridRowGap;

    &__noresults,
    &__labelledhr,
    &__search {
      grid-column: 1/-1;
    }

    &__noresults {
      text-align: center;
      padding: 1rem 0.5rem;
      color: var(--won-disabled-color);
    }

    &__search {
      position: relative;
      display: grid;
    }

    &__newcustom,
    &__searchresult,
    &__usecase-group {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-areas: "ucpi__icon ucpi__label";

      align-items: center;
      padding: 0.5rem;
      border-radius: 0.19rem;
      background: $won-secondary-color;

      &:hover {
        filter: brightness(125%);
      }

      &__icon {
        grid-area: ucpi__icon;
        @include fixed-square($iconSize);
        --local-primary: #{$won-secondary-text-color};
        margin-right: 0.5rem;
      }
      &__label {
        grid-area: ucpi__label;
        color: $won-secondary-text-color;
      }
    }

    &__newcustom {
      grid-column: 2;
    }
  }
}
