@import "won-config";
@import "animate";
@import "sizing-utils";
@import "responsiveness-utils";

won-usecase-picker-content {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 1rem;
  border-top: $thinGrayBorder;
  padding-top: 1rem;
  overflow: auto;

  &__usecasegroup {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 0.5rem;

    &__header {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;
      border-bottom: $thinGrayBorder;
      color: $won-primary-text-color;

      &__icon {
        @include fixed-square($iconSize);
        --local-primary: #{$won-primary-text-color};
      }

      &__label {
        font-size: $mediumFontSize;
        font-weight: bold;
      }
    }

    &__usecases {
      display: grid;
      grid-gap: 0.5rem;
      grid-template-columns: repeat(auto-fill, 10rem);
      grid-auto-rows: min-content;
      grid-auto-flow: row dense;

      &__usecase {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0.5rem;
        border-radius: 0.19rem;
        //width: 10rem;
        background: $won-secondary-color-light;

        &:hover {
          filter: brightness(85%);
        }

        &__icon {
          @include fixed-square($iconSize);
          --local-primary: #{$won-secondary-text-color};
        }
        &__label {
          color: $won-secondary-text-color;
          text-align: center;
        }
      }
    }
  }
}
