@import "won-config";
@import "sizing-utils";

won-usecase-group-content {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 1rem;

  .ucgc__usecasegroup {
    &__header {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;
      border-bottom: $thinGrayBorder;
      color: $won-primary-text-color;

      &__icon {
        @include fixed-square($iconSize);
        --local-primary: #{$won-primary-text-color};
      }

      &__label {
        font-size: $mediumFontSize;
        font-weight: bold;
      }

      &__carret {
        // results in a clickable area as large as indicators
        // TODO: make the value less rigid
        // parents grid-gap takes care of margin-left
        $padding: 0.625rem;
        padding-top: $padding;
        padding-bottom: $padding;
        padding-right: $padding;

        &__icon {
          @include carretSized;
        }
      }
    }
    &__usecases {
      display: grid;
      grid-gap: 0.5rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-flow: row dense;

      &__usecase {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem;
        border-radius: 0.19rem;
        background: $won-secondary-color-light;

        &:hover {
          filter: brightness(85%);
        }

        &__icon {
          @include fixed-square($iconSize);
          --local-primary: #{$won-secondary-text-color};
        }
        &__label {
          color: $won-secondary-text-color;
          text-align: center;
        }
      }
    }
  }
}
