@import "won-config";
@import "animate";
@import "sizing-utils";

won-usecase-picker-content {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr 1fr;
  grid-gap: $gridRowGap;

  .ucpc__createx {
    &.won-pending-publishing {
      grid-column: 1/-1;
      justify-self: center;
    }

    &__button {
      white-space: normal;
    }
  }

  .ucpc__labelledhr {
    grid-column: 1/-1;
  }

  .ucpc__usecasegroups {
    &__group {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 0.5rem;
      border-radius: 0.19rem;
      background: $won-secondary-color-light;
      min-height: $iconSize + $normalFontSize + 0.5rem; // icon + label + 0.5rem padding

      &:hover {
        filter: brightness(85%);
      }

      &__icon {
        @include fixed-square($iconSize);
        --local-primary: #{$won-secondary-text-color};
      }
      &__label {
        color: $won-secondary-text-color;
        text-align: center;
      }
    }
  }
}
