@import "won-config";
@import "sizing-utils";

won-usecase-group {
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-rows: min-content minmax($minimalGridRows, 1fr);
  grid-gap: $gridRowGap;
  width: 100%;
  max-width: $maxContentWidth;
  height: 100%;
  box-sizing: border-box;
  padding: $gridRowGap;

  & .clickable {
    transform: translate3d(0, 0, 0);
  }

  .ucg__header {
    padding-bottom: 0.5rem;
    border-bottom: $thinGrayBorder;

    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "header_icon header_title";
    grid-gap: $gridRowGap;
    font-size: $normalFontSize;
    text-align: left;
    min-width: 0;
    align-items: center;

    &__title {
      grid-area: header_title;
      color: $won-subtitle-gray;
      font-size: $mediumFontSize;
      font-weight: 400;
    }

    &__icon {
      grid-area: header_icon;
      --local-primary: #{$won-subtitle-gray};
      @include fixed-square($postIconSize);
    }
  }

  .ucg__main {
    padding-top: 0.5rem;

    grid-area: main;
    display: grid;
    grid-auto-rows: min-content;
    grid-auto-flow: row dense;
    @media (min-width: $responsivenessBreakPoint) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: $responsivenessBreakPoint) {
      grid-template-columns: 1fr 1fr;
    }
    grid-gap: $gridRowGap;
    overflow: auto;

    &__usecase {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-areas: "ucgi__icon ucgi__label";

      align-items: center;
      padding: 0.5rem;
      border-radius: 0.19rem;
      background: $won-secondary-color;

      &__icon {
        grid-area: ucgi__icon;
        @include fixed-square($iconSize);
        --local-primary: #{$won-secondary-text-color};
        margin-right: 0.5rem;
      }

      &__label {
        grid-area: ucgi__label;
        color: $won-secondary-text-color;
      }

      &:hover {
        filter: brightness(125%);
      }
    }
  }
}
