// contains colors and other global variables


// colors

$won-red: #F04646;
$won-light-gray: #F0F2F4; //used for headings
$won-lighter-gray: #F8F9F9; //used for background
$won-line-gray: #CBD2D1; //use for lines


// sizes

$bigiconSize: 2.25rem;
