@import "won-config";

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: $normalFontSize;
  }

  p {
    white-space: pre-wrap;
  }

  ul,
  ol {
    list-style-position: inside;
  }

  img {
    max-width: 100%;
  }
}
