// contains colors and other global variables

// colors

$won-primary-color: var(--won-primary-color);
$won-primary-color-light: var(--won-primary-color-light);
$won-secondary-color: var(--won-secondary-color);
$won-secondary-color-light: var(--won-secondary-color-light);
$won-secondary-color-lighter: var(--won-secondary-color-lighter);

$won-light-gray: var(--won-light-gray); //used for headings
$won-lighter-gray: var(--won-lighter-gray); //used for background
$won-line-gray: var(--won-line-gray); //use for lines
$won-subtitle-gray: var(--won-subtitle-gray);
$won-helpbox-yellow: var(--won-helpbox-yellow);
$won-dark-purple: var(--won-dark-purple);
$won-dark-gray: var(--won-dark-gray);
$won-unread: var(--won-unread);
$won-unread-attention: var(--won-unread-attention);
$won-disabled-color: var(--won-disabled-color);
$won-skeleton-color: var(--won-skeleton-color);

$won-primary-text-color: var(--won-primary-text-color);
$won-secondary-text-color: var(--won-secondary-text-color);

// sizes
$hugeiconSize: 5rem;
$bigiconSize: 2.25rem;
$iconSize: 1.8rem;
$contentInfoHeaderIconSize: 1.25rem;

$toastIconCloseSize: 1rem;
$toastIconSize: 2rem;
$postIconSize: 2.5rem;
$postIconSizeCollapsed: 1.6rem;
$postIconSizeMobile: 1.5rem;
$feedIconSize: 3rem;
$backIconSize: 2.25rem;

$bigFontSize: 2rem;
$mediumFontSize: 1.5rem;
$normalFontSize: 1rem;
$smallFontSize: 0.75rem;

//$speechBubbleTailSize: 0.625rem;
//$speechBubbleTailSize: 0.75rem;
$speechBubbleTailSize: 0.8rem;
$speechBubbleTailSizeSmall: 0.5rem;

$minimalGridRows: 5rem;
$mobileGridRows: 5rem;

//$formInputHeight: 4.19rem;
//$formInputHeight: 3.69rem;
$formInputHeight: 3.19rem;
$thinBorderWidth: 0.0625rem; /* 1px @ 100% */
$boldBorderWidth: 0.1875rem; /* 3px @ 100% */
$thinGrayBorder: $thinBorderWidth solid $won-line-gray;
$thinPrimaryBorder: $thinBorderWidth solid $won-primary-color;
$thinDarkBorder: $thinBorderWidth solid $won-dark-gray;

$gridRowGap: 0.5rem;
$defaultPadding: 0.5rem;

// should be used as max-width on all root-elements so the app has some
// whitespace to the sides where it can be afforded
$maxContentWidth: 70rem;

// use this to leave a consistent amount of space towards the edge of the viewport
$minContentPadding: 1rem;

$responsivenessBreakPoint: $maxContentWidth / 2;

$responsivenessBreakPointLarge: 45rem;
