@import "won-config";
@import "sizing-utils";
@import "positioning-utils";

won-workflow-picker {
  display: grid;
  grid-gap: 0.5rem;

  .workflowp__preview {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr;
    border: $thinGrayBorder;
    border-radius: 0.19rem;
    background: $won-lighter-gray;
    grid-gap: 0.25rem;
    padding: 0.25rem;
    justify-items: center;

    .workflowp__preview__typeicon {
      grid-row: 2 / span 1;
      grid-column: 1 / span 2;
      height: 5rem;
      max-width: 100%;
      width: 100%;
      --local-primary: #{$won-line-gray};
    }

    .workflowp__preview__label {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      font-size: $smallFontSize;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      white-space: nowrap;
    }

    .workflowp__preview__remove {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;

      --local-primary: #{$won-primary-text-color};
      @include fixed-square(1rem);

      &:hover {
        cursor: pointer;
        --local-primary: #{$won-primary-color};
      }
    }
  }
}
