@import "won-config";
@import "sizing-utils";

won-workflow-viewer {
  @include won-detail-viewer("workflowv");

  .workflowv__content {
    display: grid;
    grid-gap: 0.25rem;

    .workflowv__content__download {
      display: grid;
      grid-template-columns: min-content 1fr;
      border: $thinGrayBorder;
      border-radius: 0.19rem;
      background: $won-lighter-gray;
      grid-gap: 0.25rem;
      padding: 0.25rem;
      justify-items: center;
      align-items: center;

      .workflowv__content__download__label {
        font-size: $smallFontSize;
        color: $won-line-gray;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .workflowv__content__download__typeicon {
        height: 2rem;
        width: 2rem;
        --local-primary: #{$won-line-gray};
      }
    }
  }
}
