/* This CSS serves to patch over some inconsistencies
between bootsketch and the cerulean theme we started
out with. And to help find bootsketch the fonts it
comes with ^^ */

/* bootsketch fix (the alternative is to comment out
the second @font-face declaration for the glyphicons
in bootsketch.css) */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot");
    src: url("../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
    url("../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff") format("woff"),
    url("../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf") format("truetype"),
    url("../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
}
/* bootsketch declares absolut px widths for .container, wtf? */
.container { width: auto }

/* fixes search bar in "home >> I mode" for now: */
.form-inline .form-control { width: 100% }

.modal-dialog { position: static }
