/** Common **/

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

#content {
	background-color: #F5F5F5;
}

.map-canvas {
	width: 100%;
	height: 280px;
}

.btnTag:hover {
	background-color: black;
}

.need-panel-body:hover {
	cursor: pointer;
	background-color: #F1F1F1;
}

.value-panel {
	padding-top: 9px;
}

/** Forms **/

.form-control.ng-dirty.ng-invalid {
	border: 1px solid #B94A48;
}

/** Honme **/

h1#main-heading {
	text-align: center;
	font-size: 4em;
	padding-bottom: 0.3em;
}

#panel-opacity {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.9;
	background: white;
}

#panel-sign-in {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 11%;
}

#panel-register {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 11%;
}

/** Create need **/
.img-upload-box {
	background-color: #CACACA;
	border: 1px solid #CACACA;
	border-radius: 3px;
	text-align: center;
}

.img-upload-box-big {
	width: 100%;
	height: 270px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.img-upload-box-big h4 {
	color: white;
}

.img-upload-box-big .glyphicon-picture {
	margin-top: 80px;
	font-size: 58px;
	color: white
}

.img-upload-box-small {
	height: 81px;
	color: white;
	font-size: 23px;
	cursor: pointer;
	overflow: hidden;
}

.img-upload-box-small .glyphicon-picture{
	padding-top: 24px;
}

.img-upload-box-small.selected {
	border: 1px solid #000;
}
