.testfoo {
  background: peachpuff;
  animation-duration: 3s;
  animation-name: slidein;
  position: absolute;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}