@import "sizing-utils";
@import "text";
@import "flex-layout";
@import "reset";

body {
  //this font will be inherited down the cascade
  @include default-font;

  background-color: $won-lighter-gray;

  @extend %fixed-fill;

  @include flex-column;
  align-items: stretch; //TODO this is bad style! it overwrites flex-col's align-items
  & > .contentArea {
    flex-grow: 1;
  }
}

input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  padding: 0.66rem;
  box-sizing: border-box;
  border-radius: 0.19rem;
  border: $thinGrayBorder;
  font-size: 16px;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.hspinner {
  max-width: 2.25rem;
  max-height: 2.25rem;
  --local-primary: #{$won-primary-color};
  --local-secondary: #{$won-secondary-color};
}

/* FIXED HEADER STYLING */
html,
body,
main {
  height: 100%;
}
body {
  overflow: hidden;
}

section.ng-scope {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 0 auto;
  display: block;
  border-bottom: $thinBorderWidth solid $won-line-gray;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  overflow-y: auto;
  align-items: baseline;
}

hr {
  border: 0;
  height: 1px;
  background: $won-line-gray;
  color: $won-line-gray;
}

a {
  //color: $won-primary-color;
  color: $won-secondary-color-lighter;
  text-decoration: none;
  &:visited {
    //color: darken($won-primary-color, 30%);
    color: $won-secondary-color-light;
  }
}

svg {
  user-select: none;
}

//TODO in topnav, make create-button black when the dialog is open
//TODO the :hover isn't usable on touch displays (require alternate path to get to the help text) - dog-ears + peel-slide?
//TODO enable keyboard selection. add aria-information
