@import "sizing-utils";
@import "text";
@import "flex-layout";
@import "reset";

body {
  --headerHeight: 3.3rem;

  //this font will be inherited down the cascade
  @include default-font;
  background-color: $won-lighter-gray;

  > section.ng-scope {
    display: grid;
    min-height: 100vh;

    @media (max-width: $responsivenessBreakPoint) {
      grid-template-areas:
        "header"
        "info"
        "list"
        "content"
        "footer";
      grid-template-rows: min-content min-content min-content 1fr min-content;
    }

    @media (min-width: $responsivenessBreakPoint) {
      grid-template-areas:
        "header header header header"
        "info info info info"
        ". list content ."
        ". . . ."
        "footer footer footer footer";
      grid-template-rows: min-content min-content max-content 1fr min-content;
      grid-template-columns:
        1fr minmax(min-content, $maxContentWidth/2) minmax(
          min-content,
          $maxContentWidth/2
        )
        1fr;
    }

    > header {
      grid-area: header;
      position: sticky;
      top: 0;
      border-bottom: $thinBorderWidth solid $won-line-gray;
      z-index: 1000;
      box-sizing: border-box;
      height: var(--headerHeight);
    }

    > won-toasts,
    > won-slide-in {
      grid-area: info;
    }

    > aside.overview__left {
      grid-area: list;
      z-index: 2;
    }

    > main.overview__right {
      grid-area: content;

      > * {
        box-sizing: border-box;
        position: sticky;
        top: var(--headerHeight);

        border-right: $thinGrayBorder;
        border-bottom: $thinGrayBorder;
        @media (max-width: $responsivenessBreakPoint) {
          border-right: none;
        }
        background: white;
      }

      > won-group-administration,
      > won-group-post-messages,
      > won-post-messages {
        height: calc(100vh - var(--headerHeight));
      }
    }

    > main.signup,
    > main.about {
      grid-area: list;
      @media (min-width: $responsivenessBreakPoint) {
        grid-column: 1 / -1;
      }
    }

    > main.settings {
      grid-area: list;
      @media (min-width: $responsivenessBreakPoint) {
        grid-column: 2 / 4;
      }
    }

    > won-footer {
      grid-area: footer;
    }
  }
}

input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  padding: 0.66rem;
  box-sizing: border-box;
  border-radius: 0.19rem;
  border: $thinGrayBorder;
  font-size: 16px;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.hspinner {
  max-width: 2.25rem;
  max-height: 2.25rem;
  --local-primary: #{$won-primary-color};
  --local-secondary: #{$won-secondary-color};
}

hr {
  border: 0;
  height: 1px;
  background: $won-line-gray;
  color: $won-line-gray;
}

a {
  //color: $won-primary-color;
  color: $won-secondary-color-lighter;
  text-decoration: none;
  &:visited {
    //color: darken($won-primary-color, 30%);
    color: $won-secondary-color-light;
  }
}

svg {
  user-select: none;
}

//TODO in topnav, make create-button black when the dialog is open
//TODO the :hover isn't usable on touch displays (require alternate path to get to the help text) - dog-ears + peel-slide?
//TODO enable keyboard selection. add aria-information
