//span the following over the whole scss to win specificity battles
//#body-id {


$skinningTestVar: --skinning-test-var;
:root {
  //--skinning-test-var:  rgb(54, 54, 158);
}
// a {
//   background-color: var($skinningTestVar) !important;
// }


@import 'reset';

@import 'won-config';

@import 'fonts';
@import 'flex-layout';
@import 'sizing-utils';
@import 'positioning-utils';
@import 'speech-bubble';
@import 'square-image';
@import 'tri-aligned';
@import 'responsiveness-utils';

@import 'text';

@import 'contextmenu';
// global styling


/*
 * form elements don't inherit the font-family so we
 * need to set it manually here
 */
button, input, textarea {
  font-family: inherit;
  font-weight: inherit;
}

.rdflink__small {
  @include fixed-square($iconSize);
}

.rdflink {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;

  .rdflink__label {
    padding-left: 0.5rem;

    &:hover{
      color: $won-primary-color;
    }
  }
}

body {

  //this font will be inherited down the cascade
  @include default-font;

  background-color: $won-lighter-gray;

  @extend %fixed-fill;

  @include flex-column;
  align-items: stretch; //TODO this is bad style! it overwrites flex-col's align-items
  & > .contentArea { flex-grow: 1; }
}


@import 'topnav';
@import 'login';
@import 'need-tab-bar';
@import 'main-tab-bar';
@import 'create-need';
@import 'visitor-title-bar';
@import 'settings-tab-bar';

@import 'button';

input[type=text],
input[type=password],
input[type=email] {
  display: block;
  padding: 0.66rem;
  box-sizing: border-box;
  border-radius: 0.19rem;
  border: $thinGrayBorder;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.hspinner {
  max-width: 2.25rem;
  max-height: 2.25rem;
}

/* FIXED HEADER STYLING */
html,
body,
main {
  height: 100%;
}
body {
  overflow: hidden;
}

section.ng-scope {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 0 auto;
  display: block;
  border-bottom: $thinBorderWidth solid $won-line-gray;
}

main {
  display: flex !important;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  overflow-y: auto;
  align-items: baseline;
}

hr {
  border: 0;
  height: 1px;
  background: $won-line-gray;
  color: $won-line-gray;
}

a {
  //color: $won-primary-color;
  color: $won-secondary-color-lighter;
  text-decoration: none;
  &:visited {
    //color: darken($won-primary-color, 30%);
    color: $won-secondary-color-light;
  }
}

svg {
  user-select: none;
}

@import 'gallery';
@import 'post-info';
@import 'post-messages';
@import 'post-content';
@import 'create-post';
@import 'create-post-item';

//TODO in topnav, make create-button black when the dialog is open
//TODO the :hover isn't usable on touch displays (require alternate path to get to the help text) - dog-ears + peel-slide?
//TODO enable keyboard selection. add aria-information

@import 'typeselect';

@import 'labelledhr';
@import 'landingpage';
@import 'about';
@import 'signup';
@import 'accordion';
@import 'flexgrid';
@import 'settings';
@import 'connections';
@import 'feedback-grid';
@import 'post-visitor';
@import 'connections-map';
@import 'covering-dropdown';
@import 'tab';
@import 'connection-indicators';
@import 'post-share-link';
@import 'context-dropdown';