//span the following over the whole scss to win specificity battles
//#body-id {

// <style-resetting> ---------------------------------------

body, header, section, nav, div, ul {
  padding: 0;
  margin: 0;
}

// </style-resetting> --------------------------------------



// colors

$won-red: #F04646;
$won-light-gray: #F0F2F4; //used for headings
$won-lighter-gray: #F8F9F9; //used for background
$won-line-gray: #CBD2D1; //use for lines



// fonts



//utils --- TODO: move these to seperate files

%list-nav-horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
  & > li {
    display: inline-block;
  }
}

// global styling

body {
  min-height: 100vh;
  min-width: 100vw;
}

//<wonAppTag> ----------------------------------------------

@import 'fonts';
@import 'flex-layout';
@import 'sizing-utils';
@import 'positioning-utils';

won-app {
  background-color: $won-lighter-gray;

  //display: block;
  //  height: 100%;
  @extend %fill;
  @extend %fixed-fill;
  //@extend %fixed-fullscreen; //works but is hacky imho

  @extend %flex-column;
  align-items: stretch; //TODO this is bad style! it overwrites flex-col's align-items
  & > .contentArea { flex-grow: 1; }
}

.topnav { //TODO split into single-purpose-classes

  @extend %flex-row-spaced;

  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;

  @include fixed-height(6rem); //TODO might be a bit too much
  //text-align: center;
  //overflow: hidden;

  background-color: white;

  & a {
    color: $won-red;
    text-decoration: none;
  }

  & .topnav__page-title {
    font-weight: 700;
  }

  & .topnav__carret {
    /*
    // without svg-included margins
    @include fixed-height(0.5rem);
    @include fixed-width(0.875rem);
    */

    // with svg-included margins
    @include fixed-square(1rem);
  }

  & .topnav__button {
    @extend %flex-row;

    & .bigicon {
      //TODO; generic classes shouldn't be styled in non-bem classes
      margin: 0.75rem;
    }
  }
  //TODO some of the images contain white-space within them (e.g. the help-, plus- and carret-icons)

  & .topnav__left { /* @extend %flex-row; */ }

  & .topnav__list { @extend %flex-row; }
}

.bigicon {
  @include fixed-square(3.6rem);
}

.mainTabs {

  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;

  background-color: $won-light-gray;
  border: 1px solid $won-line-gray;
  @extend %flex-row-spaced;

  & a {
    color: black;
    text-decoration: none;
  }

  & .mainTabs__center {
    display: inline-block;

    & .mainTabs__list {
      @extend %flex-row;

      & > li {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.43rem;
        padding-top: 1.43rem;
      }

      & .mainTabs__list__unread {
        color: $won-red;
      }
    }
  }

  & .mainTabs__right {

    //float: right;

    /* use the springs, luke! */

    //using position:absolute here would require placing a parent-div with position:relative
    //@extend %center-right;
    display: inline-block;


    @extend %flex-row;
    & .mainTabs__right__searchicon {
     @include fixed-square(2rem);
    }
  }
}



//</wonAppTag> ----------------------------------------

