//span the following over the whole scss to win specificity battles
//#body-id {


@import 'fonts';
@import 'flex-layout';
@import 'sizing-utils';
@import 'positioning-utils';
@import 'speech-bubble';

// <style-resetting> ---------------------------------------

body, header, section, nav, div, ul, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

// </style-resetting> --------------------------------------



// colors

$won-red: #F04646;
$won-light-gray: #F0F2F4; //used for headings
$won-lighter-gray: #F8F9F9; //used for background
$won-line-gray: #CBD2D1; //use for lines



// fonts



//utils --- TODO: move these to seperate files

%list-nav-horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
  & > li {
    display: inline-block;
  }
}

// global styling

/*
html {
  overflow-x: scroll;
  overflow-y: scroll;
}*/
html, body {
  //TODO make sure the body covers everything perfectly but doesn't cause external scrollbars.
  //min-height: 100vh; //doesn't ignore scrollbars in chrome
  //min-height: 100%;
  //min-width: 100vw; //doesn't ignore scrollbars in chrome
  //min-width: 100%;
  //@include fixed-square(99.9%); //dirty
  //@include fixed-height(100vh);

  //position: absolute; top: 01px; bottom: 01px; right: 01px; left: 01px;
}

//<wonAppTag> ----------------------------------------------

won-app {
  font-family: 'Open Sans';
  font-weight: 400;

  background-color: $won-lighter-gray;

  //display: block;
  //  height: 100%;
  @extend %fill;
  @extend %fixed-fill;
  //@extend %fixed-fullscreen; //works but is hacky imho

  @extend %flex-aligned;
  align-items: stretch; //TODO this is bad style! it overwrites flex-col's align-items
  & > .contentArea { flex-grow: 1; }
}

.topnav { //TODO split into single-purpose-classes

  @extend %flex-row-spaced;

  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;

  //@include fixed-height(6rem); //TODO might be a bit too much

  background-color: white;

  & a {
    color: $won-red;
    text-decoration: none;
  }

  & .topnav__page-title {
    font-weight: 700;
  }

  & .topnav__carret {
    /*
    // without svg-included margins
    @include fixed-height(0.5rem);
    @include fixed-width(0.875rem);
    */

    // with svg-included margins
    @include fixed-square(1rem);
  }

  & .topnav__button {
    @extend %flex-row;

    & .bigicon {
      //TODO; generic classes shouldn't be styled in non-bem classes
      margin: 0.75rem;
    }
  }
  //TODO some of the images contain white-space within them (e.g. the help-, plus- and carret-icons)

  & .topnav__left { /* @extend %flex-row; */ }

  & .topnav__list { @extend %flex-row; }
}

.bigicon {
  //@include fixed-square(3.6rem);
  @include fixed-square(2.25rem);

}

%tri-center{color: red !important;}

//TODO extending cascaded classes like this leads to quadratic growth of selectors
// unless the extending happens also in the style of & > .myfoo { @extends %foo }
%tri-aligned {
  display:flex;

  & > %tri__left {
    order: 10;
    //margin-right: auto;
  }
  & > %tri__center {
    order: 20;
    margin-left: auto;
    margin-right: auto;
  }
  & > %tri__right {
    order: 30;
    //margin-left: auto;
  }

}

.won-tabs {
    //@extend %flex-row;
    @extend %flex-row;
    align-items: stretch;

    $selectedBorderWidth: 0.25rem;
    & .selectedTab {
      border-bottom: $selectedBorderWidth solid $won-red;
    }

    & li {
      /* TODO use max-width and flex-space-in-between instead? This
       * collapses the padding on smaller viewports automatically. But
       * then again, this would make an assumption about the number
       * of contained tabs, which is bad.
       */

      $verticalPadding: 1rem;
      $horizontalSpace: 3.0rem;
      //$horizontalSpace: 0.5rem;

      margin-left: $horizontalSpace;
      margin-right: $horizontalSpace;
      padding-bottom: $verticalPadding - $selectedBorderWidth;
      padding-top: $verticalPadding;

      & a {
        color: black;
        text-decoration: none;
      }
    }

    & .mtb__unread {
      color: $won-red;
    }
  }


.need-tab-bar {
  background-color: $won-light-gray;
  border-top: 1px solid $won-line-gray;
  border-bottom: 1px solid $won-line-gray;

  @extend %tri-aligned;
  & > .ntb__left { @extend %tri__left; }
  & > .ntb__center { @extend %tri__center; }
  & > .ntb__right { @extend %tri__right; }

  & > .ntb__left {
    @extend %flex-row;

    & .ntb__left__backarrow {
      //@include fixed-square(2rem);
      @include fixed-height(1.7rem);
      //transform: rotate(90deg);
    }

    & .ntb__left__image {
      //@include fixed-height(6.18rem); //99px / 16
      @include fixed-height(4.7rem); //99px / 21

      margin-left: 1rem;
      margin-right: 1rem;

    }
    & .ntb__left__titles {
      @extend %flex-column;
      align-items: flex-start;

      & .ntb__left__titles__title {
        font-weight: 300;
      }

      & .ntb__left__titles__type {
        color: #A7A7A7;
        font-size: 0.8rem;
      }
    }
  }

  & > .ntb__right {
    @extend %flex-column;
    align-items: flex-end;


    & .ntb__right__settingscontainer {
      flex-grow: 1;
      position: relative;

      & .ntb__right__settings {
        @include fixed-height(1.7rem);
        margin-top: 1rem;
        margin-right: 1rem;
        //@extend %bottom-center;
      }
    }

    & .ntb__right__tabbarcontainer {
      //flex-grow: 1;

      & .won-tabs {
        height: 100%;
      }
    }
  }
}

.main-tab-bar {
  background-color: $won-light-gray;
  border-top: 1px solid $won-line-gray;
  border-bottom: 1px solid $won-line-gray;

  @extend %tri-aligned;
  & > .mtb__left { @extend %tri__left; }
  & > .mtb__center { @extend %tri__center; }
  & > .mtb__right { @extend %tri__right; }


  & .mtb__searchbtn {
    display: block;
    height: 100%;
    position: relative; // to allow position:absolute for the icon

    & > .mtb__searchbtn__icon {
      position: absolute;
      transform: translateX(-100%) translateY(-50%);
      top: 50%;
      @include fixed-height(1.7rem);
    }
  }
}

%speech-bubble-top--gray-center {
  @include speech-bubble-top($won-light-gray, $won-line-gray, 16px, 50%);
}

.create-need-title {
  background-color: $won-light-gray;
  border-top: 1px solid $won-line-gray;
  border-bottom: 1px solid $won-line-gray;

  @extend %tri-aligned;
  & > .cnt__left { @extend %tri__left; }
  & > .cnt__center { @extend %tri__center; }
  & > .cnt__right { @extend %tri__right; }

  & > .cnt__left {
    position: relative;

    & .cnt__left__close {
      //@include fixed-height(1.7rem);
      @include fixed-height(2rem);
      @extend %vcenter;
    }
  }

  & > .cnt__center {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.5rem auto;
  }

  @extend %speech-bubble-top--gray-center;
  &:before, &:after {
    order: 100;
    flex-base: 0;
  }
}

.speechbubbletest {
  @extend %speech-bubble-top--gray-center;
  padding: 1rem;
}


//</wonAppTag> ----------------------------------------

