:root {
  --won-primary-color: #f04646;
  --won-primary-color-light: #f09f9f;
  --won-secondary-color: #00325a;
  --won-secondary-color-light: #2266b4;
  --won-secondary-color-lighter: #468cdc;
  --won-disabled-color: #ccd2d2;

  --won-light-gray: #f0f2f4; /*used for headings*/
  --won-lighter-gray: #f8f9f9; /*used for background*/
  --won-line-gray: #cbd2d1; /*use for lines*/
  --won-subtitle-gray: #808080;
  --won-helpbox-yellow: #fffce5;
  --won-unread: #dcf1ff;
  --won-dark-purple: #673a68;
  --won-dark-gray: #303a43;
  --won-primary-text-color: #000000;
  --won-secondary-text-color: #ffffff;
  --won-skeleton-color: #ccd2d2;
}
