
        <a href="" class="dropdown-toggle" ng-click="clickOnNotification(eventType)" data-toggle="dropdown">
            <i ng-class="data.buttonImageClass" ></i>&nbsp;{{getCount()}}
        </a>
        <ul class="dropdown-menu" style="width: 280px;">
            <li class="text-center grey-item">{{getCount()}}&nbsp;new
                <ng-bind>{{data.typeText}}</ng-bind></li>
            <li ng-repeat="entry in unreadEventsByNeedByType" ng-show="showPublic()">
                <notif-link>
                </notif-link>

            </li>
            <li><a href="#/postbox" class="text-center grey-item">See all&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
            </li>
        </ul>



