
    <a href="" class="dropdown-toggle" ng-click="clickOnNotification('hint')" data-toggle="dropdown">
        <i class="fa fa-puzzle-piece fa-lg"></i>&nbsp;{{getHintCount()}}
    </a>
    <ul class="dropdown-menu" style="width: 280px;">
        <li class="text-center grey-item">{{unreadEventsByTypeByNeed.hint.count}}&nbsp;new
            matches</li>
        <li
                ng-repeat="entry in unreadEventsByNeedByType"
                ng-show="entry.hint && entry.hint.count > 0">
            <a ng-click="openNeedDetailView(entry.need.uri)"><img
                    src="{{getTypePicURI(entry.need.basicNeedType)}}"/>&nbsp;{{entry.need.title}}&nbsp;<span
                    class="badge pull-right">{{entry.hint.count}}</span></a>
        </li>
        <li><a href="#/postbox" class="text-center grey-item">See all&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
        </li>
    </ul>

