Need Information:
#if($remoteNeedTitle)
>Title:
>$remoteNeedTitle
>
#end
#if($remoteNeedDescription)
>Description:
>$remoteNeedDescription
>
#end
#if($remoteNeedTags)
>Tags:
#foreach($remoteNeedTag in $remoteNeedTags)
>$remoteNeedTag
#end
>
#end
#if($remoteNeedUri)
>NeedURI:
>$remoteNeedUri
#end