<!-- TODO parametrize by selected tab -->
<header>
    <won-topnav></won-topnav>
    <won-owner-title-bar selection="self.selection">
    </won-owner-title-bar>
</header>
<main class="ownerpostcontent">


    <!-- Post info view when there's no connection-state/-type selected -->
    <div class="post-info" ng-show="!self.connectionType">
        <won-gallery class="post-info__inner__left"></won-gallery>

        <div class="post-info__inner__right">
            <h2 class="post-info__heading" ng-show="self.post.get('friendlyTimestamp')">
                Created
            </h2>
            <p class="post-info__details" ng-show="self.post.get('friendlyTimestamp')">
                {{ self.post.get('friendlyTimestamp') }}
            </p>

            <h2 class="post-info__heading"
                ng-show="self.post.get('description')">
                Description
            </h2>
            <p class="post-info__details"
                ng-show="self.post.get('description')">
                {{ self.post.get('description') }}
            </p>
            <h2 class="post-info__heading"
                ng-show="self.post.get('location')">
                Location
            </h2>
            <p class="post-info__details"
                ng-show="self.post.get('location')">
                {{ self.post.get('location') }}
            </p>
        </div>
    </div>



    <!-- left column for connection-typed tabs -->
    <won-connection-selection
            class="owner__messages"
            ng-show="!!self.connectionType"
            connection-type="self.connectionType"
            selected-connection="::self.openConnection(connectionUri)"
            >
    </won-connection-selection>
    <!-- /left column -->

    <!-- right column -->
    <!-- Conversations: -->
    <div class="post-messages" ng-show="self.showConversationDetails">
        <div class="post-messages__inner">
            <won-post-messages></won-post-messages>
        </div>
    </div>

    <!-- Incoming Requests: -->
    <div class="post-messages" ng-show="self.showIncomingRequestDetails">
        <won-open-request></won-open-request>
    </div>

    <!-- Sent Requests: -->
    <div class="post-messages" ng-show="self.showSentRequestDetails">
        <won-open-request></won-open-request>
    </div>

    <!-- Matches: -->
    <div class="post-messages" ng-show="self.showMatchDetails">
        <div class="post-messages__inner">
            Can't handle matches here yet.
        </div>
    </div>
    <!-- /right column -->
</main>
