<header>
    <won-create-need-title-bar></won-create-need-title-bar>
</header>
<main class="create-post">
    <div class="create-post__inner">
        <ul>
            <li>I want to have something</li>
            <li>I offer something</li>
            <li>I want to do something together</li>
            <li>I want to change something</li>
        </ul>

        <img src="generated/icon-sprite.svg#illu_drag_here" class="topnav__button__icon">

        <input type="text" placeholder="What"/>
    </div>
</main>
