<div style="padding-top: 40px;padding-bottom: 8em;">
	<h1 id="main-heading">The Web Of Needs</h1>

	<div class="row">
		<div class="col-md-5" style="margin-left: 12%">

		</div>
		<div class="col-md-4" style="font-size: 1.4em;">
			<strong>Welcome on WON website!</strong><br />Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
			                                             laudantium,
			totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
			voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
		</div>
	</div>
	<div class="container text-center" style="margin-top: 4em;">
		<button type="button" ng-click="goToAllNeeds()" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-globe"></span>&nbsp;Explore
			The	Web	Of
			Needs</button>
	</div>
	<div class="container text-center"><h3>OR</h3></div>
	<div class="container text-center">
		<button type="button" ng-click="goToNewNeed()" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span>&nbsp;Post a
			need on your own</button>
	</div>
</div>
<div id="panel-opacity" ng-show="forms.signin || forms.register">
</div>
<div id="panel-sign-in"  ng-controller="SignInCtrl" ng-show="forms.signin">
	<form class="form-horizontal container" novalidate name="signInForm" ng-submit="onClickSignIn()">
		<div class="col-md-5 col-md-offset-4">
			<div class="well">
				<fieldset>
					<legend>Please sign in to Web Of Needs</legend>
					<div class="alert alert-danger" ng-show="error.length > 0">
						{{ error }}
					</div>
					<div class="form-group">
						<label for="signUsername" class="col-md-offset-1 col-md-3 control-label">Username</label>

						<div class="col-md-7">
							<input type="text" class="form-control" name="signUsername" id="signUsername" ng-model="user.username"
							       placeholder="Username" required>
						</div>
					</div>
					<div class="form-group">
						<label for="signPassword" class="col-md-offset-1 col-md-3 control-label">Password</label>

						<div class="col-md-7">
							<input type="password" class="form-control" name="signPassword" id="signPassword" ng-model="user.password"
							       placeholder="Password" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4"></div>
						<div class="col-md-7">
							<button ng-disabled="signInForm.$invalid" type="submit" class="btn btn-primary">Sign in</button>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</form>
</div>
<div id="panel-register" ng-controller="RegisterCtrl" ng-show="forms.register">
	<form class="form-horizontal container" novalidate name="registerForm" ng-submit="onClickRegister()">
		<div class="col-md-5 col-md-offset-4">
			<div class="well">
				<fieldset>
					<legend>Create account</legend>
					<div class="alert alert-danger" ng-show="error.length > 0">
						{{ error }}
					</div>
					<div class="alert alert-success" ng-show="success.length > 0">
						{{ success }}
					</div>
					<div class="form-group">
						<label for="registerUsername" class="col-md-offset-1 col-md-3 control-label">Username</label>

						<div class="col-md-7">
							<input type="text" class="form-control" name="registerUsername" id="registerUsername" ng-model="registerUser.username"
							       placeholder="Username"
							       required>
						</div>
					</div>
					<div class="form-group">
						<label for="registerPassword" class="col-md-offset-1 col-md-3 control-label">Password</label>

						<div class="col-md-7">
							<input type="password" class="form-control" name="registerPassword" id="registerPassword"
							       ng-model="registerUser.password"
							       placeholder="Password" required>
						</div>
					</div>
					<div class="form-group">
						<label for="registerPasswordAgain" class="col-md-offset-1 col-md-3 control-label">Confirm password</label>

						<div class="col-md-7">
							<input type="password" class="form-control" name="registerPasswordAgain" id="registerPasswordAgain"
							       ng-model="registerUser.passwordAgain"
							       placeholder="Password" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4"></div>
						<div class="col-md-7">
							<button ng-disabled="registerForm.$invalid" type="submit" class="btn btn-primary">Create account</button>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</form>
</div>




