<header>
    <won-topnav></won-topnav>
</header>
<main class="settings">
    <won-settings-wrapper></won-settings-wrapper>
</main>
<footer>
    <div class="footer__title">
        <img src="skin/{{self.themeName}}/images/logo.svg" class="footer__title__logo">
        <div class="footer__title__appTitle">
            {{ self.appTitle }}
        </div>
        <div class="footer__title__tagLine">Web Of Needs</div>
    </div>
    <div class="footer__links">
        <a class="footer__links__link" href="{{ self.absHRef(self.$state, 'about', {'aboutSection': undefined}) }}">About</a>
        <span class="footer__links__divider">|</span>
        <a class="footer__links__link" href="{{ self.absHRef(self.$state, 'about', {'aboutSection': 'aboutPrivacyPolicy'}) }}">Privacy</a>
        <span class="footer__links__divider">|</span>
        <a class="footer__links__link" href="{{ self.absHRef(self.$state, 'about', {'aboutSection': 'aboutFaq'}) }}">FAQ</a>
    </div>
</footer>