<!-- TODO parametrize by selected tab -->
<header>
    <won-visitor-title-bar></won-visitor-title-bar>
</header>
<main class="post-info">
    <div class="won-gallery">
        <div class="won-gallery__selected">
            <img src="images/furniture_big.jpg" alt="a red couch"/>
        </div>
        <div class="won-gallery__thumbs">
            <div class="won-gallery__thumbs__frame">
                <img src="images/furniture2.png" alt="a combination of shelfs"/>
            </div>
            <div class="won-gallery__thumbs__frame">
                <img src="images/furniture4.png" alt="a white, modern chair"/>
            </div>
            <div class="won-gallery__thumbs__frame">
                <img src="images/furniture1.png" alt="a white, modern chair"/>
            </div>
            <div class="won-gallery__thumbs__frame">
                <img src="images/furniture3.png" alt="a white, modern chair"/>
            </div>
        </div>
        <div class="won-gallery__controls">
            <img src="generated/icon-sprite.svg#ico36_backarrow" class="won-gallery__back">
            <img src="generated/icon-sprite.svg#ico36_backarrow" class="won-gallery__forward">
        </div>
    </div>

    <won-framed-image></won-framed-image>

    <h2>Needed</h2>
    <p>From Today on</p>

    <h2>Description</h2>
    <p>Tatquunt, cum aute ni ut dolluptia is remquam ut ut laut liatque
        esequam autecatet quat odi aut labore a que culparu nduciet
        quam aut velent exerfer chicil exeri autatem peritem eat ut
        everum aliquis excepro eos doluptatis alicturem nonsedic
        totatist ad ex et aliciatibus cusci ommo blandit, et labo. Ut aut
        mint quam ipis et optinve liquam nest ma cor rero dolores
        esequaspiet recusandendi nus evelectios pediae dolenie
        turitec aepedioribus velessequi debis arum, serro blanda nim
        facessumquo voluptam, qui dolumquosant.</p>

    <h2>Location</h2>
    <p>Vendiger A6, Umkreis 20 km</p>
</main>
