<!-- TODO parametrize by selected tab -->
<header>
    <won-topnav></won-topnav>
    <won-visitor-title-bar selection="this['post-visitor'].selection" item="this['post-visitor'].post"></won-visitor-title-bar>
</header>
<main class="post-info" ng-show="this['post-visitor'].selection == 1">
    <div class="post-info__inner">
        <won-gallery class="post-info__inner__left"></won-gallery>

        <div class="post-info__inner__right">
            <h2 class="post-info__heading">Needed</h2>
            <p class="post-info__details">{{this['post-visitor'].post.creationDate}}</p>

            <h2 class="post-info__heading">Description</h2>
            <p class="post-info__details">{{this['post-visitor'].post.description}}</p>
            <h2 class="post-info__heading">Location</h2>
            <p class="post-info__details">{{this['post-visitor'].post.location}}</p>
        </div>
    </div>
</main>
<main class="post-messages" ng-show="this['post-visitor'].selection == 0">
    <div class="post-messages__inner">
        <won-post-messages item="this['post-visitor'].post"></won-post-messages>
    </div>
</main>
