<!-- TODO parametrize by selected tab -->
<header>
    <won-visitor-title-bar></won-visitor-title-bar>
</header>
<main class="post-info">
    <div class="post-info__inner">
        <!-- TODO: make gallery into custom directive -->
        <won-gallery class="post-info__inner__left"></won-gallery>

        <div class="post-info__inner__right">
            <h2 class="post-info__heading">Needed</h2>
            <p class="post-info__details">From Today on</p>

            <h2 class="post-info__heading">Description</h2>
            <p class="post-info__details">Tatquunt, cum aute ni ut dolluptia is remquam ut ut laut liatque
                esequam autecatet quat odi aut labore a que culparu nduciet
                quam aut velent exerfer chicil exeri autatem peritem eat ut
                everum aliquis excepro eos doluptatis alicturem nonsedic
                totatist ad ex et aliciatibus cusci ommo blandit, et labo. Ut aut
                mint quam ipis et optinve liquam nest ma cor rero dolores
                esequaspiet recusandendi nus evelectios pediae dolenie
                turitec aepedioribus velessequi debis arum, serro blanda nim
                facessumquo voluptam, qui dolumquosant.</p>

            <h2 class="post-info__heading">Location</h2>
            <p class="post-info__details">Vendiger A6, Umkreis 20 km</p>
        </div>
    </div>
</main>
