:root {
  --won-primary-color: #006da6;
  --won-primary-color-light: #73afce;
  --won-secondary-color: #4b4c7a;
  --won-secondary-color-light: #5b5c86;
  --won-secondary-color-lighter: #6b6c92;
  --won-disabled-color: #d3d2d1;

  --won-light-gray: #f0f2f4; /*used for headings*/
  --won-lighter-gray: #f8f9f9; /*used for background*/
  --won-line-gray: #cbd2d1; /*use for lines*/
  --won-subtitle-gray: #808080;
  --won-helpbox-yellow: #fffce5;
  --won-unread: #dcf1ff;

  --won-unread: #ccdff5; /*If you want to indicate the unread status with a background (maybe in addition to a marker), use this slightly less in your face color*/
  --won-unread-attention: #006da6; /*Bold color used for markers that indicate an unread status of an element*/

  --won-dark-purple: #673a68;
  --won-dark-gray: #303a43;
  --won-primary-text-color: #000000;
  --won-secondary-text-color: #ffffff;
  --won-skeleton-color: #ccd2d2;
}
