<header>
    <won-topnav></won-topnav>
</header>
<main class="landingpage" id="allSections">
    <a class="curtain" ng-show="self.focusSignup" ng-click="self.router__stateGoCurrent({focusSignup: false})"></a>

    <won-create-post></won-create-post>

    <div style="
        align-items: flex-end;
        align-self: center;
        display: flex;
        max-width: 35rem;
        flex-direction: column;
        font-size: 0.8rem;
        color: #a9a7a7;
        border-top: 1px solid #b3b3b3;
        padding-top: 1rem;
    ">
        <a ng-click="self.router__stateGoAbs('about', {})" class="clickable">What is this page? &gt;</a>
    </div>


</main>
