<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="welcome">
        <div class="title">Welcome to the web of needs</div>
        <div class="flexgrid">
            <div class="flexgrid__item">
                <img class="welcome__face" src="images/face1.png"/>
                <span class="welcome__text">"I have something to offer"</span>
            </div>
            <div class="flexgrid__item">
                <img class="welcome__face" src="images/face2.png"/>
                <span class="welcome__text">"I want to have something"</span>
            </div>
            <div class="flexgrid__item">
                <img class="welcome__face" src="images/face3.png"/>
                <span class="welcome__text">"I want to do something together"</span>
            </div>
            <div class="flexgrid__item">
                <img class="welcome__face" src="images/face4.png"/>
                <span class="welcome__text">"I want to change something"</span>
            </div>
        </div>
        <div class="welcome__description">
            <span class="welcome__description__title">What is a &laquo;need&raquo;?</span>
            <span class="welcome__description__text">Short definition something together ut alitati busdam dipsunt pratem ipient rese expliquos et min rest re doluptatium hictotate vento eumquod.</span>
            <span class="welcome__description__more">Read more</span>
        </div>
    </div>
    <div class="howto">
        <div class="title">How it works</div>
        <div class="flexgrid">
            <div class="flexgrid__item">
                <img class="welcome__face" src="generated/icon-sprite.svg#ico36_description_circle"/>
                <span class="welcome__text">Post your need anonymously</span>
                <div class="additionalblock">
                    <img class="arrow" src="generated/icon-sprite.svg#ico16_arrow_down"/>
                    <span class="additionaltext">Some additional description here if necessary Nam sequatem nobitaquae molorat uritionRo magnatur, vollestis eiciuntis dunt vent aut isci consed minihillest, con eius. Git quiatur, odit landae pa si</span>
                </div>
            </div>
            <div class="flexgrid__item">
                <img class="welcome__face" src="generated/icon-sprite.svg#ico36_match"/>
                <span class="welcome__text">Your need is automatically matched with other users' needs</span>
                <div class="additionalblock">
                    <img class="arrow" src="generated/icon-sprite.svg#ico16_arrow_down"/>
                    <span class="additionaltext">Some additional description here if necessary Nam sequatem nobitaquae molorat uritionRo magnatur, vollestis eiciuntis dunt vent aut isci consed minihillest, con eius. Git quiatur, odit landae pa si</span>
                </div>
            </div>
            <div class="flexgrid__item">
                <img class="welcome__face" src="generated/icon-sprite.svg#ico36_incoming"/>
                <span class="welcome__text">Request Contact or get other users' contact requests</span>
                <div class="additionalblock">
                    <img class="arrow" src="generated/icon-sprite.svg#ico16_arrow_down"/>
                    <span class="additionaltext">Some additional description here if necessary Nam sequatem nobitaquae molorat uritionRo magnatur, vollestis eiciuntis dunt vent aut isci consed minihillest, con eius. Git quiatur, odit landae pa si</span>
                </div>
            </div>
            <div class="flexgrid__item">
                <img class="welcome__face" src="generated/icon-sprite.svg#ico36_message"/>
                <span class="welcome__text">Interact and exchange</span>
                <div class="additionalblock">
                    <img class="arrow" src="generated/icon-sprite.svg#ico16_arrow_down"/>
                    <span class="additionaltext">Some additional description here if necessary Nam sequatem nobitaquae molorat uritionRo magnatur, vollestis eiciuntis dunt vent aut isci consed minihillest, con eius. Git quiatur, odit landae pa si</span>
                </div>
            </div>
        </div>
    </div>
    <div class="faq">
        <div class="title">FAQs</div>
    </div>
    <div class="try">
        <div class="title">Try it yourself!</div>
    </div>
</body>
</html>