<component name="libraryTable">
  <library name="spring-integration-2.1.3" type="spring-integration">
    <properties version="2.1.3" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-amqp-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-core-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-event-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-feed-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-file-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-ftp-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-gemfire-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-groovy-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-http-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-ip-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-jdbc-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-jms-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-jmx-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-mail-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-mongodb-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-redis-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-rmi-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-scripting-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-security-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-sftp-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-stream-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-test-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-twitter-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-ws-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-xml-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-xmpp-2.1.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>