<div>
	<h2 class="col-lg-10">Create need</h2>
	<div class="col-lg-2" style="text-align:right;margin-top:15px;">
		<button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
		<button type="button" class="btn btn-success" ng-click="save()">Save</button>
	</div>
	<div class="col-lg-5">
		<div won-gallery></div>
		<div class="row">
			<div class="col-lg-12">
				<div class="well">
					<fieldset>
						<legend>Tags</legend>
						<div class="form-group">
							<div class="col-lg-12">
								<span style="margin-right:5px;cursor:pointer;" class="label label-primary btnTag"
								      ng-click="removeTag('{{tagName}}')"
								      ng-repeat="tagName in need.tags">{{tagName}}&nbsp;&nbsp;|&nbsp;x
								</span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-5">
								<input type="text" class="form-control" id="inputTagName" placeholder="tag name">
							</div>
							<div class="col-lg-3">
								<button type="button" class="btn btn-primary" id="bttAddTag" ng-click="addTag()">Add tag</button>
							</div>

						</div>

					</fieldset>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-7">
		<form class="form-horizontal">
			<div class="well">
				<fieldset>
					<div class="form-group">
						<label for="inputName" class="col-lg-2 control-label">Title</label>

						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputName" ng-model="need.title" placeholder="Title" />
						</div>
					</div>
					<div class="form-group">
						<label for="textarea-description" class="col-lg-2 control-label" >Description</label>

						<div class="col-lg-10">
							<textarea class="form-control" rows="3" id="textarea-description" ng-model="need.textDescription"></textarea>
						</div>
						<!--span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span-->
					</div>
					<!--div class="form-group">
						<label class="col-lg-2 control-label">Active</label>

						<div class="col-lg-10">
							<div class="btn-group">
								<button type="button" class="btn btn-primary ng-valid ng-dirty active" ng-model="need.state" btn-radio="'ACTIVE'">On
								</button>
								<button type="button" class="btn btn-primary ng-valid ng-dirty" ng-model="need.state" btn-radio="'INACTIVE'">Off
								</button>
							</div>
						</div>
					</div-->
					<div class="form-group">
						<label class="col-lg-2 control-label">Type</label>

						<div class="col-lg-10">
							<div class="btn-group">
								<button type="button" class="btn btn-primary ng-valid ng-dirty active" ng-model="need.basicNeedType" btn-radio="'DEMAND'">Demand
								</button>
								<button type="button" class="btn btn-primary ng-valid ng-dirty" ng-model="need.basicNeedType" btn-radio="'SUPPLY'">Supply
								</button>
								<button type="button" class="btn btn-primary ng-valid ng-dirty" ng-model="need.basicNeedType" btn-radio="'DO_TOGETHER'">Do
									together
								</button>
								<button type="button" class="btn btn-primary ng-valid ng-dirty" ng-model="need.basicNeedType" btn-radio="'CRITIQUE'">Critique</button>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="well">
				<fieldset>

					<div class="form-group">
						<label class="col-lg-2 control-label">From</label>

						<div class="col-lg-4">
							<input type="text" class="form-control" id="inputFromDate" ng-model="need.startTime" placeholder="from">
							<div class="row" style="padding-top: 1em">
								<div class="col-xs-4" style="padding-right:0">
									<input ng-model="need.startTimeHour" type="text" class="form-control"/>
								</div>
								<div class="col-xs-2">
									<p class="form-control-static">:</p>
								</div>
								<div class="col-xs-4" style="padding-left:0">
									<input ng-model="need.startTimeMinute" type="text" class="form-control"/>
								</div>

							</div>
						</div>
						<div class="col-lg-1"><label class="control-label">to</label></div>
						<div class="col-lg-4">
							<input type="text" class="form-control" id="inputToDate" ng-model="need.endTime" placeholder="to">
							<div class="row" style="padding-top: 1em">
								<div class="col-xs-4" style="padding-right:0">
									<input ng-model="need.endTimeHour" type="text" class="form-control" maxlength="2"/>
								</div>
								<div class="col-xs-2">
									<p class="form-control-static">:</p>
								</div>
								<div class="col-xs-4" style="padding-left:0">
									<input ng-model="need.endTimeMinute" type="text" class="form-control"/>
								</div>

							</div>
						</div>

						<label class="col-lg-2 control-label">All day</label>

						<div class="col-lg-4 checkbox">
							<input type="checkbox" style="margin-left:0"/>
						</div>
					</div>

					<!--legend>Content description</legend>
					<div class="form-group">
						<div class="col-lg-12">
							<textarea class="form-control" rows="6" ng-model="need.contentDescription" id="textArea"></textarea>
						</div>
					</div-->
				</fieldset>
			</div>

			<div class="well">
				<fieldset>
					<div class="form-group">
						<label class="col-lg-2 control-label">Price</label>

						<div class="col-lg-3">
							<input type="text" class="form-control" id="inputFromPrice" ng-model="need.lowerPriceLimit" placeholder="min">
						</div>
						<div class="col-lg-1"><label class="control-label">to</label></div>
						<div class="col-lg-3">
							<input type="text" class="form-control" id="inputToPrice" ng-model="need.upperPriceLimit" placeholder="max">
						</div>
						<div class="col-lg-3">
							<select class="form-control" id="select" ng-model="need.currency">
								<option>EUR</option>
								<option>USD</option>
								<option>CZK</option>
								<option>RUB</option>
							</select>
						</div>
					</div>

				</fieldset>
			</div>

			<div class="well">
				<fieldset>
					<legend>Where new need takes place</legend>
					<section id="map">
						<div ui-map="myMap" ui-options="mapOptions" class="map-canvas"
						     ui-event="{'map-click' : 'onClickMap($event,$params, $myMap)'}"></div>
					</section>
					<span class="help-block">Please click on the map above and determine where need takes place</span>
				</fieldset>
			</div>
		</form>
	</div>
</div>