<!--<p>Boostrap:</p>-->
<style>#location-suggestions { z-index: 9999 }</style> <!-- TODO a bit dirty imho just to make sure it's above the map. Maybe the map-controls could be moved to a lower index-->

<form class="input-group" id="locationForm">
    <input type="text" class="form-control" id="addressTextField"
           ng-model="addressText"
           placeholder="e.g. Street 11, Town, Country"
           ui-keypress="{ArrowDown:'onArrowDownInSearchField()', ArrowUp: 'onArrowUpInSearchField()'}"
           autocomplete="off"/> <!--@a.c.=off: we'll use our own dropdown/auto-complete-->

    <ul id="location-suggestions" class="dropdown-menu" role="menu" tabindex="0">
        <li ng-hide="addressSearchResults && addressSearchResults.length > 0" tabindex="0"> <i class="fa fa-circle-o-notch fa-spin"></i> Loading address results...</li>
        <li ng-click="selectAddress(adr)" ng-repeat="adr in addressSearchResults" tabindex="0"><a href="javascript:void(0)">{{adr.display_name}}</a></li>
    </ul>

    <span id="locationDropDownToggle" class="input-group-btn dropdown-toggle" data-dropdown="dropdown">
        <button type="submit" class="btn btn-default" ng-click="submitAddressQuery(addressText)" aria-label="Search">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    <!-- TODO add a 'x' button to clear input (replace search-button?)-->
    </span>
</form><!-- /input-group -->


<!--<hr>-->
<!--<p>angular.ui.bootstrap:</p>-->
<!--<div class="btn-group dropdown" dropdown is-open="isopen">-->
<!--<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>-->
<!--Button dropdown <span class="caret"></span>-->
<!--</button>-->
<!--<ul class="dropdown-menu" role="menu">-->
<!--<li><a href="#">Action</a></li>-->
<!--<li><a href="#">Another action</a></li>-->
<!--<li><a href="#">Something else here</a></li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="#">Separated link</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<button type="button" class="btn btn-default btn-sm" ng-click="toggleDropdown($event)">Toggle button dropdown</button>-->
<!--<hr>-->

<!--<h3>Selected:</h3>-->
<!--<ul>-->
<!--<li>Address: {{selectedAddress.display_name}} </li>-->
<!--<li>Latitude: {{selectedAddress.lat}}</li>-->
<!--<li>Longtitude: {{selectedAddress.lon}}</li>-->
<!--</ul>-->

<div id="leaflet-canvas" style="width: 480px; height: 480px; margin-top: 2em"></div>

<!--<h3>The Unfiltered Response:</h3>-->
<!--<pre>{{addressSearchResults | json}}</pre>-->
