
<div class="col-lg-12">
	<div class="row-fluid">
		<div class="col-lg-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav nav-progress-justified">
                            <!--<li class="active fill centered-text"
                                ng-show="showPublic(1)"><a href=""
                                                           ng-click="jumpToStep({num:1})">Step
                                1<br>
                                Type</a></li>
                            <li class="centered-text" ng-show="!showPublic(1)"><a href=""
                                                                              ng-click="jumpToStep({num:1})">Step 1 <br>
                                Type</a></li>                 -->
                            <li class="active centered-text" ng-show="showPublic(1)">
                                <a href="" ng-click="jumpToStep({num:1})">Step 1<br>Basic Description</a>
                            </li>
                            <li class="centered-text" ng-show="!showPublic(1)">
                                <a href="" ng-click="jumpToStep({num:1})">Step 1<br>Basic Description</a>
                            </li>
                            <li class="active centered-text" ng-show="showPublic(2)">
                                <a href="" ng-click="jumpToStep({num:2})">Step 2<br>Additional Data</a>
                            </li>
                            <li class="centered-text" ng-show="!showPublic(2)">
                                <a href="" ng-click="jumpToStep({num:2})">Step 2<br>Additional Data</a>
                            </li>
                            <li class="active centered-text" ng-show="showPublic(3)">
                                <a href="" ng-click="jumpToStep({num:3})">Step 3<br>Preview</a>
                            </li>
                            <li class="centered-text" ng-show="!showPublic(3)">
                                <a href="" ng-click="jumpToStep({num:3})">Step 3<br>Preview</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
		</div>
	</div>
</div>
