Hi there,

#if ($localAtomTitle)
We have news regarding your post '$localAtomTitle' on $serviceName:
#else
We have news regarding one of your posts on $serviceName:
#end

#if ($targetAtomTitle)
The user who posted '$targetAtomTitle' just terminated a conversation with you.
#else
Someone just terminated a conversation with you.
#end

#if ($textMsg)
    They wrote this message:
    
    $textMsg
#end

Best wishes, 

The team at $serviceName


Links:
======

Go to the conversation: $linkConnection

Open your post: $linkLocalAtom

Open their post: $linkTargetAtom
