Hi there,

We have news regarding your post '$localAtomTitle' on $serviceName:

The user who posted '$targetAtomTitle' wants to start a conversation with your post.

#if ($textMsg)
    They wrote this message:
    
    $textMsg
#end
    
View the conversation: $linkConnection
View your post: $linkLocalAtom  
View their post: $linkTargetAtom

Best wishes, 

The team at $serviceName