Hi there,

#if ($localAtomTitle)
We have news regarding your post '$localAtomTitle' on $serviceName:
#else
We have news regarding one of your posts on $serviceName:
#end

#if ($targetAtomTitle)
The user who posted '$targetAtomTitle' invites you to start a conversation!
#else
Someone invites you to start a conversation!
#end

#if ($textMsg)
    They wrote this welcome message:

    $textMsg
#end

Best wishes, 

The team at $serviceName


Links:
======

Go to the conversation: $linkConnection

Open your post: $linkLocalAtom

Open their post: $linkTargetAtom
