<div>
    <p> Hi there,</p>
    <p>
        Your recently started account export has been completed.
    </p>
    <p>
        Please find the exported data attached.
    </p>
    <span>Best Wishes,</span> <br/>
        <span>Owner application team</span>
    </p>
</div>
