<div>
    <p> Hi there,</p>
    <p>
        Unfortunately a recently started export of your account data did not succeed.
    </p>
    <p>
        Please try again later or contact the support of your instance if the problem persists.
    </p>
    <span>Best Wishes,</span> <br/>
        <span>Owner application team</span>
    </p>
</div>
