Hi there,

Unfortunately a recently started export of your account data did not succeed.

Please try again later or contact the support of your instance if the problem persists.

Best Wishes,

Owner application team