Hi there,

#if ($targetAtomTitle && $localAtomTitle)
We found the post '$targetAtomTitle' which be relevant regarding your post '$localAtomTitle'!
#elsif ($targetAtomTitle)
We found the post '$targetAtomTitle' which may be relevant regarding one of your posts!
#elsif ($localAtomTitle)
We found a post that may be relevant regarding your post '$localAtomTitle'!
#else
We found a post that may be relevant regarding one of your posts!
#end

Go to your post: $linkLocalAtom

Best wishes, 

The team at $serviceName