<div>
    <p> Hi there,</p>
    <p>The posting '<a href="$linkRemoteNeed">$remoteNeedTitle</a>' might be interesting for your posting
        <a href="$linkLocalNeed">$localNeedTitle</a>.
    </p>
    <p><a href="$linkConnection">[Click here to request a conversation]</a></p>
    <br/>
    <p> <span>Best Wishes,</span> <br/>
        <span>Owner application team</span>
    </p>
</div>
