Hi there,

We have news regarding your post '$localAtomTitle' on $serviceName:

We've received a hint that the post '$targetAtomTitle' may be a good match for you.
    
Contact the user: $linkConnection
View your post: $linkLocalAtom  
View their post: $linkTargetAtom

Best wishes, 

The team at $serviceName