Hi there,

We have news regarding your post '$localNeedTitle' on $serviceName:

The server hosting your post '$localNeedTitle' says:

    $textMsg

View your post: $linkLocalNeed

Best wishes, 

The team at $serviceName