<div>
    <p> Hi there,</p>
    <p>The WoN node that hosts your posting <a href="$linkLocalNeed">$localNeedTitle</a> says:
    </p>
    <p style="border-left:thick solid #808080=;"><span style=3D"margin-left:5px;color:#808080;">$textMsg</span></p>
    <br/>
    <p> <span>Best Wishes,</span> <br/>
        <span>Owner application team</span>
    </p>
</div>
