Hi there,

A new recovery key was generated for your account at $serviceName.

You will be asked to enter this key to reset your password in case you forget it.  

$recoveryKey

Best wishes, 

The team at $serviceName