<div>
    <p> Hi there,</p>
    <p>Your posting <a href="$linkLocalNeed">$localNeedTitle</a> was deactivated by the WoN node that hosts it.

    </p>
    #if ($textMsg)
        Explanation: <br/>
        <p style="border-left:thick solid #808080=;"><span style=3D"margin-left:5px;color:#808080;">$textMsg</span></p>
    #end
    <br/>
    <p> <span>Best Wishes,</span> <br/>
        <span>Owner application team</span>
    </p>
</div>
