Hi there,

We have news regarding your post '$localAtomTitle' on $serviceName:

The conversation between '$targetAtomTitle' and your post
        '$localAtomTitle' was closed by your server.
#if ($textMsg)
Explanation:<br/>
    $textMsg
#end
    
View the conversation: $linkConnection
View your post: $linkLocalAtom  
View their post: $linkTargetAtom

Best wishes, 

The team at $serviceName