<div>
    <p> Hi there,</p>
    <p>The conversation between '<a href="$linkRemoteNeed">$remoteNeedTitle</a>' and your posting
        <a href="$linkLocalNeed">$localNeedTitle</a> was closed by the WoN node that hosts your need.
    </p>
    #if ($textMsg)
        Explanation:<br/>
        <p style="border-left:thick solid #808080=;"><span style=3D"margin-left:5px;color:#808080;">$textMsg</span></p>
    #end
    <p><a href="$linkConnection">[Click here to view the conversation]</a></p>
    <br/>
    <p> <span>Best Wishes,</span> <br/>
        <span>Owner application team</span>
    </p>
</div>
